{% if talk.sponsor or talk.is_community_chosen or talk.keynote %}
<p>
    {% if talk.sponsor %}
        <span class="green label" title="This talk is sponsored by {{ talk.sponsor.name }}">
            Sponsored
        </span>
    {% endif %}

    {% if talk.is_community_chosen %}
        <span class="yellow label" title="This talk was chosen by the community vote">
            Community
        </span>
    {% endif %}

    {% if talk.keynote %}
        <span class="yellow label">Keynote</span>
    {% endif %}
</p>
{% endif %}
