{% load webcamp %}

<div class="grid-item">
  <div class="grid-item-image">
    <a href="{% url 'talks_view_talk' slug=talk.slug %}">
      <img src="{{ talk.image_url }}" />
    </a>
  </div>

  <div class="grid-item-data">
    <div class="speaker">
      {{ talk.speaker_names }}
    </div>

    <h3>
      <a href="{% url 'talks_view_talk' slug=talk.slug %}">
        {{ talk.title }}
      </a>
    </h3>
  </div>

  <div class="grid-item-meta">
    <div>{{ talk.skill_level|skill_level }}</div>
    <div class="text-right gray">{{ talk.duration }} min</div>
  </div>
</div>
