{% load webcamp %}

<div class="talk-grid-item">
    <a href="{% url 'talks_view_talk' slug=talk.slug %}">
        <div class="talk-photo" style="background-image: url('{{ talk.image_url }}')">
            <div class="talk-photo-overlay {{ talk.skill_level.name|lower }}"></div>
        </div>
    </a>

    <div class="talk-data" data-equalizer-watch>
        <div class="speaker">
            {{ talk.speaker_names }}
        </div>

        <div class="talk-title">
            <a href="{% url 'talks_view_talk' slug=talk.slug %}">
                {{ talk.title }}
            </a>
        </div>
    </div>

    <div class="talk-meta">
        <div class="row">
            <div class="columns">
                {{ talk.skill_level|skill_level }}
            </div>
            <div class="shrink columns text-right">
                <span class="gray">{{ talk.duration }} min</span>
            </div>
        </div>
    </div>
</div>
