{% load static %}

<article class="talk-short">
    <div class="row">
        <div class="show-for-medium medium-3 columns">
            <img src="{{ MEDIA_URL }}{{ talk.application.applicant.image }}"
                 alt="Photo of {{ talk.application.applicant.user.get_full_name }}">
        </div>

        <div class="small-12 medium-9 columns">
            {% if talk.co_presenter %}
                <p>
                    <span>Speakers:</span>
                    <a href="{% url 'talks_view_talk' slug=talk.slug %}#speaker">{{ talk.application.applicant.user.get_full_name }}</a>,
                    <a href="{% url 'talks_view_talk' slug=talk.slug %}#speaker2">{{ talk.co_presenter.user.get_full_name }}</a>
                </p>
            {% else %}
                <p>
                    <span>Speaker:</span>
                    <a href="{% url 'talks_view_talk' slug=talk.slug %}#speaker">{{ talk.application.applicant.user.get_full_name }}</a>
                </p>
            {% endif %}

            <h3>
                <a href="{% url 'talks_view_talk' slug=talk.slug %}">
                    {{ talk.title }}
                </a>
            </h3>

            {% include "talks/partials/flags.html" %}

            <p>{{ talk.about }}</p>

            <p>{% include "talks/partials/attributes.html" %}</p>
        </div>
    </div>
</article>
