{% load static %}

<article class="talk-short">
    <div class="row">
        <div class="show-for-medium medium-3 columns">
            <a href="{% url 'talks_view_talk' slug=talk.slug %}">
                {% with applicant=talk.applicants.all|random %}
                <img src="{{ MEDIA_URL }}{{ applicant.image }}"
                     alt="Photo of {{ applicant.full_name }}">
                {% endwith %}
            </a>
        </div>

        <div class="small-12 medium-9 columns">
            <p>
                <span>Speaker{% if talk.applicants.count > 1 %}s{% endif %}:</span>
                <strong>{{ talk.speaker_names }}</strong>
            </p>

            <h3>
                <a href="{% url 'talks_view_talk' slug=talk.slug %}">
                    {{ talk.title }}
                </a>
            </h3>

            {% include "talks/partials/flags.html" %}

            <p>{{ talk.about }}</p>

            <p>{% include "talks/partials/attributes.html" %}</p>
        </div>
    </div>
</article>
