{% extends 'ui/base.html' %}

{% block title %}Tickets for sale - {{ webcamp.extended_title }}{% endblock %}

{% block head %}
    <meta name="description" content="Tickets are available and valid for both conference days. They include a T-shirt and a swag bag with goodies. The price is 500HRK (~€65). Grab them now!">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Tickets still available, but not for long!" />
    <meta property="og:description" content="Tickets are available and valid for both conference days. They include a T-shirt and a swag bag with goodies. The price is 500HRK (~€65). Grab them now!" />
    <meta property="og:image" content="https://2015.webcampzg.org/static/images/webcamp-tickets-for-sale.jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
{% endblock %}

{% block content %}

    {% include "partials/header.html" with hero_type="main" title="Tickets" %}

    <section class="Spotlight">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <div class="Passage">
                <h2 class="Spotlight-title">Acquiring tickets</h2>
                <div class="Spotlight-body">
                    <p>Tickets are sold via <a href="https://www.entrio.hr/en/event/webcamp-zagreb-2015-2150">Entrio online shop</a>. You can pay by credit card (Mastercard, Maestro, Visa, Amex, Diners) or bank transfer. The latter may take a few days to process though.</p>
                    <p>There's only one category of tickets, which will get you entrance to both conference days and includes a T-shirt and a swag bag with goodies. The price of the ticket is 500HRK (~€65).</p>
                    <p>We will host a number of quality <a href="/talks">talks</a> including two keyspeakers. Furthermore, this year we introduced a concept of <a href="/blog/view/introducing-popular-vote/">popular vote</a>, which means that ticket holders voted on three more talks to be included in an official talks roster.</p>
                    <p>If you don't want to pay for a ticket, submit a talk to one of our user groups today: <a href="http://www.meetup.com/FrontmanZg/">Frontman Zagreb</a>, <a href="http://www.meetup.com/JavaScript-Zagreb/">Javascript Zagreb</a>, <a href="http://www.meetup.com/lambdazagreb/">Lambda Zagreb</a>, <a href="http://www.mscommunity.hr/">Microsoft Community Hrvatska</a>, <a href="http://www.meetup.com/Python-Hrvatska/">Python Hrvatska</a>, <a href="http://www.meetup.com/rubyzg/">RubyZG</a>, <a href="http://www.meetup.com/Web-Designers-Hrvatska-ZG-Meetup/">Web Designers Hrvatska</a> or <a href="http://zgphp.org/"  target="_blank">ZgPHP</a>. All speakers who speak at a meetup before the conference will get a free ticket.</p>
                    <p>By buying a ticket, you agree to follow our <a href="/code">Code of Conduct</a>.</p>
                    <p>Tickets are in limited number so get them while you can!</p>

                    <script src="https://www.entrio.hr/en/widgets/single_event_widget/1322/dark"></script>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/sponsors.html" %}

    {% include "partials/user-groups.html" %}

{% endblock %}

