{% extends 'ui/base.html' %}
{% load fb_versions %}
{% load static %}
{% block title %}WebCampZG 2015{% endblock %}
{% block content %}

    {% include "partials/header.html" with hero_type="cfp" title="Talks" %}

    <section class="Listing Spotlight Spotlight--beta">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <ul class="Listing-list">
                {% for keynote in keynotes %}
                <li>
                    {% include "talks/partials/talk.html" with talk=keynote %}
                </li>
                {% endfor %}
                {% for talk in talks %}
                <li>
                    {% include "talks/partials/talk.html" with talk=talk %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    {% include "partials/tickets.html" %}

    {% include "partials/sponsors.html" %}

{% endblock %}
