{% extends 'ui/base.html' %}
{% load fb_versions %}
{% load static %}

{% block title %}Speakers and Talks - WebCamp Zagreb Conference 2015{% endblock %}

{% block head %}
    <meta name="description" content="This years's WebCamp Zagreb conference speakers bring us interesting talks on various web dev topics. Jaime Levy and Bob Ippolito join us as keynote speakers!">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Speakers and Talks - WebCamp Zagreb Conference 2015" />
    <meta property="og:description" content="This years's WebCamp Zagreb conference speakers bring us interesting talks on various web dev topics. Jaime Levy and Bob Ippolito join us as keynote speakers!" />
    <meta property="og:image" content="https://2015.webcampzg.org/static/images/webcamp-tickets-for-sale.jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
{% endblock %}

{% block content %}

    {% include "partials/header.html" with hero_type="cfp" title="Talks" keynote=True %}

    <section class="Listing Spotlight Spotlight--beta">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <ul class="Listing-list">
                {% for talk in talks %}
                <li class="Listing-item">
                    {% include "talks/partials/talk.html" with talk=talk %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    {% include "partials/sponsors.html" %}

    {% include "partials/user-groups.html" %}

{% endblock %}
