{% extends 'ui/page.html' %}

{% load fb_versions %}
{% load markdown_deux_tags %}

{% block title %}
    {{ talk.application.applicant.user.get_full_name }}:
    {{ talk.title }} - {{ webcamp.extended_title }}
{% endblock %}

{% block head %}
    <meta name="description" content="{{ talk.about }}">
{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ talk.application.applicant.user.get_full_name }}: {{ talk.title }} - {{ webcamp.extended_title }}" />
    <meta property="og:description" content="{{ talk.about }}" />
    <meta property="og:image" content="{{ base_url }}{% version talk.application.applicant.image 'big' %}" />
{% endblock %}

{% block content %}
    <article class="talk-detail">
        <h1 class="red-arrow">{{ talk.title }}</h1>

        <p class="excerpt">{{ talk.about }}</p>

        {{ talk.abstract|markdown }}

        <p>{% include "talks/partials/attributes.html" %}</p>

        {% include "talks/partials/speaker.html" with applicant=talk.application.applicant only %}

        {% if talk.co_presenter %}
            {% include "talks/partials/speaker.html" with applicant=talk.co_presenter only %}
        {% endif %}
    </article>
{% endblock %}
