{% extends 'ui/base.html' %}

{% load webcamp markdown_deux_tags %}

{% block title %}
    {{ talk.speaker_names }}:
    {{ talk.title }} - {{ event.extended_title }}
{% endblock %}

{% block head %}
    <meta name="description" content="{{ talk.about }}">
{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ talk.speaker_names }}: {{ talk.title }}" />
    <meta property="og:description" content="{{ talk.about }}" />
{% endblock %}

{% block og_image %}
    <meta property="og:image" content="{{ base_url }}{{ talk.application.applicant.image.url }}" />
    <meta property="og:image:width" content="{{ talk.application.applicant.image.width }}" />
    <meta property="og:image:height" content="{{ talk.application.applicant.image.height }}" />
{% endblock %}

{% block basecontent %}
<article class="talk-detail">
    <div class="container">
        <h1>{{ talk.title }}</h1>

        <p class="excerpt">{{ talk.about }}</p>

        {{ talk.abstract|markdown }}

        <p>{% include "talks/partials/attributes.html" %}</p>

        {% if talk.sponsor %}
        <p>
            <em>Talk sponsored by</em><br />
            <a href="{% url 'sponsors_view_sponsor' slug=talk.sponsor.slug %}">
                <img style="max-width: 20rem" src="{{ MEDIA_URL }}{{ talk.sponsor.image }}" alt="{{ talk.sponsor }}" />
            </a>
        </p>
        {% endif %}

        {% if talk.rate_url or talk.slides_url %}
        <p>
            {% if talk.slides_url %}
                <a href="{{ talk.slides_url }}" class="arrow button">
                    View slides
                </a>
            {% endif %}

            {% if talk.rate_url %}
                <a href="{{ talk.rate_url }}" class="button">
                    Rate talk
                </a>
            {% endif %}
        </p>
        {% endif %}

        {% if talk.youtube_id %}
            {{ talk.youtube_id|embed_youtube }}
        {% endif %}
    </div>
    <hr />

    <div class="container">
        {% for applicant in talk.applicants.all %}
            {% include "talks/partials/speaker.html" with applicant=applicant %}
        {% endfor %}
    </div>
</article>
{% endblock %}
