{% extends 'ui/page.html' %}

{% load markdown_deux_tags %}

{% block title %}
    {{ talk.application.applicant.user.get_full_name }}:
    {{ talk.title }} - {{ event.extended_title }}
{% endblock %}

{% block head %}
    <meta name="description" content="{{ talk.about }}">
{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ talk.application.applicant.user.get_full_name }}: {{ talk.title }}" />
    <meta property="og:description" content="{{ talk.about }}" />
{% endblock %}

{% block og_image %}
    <meta property="og:image" content="{{ base_url }}{{ talk.application.applicant.image.url }}" />
    <meta property="og:image:width" content="{{ talk.application.applicant.image.width }}" />
    <meta property="og:image:height" content="{{ talk.application.applicant.image.height }}" />
{% endblock %}

{% block content %}
    <article class="talk-detail">
        <h1 class="red-arrow">{{ talk.title }}</h1>

        <p class="excerpt">{{ talk.about }}</p>

        {{ talk.abstract|markdown }}

        <p>{% include "talks/partials/attributes.html" %}</p>

        {% include "talks/partials/speaker.html" with applicant=talk.application.applicant %}

        {% if talk.co_presenter %}
            {% include "talks/partials/speaker.html" with applicant=talk.co_presenter %}
        {% endif %}
    </article>
{% endblock %}
