.button {
    font-weight: bold;
    text-transform: uppercase;
    font-family: $body-font-family;

    &.purple {
        color: $white;
        background-color: $purple;

        &:hover {
            background-color: scale-color($purple, $lightness: -15%);
        }

        &.arrow {
            &:before {
                color: $yellow;
            }
        }
    }

    &.blue {
        color: $white;
        background-color: $blue;

        &:hover {
            background-color: scale-color($blue, $lightness: -15%);
        }

        &.arrow {
            &:before {
                color: $yellow;
            }
        }
    }

    &.yellow {
        color: $black;
        background-color: $yellow;

        &:hover {
            background-color: scale-color($yellow, $lightness: -15%);
        }

        &.arrow {
            &:before {
                color: $red;
            }
        }
    }

    &.green {
        color: $black;
        background-color: $green;

        &:hover {
            background-color: scale-color($green, $lightness: -15%);
        }

        &.arrow {
            &:before {
                color: $red;
            }
        }
    }
}