.footer {
    padding: 3rem 0;
    background-color: #222222;
    color: $dark-gray;

    a {
        color: $dark-gray;
    }

    hr {
        border-color: $dark-gray;
        margin: 2rem 0;
    }

    .footer-row {
        font-weight: bold;

        > .columns {
            padding: 0 2rem;
            margin-bottom: 1rem;
        }
        > .columns:not(:last-child) {
            border-right: 1px solid $dark-gray;
        }
    }

    .logo {
        margin-bottom: 1rem;
    }

    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        a {
            display: block;
        }
    }

    .scroll-to-top {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            display: block;
            text-align: center;
            img {
                margin-bottom: 1rem;
            }
        }
    }
}
