.hero-wrapper {
  background-color: $yellow;
  position: relative;
  height: 554px;
  width: 100%;
  text-align: center;
}

.cover-tetris {
  height: 100%;
  max-width: 940px;
}

.hero-banner-wrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  transform: translate(-50%, 0%);
  width: 50%;;
  text-align: center;
}

.hero-banner {
  max-width: 820px;
}