.hero-wrapper {
    background-color: $yellow;
    background-position-x: center;
    // background-repeat: no-repeat;
    height: 554px;

    display: flex;
    align-items: center;
    justify-content: center;

    .hero {
        max-width: 830px;
    }
}
