.hero-wrapper {
    background-color: black;
    background-image: url("../images/2018/hero_background.svg");
    background-position-x: center;
    // background-repeat: no-repeat;
    height: 554px;

    display: flex;
    align-items: center;
    justify-content: center;

    .hero {
        max-width: 830px;
    }
}
