span.icon {
    display: inline-block;

    svg {
        vertical-align: middle;
        height: 1em;
        width: auto;
    }

    &.blue { svg { fill: $blue } }
    &.red { svg { fill: $red } }
    &.purple { svg { fill: $purple } }
    &.green { svg { fill: $green } }
    &.yellow { svg { fill: $purple } }
}
