.keynotes-block {
    .columns {
        padding-top: 2rem;
    }

    .columns:first-child {
        background-color: $green;

        @include breakpoint(medium) {
            text-align: right;
        }
        @include breakpoint(large) {
            padding-right: 40px;
        }
    }

    .columns:last-child {
        background-color: $blue;

        @include breakpoint(medium) {
            text-align: left;
        }
        @include breakpoint(large) {
            padding-left: 40px;
        }
    }

    .heart-center {
        position: relative;

        img {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: -30px;
        }
    }
}