.nav-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid black;

    a {
        font-weight: 500;
        font-size: 0.9rem;
        text-transform: uppercase;
    }

    .logo {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        height: 128px;
        width: 128px;
        background-image: url("../images/wczg2017_logo_cb.svg");
        background-size: cover;
        z-index: 10;

        &:hover {
            background-image: url("../images/wczg2017_logo_color.svg");
        }
    }

    .nav-left {
        margin-left: 12rem;
    }

    .nav-links {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;

        .heart {
            color: $red;
            margin-right: 1rem;
            cursor: default;
        }

        .link {
            flex-grow: 1;
            margin-left: 1rem;


            &:not(:last-child) > a {
                padding-right: 0;
                &::after {
                    content: ":";
                    margin-left: 1rem;
                    color: $blue;
                }
            }
        }
    }

    .nav-right {
        display: flex;

        align-items: center;
        background-color: $light-gray;
        height: calc(4rem - 2px);

        a {
            display: block;
            padding: 0 1rem;
        }

        &:hover {
            background-color: scale-color($light-gray, $lightness: -5%);
        }
   }
}

.mobile-nav-bar {
    border-bottom: 3px solid $black;
    padding: 0.5rem;
}

#mobile-nav-menu {
    border-bottom: 2px solid $black;

    .mobile-nav-links {
        padding: 1rem;

        a {
            line-height: 2rem;
            font-size: 1.1rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            display: block;
        }
    }

    .mobile-nav-buttons {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: stretch;

        a {
            width: 50%;
            line-height: 3.5rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;

            &:first-child {
                background-color: $purple;
                color: $light-gray;
            }

            &:last-child {
                background-color: $lighter-gray;
                color: #9b9b9b;
            }
        }
    }
}
