.newsletter {
    background-color: $dark-blue;
    color: $white;
    text-align: center;
    padding: 5rem 0;

    h2 {
        margin-bottom: 3rem;
    }
}

/* Large and up */
@include breakpoint(large) {
    .newsletter {
        input {
            height: 4rem;

            &[type='email'] {
                padding-left: 2rem;
            }

            &[type='submit'] {
                font-size: 20px;
            }
        }
    }
}
