.newsletter {
    background-color: $blue;
    color: $black;
    text-align: center;
    padding: 5rem 0;

    h2 {
        margin-bottom: 3rem;
    }

    label {
        font-weight: bold;
        font-size: 1rem;
    }
}

/* Large and up */
@include breakpoint(large) {
    .newsletter {
        input {
            &[type='email'] {
                height: 4rem;
                padding-left: 2rem;
            }

            &[type='submit'] {
                height: 4rem;
                font-size: 20px;
            }
        }
    }
}
