$black:        #0A0A0A;
$white:        #FEFEFE;
$lighter-gray: #F7F7F7;
$light-gray:   #E6E6E6;
$medium-gray:  #CACACA;
$dark-gray:    #4A4A4A;
$blue:         #47C5C2;
$red:          #FA4748;
$purple:       #9013FD;
$green:        #C0E413;
$yellow:       #E5E513;
