.posts {
    background-color: $lighter-gray;
    padding: 3rem 0;

    h1, h3 {
        margin-top: 0;
    }

    .post {
        border: 5px solid black;
        padding: 1rem;
        padding-bottom: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .archive {
        a {
            color: purple;
        }
        margin-top: 2rem;
        font-size: 1.2rem;
    }
}
