.schedule {
    .track-logo {
        max-height: 3.5rem;
    }

    .schedule-table {
        td {
            border-left: 1px solid WhiteSmoke;
        }

        td:first-child {
            min-width: 6rem;
            text-align: center;
        }

        .spacer {
            background-color: $light-gray;
            text-align: center;
        }
    }
}
