.call-for-sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 25rem;

    h1 {
        font-size: 50px;
        font-weight: bold;
        color: $dark-gray;
    }

    a {
        padding: 1.5rem 2.5rem;
    }
}

.sponsors-wrapper {
    padding: 2rem 0;

    h1 {
        margin-top: 0rem;
    }
}

.sponsor-list {
    margin-top: 2rem;

    &.diamond img {
        max-height: 10rem;
    }

    &.lanyard img {
        max-height: 6rem;
    }

    &.track img {
        max-height: 6rem;
    }

    &.foodanddrinks img {
        max-height: 5rem;
    }

    &.standard img {
        max-height: 4rem;
    }

    &.supporter img {
        max-height: 2rem;
    }

    .column {
        text-align: center;
        margin-bottom: 2rem;
    }
}
