.call-for-sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 25rem;

    h1 {
        font-size: 50px;
        font-weight: bold;
        color: $dark-gray;
    }

    a {
        padding: 1.5rem 2.5rem;
    }
}

.sponsors-wrapper {
    padding: 2rem 0;

    h1 {
        margin-top: 0rem;
    }
}

.sponsor-list {
    margin-top: 2rem;

    img {
        margin-top: 1rem;
    }

    &.diamond img {
        max-height: 10rem;
    }

    &.lanyard img {
        max-height: 6rem;
    }

    &.track img {
        max-width: 17rem;
    }

    &.foodanddrinks img {
        max-width: 12rem;
    }

    &.standard img {
        max-height: 2.5rem;
    }

    &.supporter img {
        max-height: 2rem;
    }

    // Tweaks for specific logos
    .trikoder img {
        max-width: 20rem;
    }
    .dobarkod img {
        max-width: 16rem;
    }
    .ecxio img {
        max-width: 10rem;
    }
    .deegloo img {
        max-height: 2.5rem;
    }
    .flow-and-form img {
        max-height: 3.4rem;
    }
}
