
.talk-short {
    img {
        width: 100%;
    }
}

.talk-detail {
    .excerpt {
        font-style: italic;
    }
}

.talk-grid {
    background-image: url("../images/talk-grid-background.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    min-height: 600px;
    padding: 3rem 0;

    .talk-grid-item {
        border: 5px solid $black;
        margin-bottom: 2rem;

        .talk-photo {
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            height: 200px;
            border-bottom: 5px solid black;
            position: relative;

            .talk-photo-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;

                &.red {
                    background-color: rgba($red, 0.5);
                }
                &.green {
                    background-color: rgba($green, 0.5);
                }
                &.purple {
                    background-color: rgba($purple, 0.5);
                }
            }
        }

        .talk-data, .talk-meta {
            padding: 1rem;
        }

        .talk-meta {
            font-style: italic;
        }

        .speaker {
            font-size: 18px;
        }

        .talk-title {
            font-size: 20px;
            margin-top: 1rem;

            a {
                font-weight: 500;
            }
        }
    }
}
