.call-for-tickets {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

    h1 {
        font-size: 50px;
        font-weight: bold;
        color: $dark-gray;
    }

    a {
        padding: 1.5rem 2.5rem;
    }
}
