.usergroups-wrapper {
    background-color: $lighter-gray;
    padding: 2rem 0;

    h1 {
        margin-top: 0rem;
    }

    .usergroups-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .usergroup {
            margin-bottom: 2rem;
            img {
                height: 9rem;
            }
            &.javascript-zagreb img {
                height: 10rem;
            }
            &.python-hrvatska img {
                height: 7rem;
            }
            &.testival img {
                height: 6rem;
            }
            &.wdhr img {
                height: 6rem;
            }
        }
    }
}
