@import "palette";
@import "settings";
@import "foundation";

@include foundation-everything(true);

@import "buttons";
@import "footer";
@import "forms";
@import "hero";
@import "jobs";
@import "keynotes";
@import "navigation";
@import "newsletter";
@import "posts";
@import "schedule";
@import "sponsors";
@import "talks";
@import "tickets";

// Basic typography adjustments

a {
    font-weight: bold;

    .normal {
        font-weight: normal;
    }
}


h1 {
    font-weight: 500;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 500;
    margin-bottom: 2rem;
}

h3 {
    font-weight: 400;
    margin-bottom: 1rem;
}

h4 {
    margin-bottom: 1rem;
}


// Basic elements

.content {
    margin-top: 3rem;
    margin-bottom: 3rem;
    min-height: 20rem;
}

// Colors

.blue {
    color: $blue;
}

.red {
    color: $red;
}

.purple {
    color: $purple;
}

.green {
    color: $green;
}

.yellow {
    color: $yellow;
}

.gray {
    color: #8a8a8a;
}

a:not(.button).yellow {
    &:visited {
        color: $yellow;
    }
    &:hover {
        color: scale-color($yellow, $lightness: -10%);
    }
}

// Labels

.label.purple {
    background-color: $purple;
    color: $white;
}

.label.blue {
    background-color: $blue;
    color: $white;
}

.label.green {
    background-color: $green;
    color: $white;
}

.label.yellow {
    background-color: $yellow;
    color: $black;
}


// Arrows

@mixin arrow($color) {
    &::before {
        content: ">";
        padding-right: .5rem;
        color: $color;
        font-weight: normal;
    }
}

.arrow {
    @include arrow("inherit");
}

.red-arrow {
    @include arrow($red);
}

.yellow-arrow {
    @include arrow($yellow);
}

.green-arrow {
    @include arrow($green);
}

.blue-arrow {
    @include arrow($blue);
}

// Utils

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-wrap {
    white-space: nowrap;
}


// Thumbnails

.thumbnail {
    &.small {
        max-width: 5rem;
    }
    &.medium {
        max-width: 8rem;
    }
}

@keyframes pounding{
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

.pounding:hover {
    animation: pounding .5s linear infinite alternate;
}

table.align-top {
    td, th {
        vertical-align: top;
    }
}
