/**
 * =============================================================================
 * Button
 * =============================================================================
 */

.Button {
    @include Button;
    padding:0.25em 1em;
    font-size:1.7em;

    &:hover,
    &:focus {
        text-decoration:none;
    }

    @media screen and (min-width:$bp-beta) {
        font-size:2.3em;
    }
}

.Button--full {
    width:100%;
}

.Button--rounded {
    @include Button--rounded;
}

/**
 * Variations
 * -----------------------------------------------------------------------------
 */

.Button--alpha {
    @include Button--alpha;
}

.Button--beta {
    @include Button--beta;
}

.Button--gamma {
    @include Button--gamma;
}
