/**
 * =============================================================================
 * Sponsors
 * =============================================================================
 */

.Sponsors,
.QuickSponsors {
    color:$color-brand-alpha;
}

.Sponsors,
.QuickSponsors {

    &-list {
        text-align:center;
        font-size:0;
    }
}

/**
 * Sponsor item
 * -----------------------------------------------------------------------------
 */

.Sponsors,
.QuickSponsors {

    &-item {
        display:inline-block;
        font-size:1rem;
    }

    &-link {
        display:block;

        &:hover,
        &:focus {

            .Sponsors-logo,
            .QuickSponsors-logo {
                opacity:0.8;
            }
        }
    }

    &-logo {
        width:100%;
        transition:opacity 0.07s ease-in-out;
        vertical-align:middle;

        &[src$=".png"] {
            // width:auto;
        }
    }
}
