/**
 * =============================================================================
 * Sponsors
 * =============================================================================
 */

.Sponsors {
    color:$color-brand-alpha;

    &-list {
        text-align:center;
        font-size:0;
    }

    &-item {
        display:block;
        font-size:1rem;

        @media screen and (min-width:$bp-alpha) {
            display:inline-block;
        }
    }

    &-link {
        display:block;
        padding:1.5rem 0.2rem;

        &:hover,
        &:focus {

            .Sponsors-logo {
                opacity:0.8;
            }
        }

        @media screen and (min-width:$bp-alpha) {
            padding:1rem;
        }

        @media screen and (min-width:$bp-gamma) {
            padding:1.5rem;
        }
    }

    &-logo {
        width:100%;
        transition:opacity 0.07s ease-in-out;
        vertical-align:middle;

        &[src$=".png"] {
            width:auto;
        }
    }
}

/**
 * Sponsor types
 * -----------------------------------------------------------------------------
 */

.Sponsors {

    &-type {

        &--diamond,
        &--track,
        &--media {

            @media screen and (min-width:$bp-alpha) and (max-width:$bp-beta - 1) {

                .Sponsors-item {
                    display:block;
                }
            }
        }

        &--media,
        &--track {

            @media screen and (min-width:$bp-beta) {

                .Sponsors-list {
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    flex-wrap:wrap;
                }

                .Sponsors-item {
                    display:flex;
                    align-self:stretch;
                    width:percentage(1/2);
                }

                .Sponsors-link {
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    width:percentage(1);
                }
            }
        }

        &--standard,
        &--supporter {

            @media screen and (min-width:$bp-alpha) {

                .Sponsors-list {
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    flex-wrap:wrap;
                }

                .Sponsors-item {
                    display:flex;
                    align-self:stretch;
                    width:percentage(1/2);
                    padding:0.3rem 0.7rem;
                }

                .Sponsors-link {
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    width:percentage(1);
                }
            }

            @media screen and (min-width:550px) and (max-width:700px - 1) {

                .Sponsors-list {
                    padding:1rem 3rem;
                }
            }
        }

        &--diamond {

            @media screen and (min-width:$bp-beta) {
                padding-right:5rem; padding-left:5rem;

                .Sponsors-item {
                    width:percentage(1);
                }
            }

            @media screen and (min-width:950px) {
                padding-right:10rem; padding-left:10rem;
            }
        }

        &--standard {

            .Sponsors-logo {
                max-height:4rem;

                &[src*="aduro"] {
                    max-height:1.9rem;
                }

                &[src*="HRC"] {
                    max-height:5.3rem;
                }
            }

            @media screen and (min-width:700px) {

                .Sponsors-item {
                    width:percentage(1/4);
                }
            }
        }

        &--media {

            .Sponsors-item {
                justify-content:center;
            }

            .Sponsors-item--mainMedia {

                .Sponsors-link {
                    width:85%;
                }
            }

            .Sponsors-item--media {

                .Sponsors-link {
                    width:55%;
                }
            }

            .Sponsors-desc {
                margin-top:0.2rem;
                font-size:0.9rem;
                color:$color-gray-alpha;
            }
        }

        &--supporter {

            .Sponsors-logo {
                max-height:2rem;

                &[src*="locastic"] {
                    max-width:4rem;
                    max-height:1.8rem;
                }
            }

            @media screen and (min-width:700px) {

                .Sponsors-item {
                    width:percentage(1/5);
                }
            }
        }
    }
}

