/**
 * =============================================================================
 * Detailed sponsors list
 * =============================================================================
 */


.Sponsors--detailedList {

    .Sponsors {

        &-block {
            position:relative;
            padding:1rem;

            @media screen and (min-width:$bp-alpha) {
                padding:1rem;
            }

            @media screen and (min-width:$bp-gamma) {
                padding:3rem;
            }

            @media screen and (min-width:950px) {
                padding:4.5rem;
            }
        }

        &-flag {
            position:absolute; left:1rem; bottom:100%;
            transform:translateY(50%);

            @media screen and (min-width:$bp-beta) and (max-width:$bp-gamma - 1) {
                font-size:0.7rem;
            }
        }

        &-type {
            margin-top:2rem;

            @media screen and (min-width:$bp-alpha) {
                margin-top:2rem;
            }

            @media screen and (min-width:$bp-gamma) {
                margin-top:3.5rem;
            }

            &--track,
            &--media {

                .Sponsors-item {
                    margin-top:2rem;

                    &:first-child {
                        margin-top:0;
                    }
                }

                .Sponsors-block {
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    width:percentage(1);
                }

                @media screen and (min-width:$bp-beta) {

                    .Sponsors-item {
                        padding:0 1rem; margin-top:0;

                        &:first-child {
                            padding-left:0;
                        }

                        &:last-child {
                            padding-right:0;
                        }
                    }
                }
            }

            &--standard,
            &--supporter {

                @media screen and (max-width:$bp-alpha - 1) {

                    .Sponsors-link {
                        border-width:0;
                    }
                }

                @media screen and (min-width:$bp-alpha) {

                    .Sponsors-list {
                        margin-top:1rem;
                    }
                }

                @media screen and (min-width:$bp-gamma) {

                    .Sponsors-list {
                        margin-top:0;
                    }
                }
            }

            &--diamond {

                @media screen and (max-width:$bp-alpha - 1) {
                    margin-top:1rem;
                }
            }

            &--standard {

                @media screen and (max-width:$bp-alpha - 1) {

                    .Sponsors-block {
                        padding-left:2rem; padding-right:2rem;
                    }
                }
            }

            &--media {

                @media screen and (max-width:$bp-alpha - 1) {

                    .Sponsors-item--media {

                        .Sponsors-item {
                            margin-top:0;
                        }

                        .Sponsors-link {
                            border-width:0;
                        }
                    }
                }

                @media screen and (min-width:$bp-alpha) {

                    .Sponsors-item--media {

                        .Sponsors-item {
                            padding-left:0.7rem; padding-right:0.7rem;

                            &:first-child {
                                padding-left:0;
                            }

                            &:last-child {
                                padding-right:0;
                            }
                        }

                        .Sponsors-link {
                            width:percentage(1);
                        }
                    }
                }

                @media screen and (min-width:$bp-alpha) and (max-width:$bp-beta - 1) {

                    .Sponsors-item--media {

                        .Sponsors-item {
                            width:percentage(1/2);
                            margin-top:0;
                        }
                    }
                }

                @media screen and (max-width:$bp-beta - 1) {

                    .Sponsors-list {
                        display:flex;
                        justify-content:center;
                        align-items:center;
                        flex-wrap:wrap;
                    }

                    .Sponsors-item {
                        display:flex;
                        align-self:stretch;
                        width:percentage(1);
                    }

                    .Sponsors-link {
                        display:flex;
                        justify-content:center;
                        align-items:center;
                    }
                }
            }

            &--supporter {

                @media screen and (max-width:$bp-alpha - 1) {

                    .Sponsors-block {
                        padding-left:3.5rem; padding-right:3.5rem;
                    }
                }
            }
        }
    }
}
