/**
 * =============================================================================
 * Quick sponsors
 * =============================================================================
 */

.QuickSponsors {

    &-list {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;

        @media screen and (min-width:$bp-alpha) {
            padding:0 5%;
        }

        @media screen and (min-width:$bp-gamma) {
            padding:0 15%;
        }

        @media screen and (min-width:$bp-delta) {
            padding:0 20%;
        }
    }

    &-item {
        display:flex;
        align-self:stretch;
        padding:1rem 0;

        @media screen and (min-width:$bp-beta) {
            padding:2.2rem 0;
        }
    }

    &-link {
        display:flex;
        justify-content:center;
        align-items:center;
        width:percentage(1);
        padding:0 1em;
    }
}

/**
 * Sponsor types
 * -----------------------------------------------------------------------------
 */

.QuickSponsors {

    &-type {
        position:relative;

        &:after {
            content:'';
            position:absolute; bottom:100%; left:10px; right:10px; z-index:10;
            height:1px;
            background:rgba($color-gray-alpha, 0.5);

            @media screen and (min-width:$bp-alpha) {
                left:5%; right:5%;
            }

            @media screen and (min-width:$bp-beta) {
                left:15%; right:15%;
            }

            @media screen and (min-width:$bp-delta) {
                left:20%; right:20%;
            }
        }

        &--diamond {

            &:after {
                display:none;
            }

            .QuickSponsors-item {
                width:percentage(1);

                @media screen and (min-width:$bp-beta) {
                    padding-left:20%; padding-right:20%;
                }
            }
        }

        &--track {

            .QuickSponsors-item {
                width:percentage(1/2);
            }
        }

        &--standard {

            .QuickSponsors-item {
                width:percentage(1/2);

                @media screen and (min-width:$bp-beta) {
                    width:percentage(1/4);
                }
            }

            .QuickSponsors-item--aduro-ideja {

                .QuickSponsors-logo {
                    max-height:1.6em;
                }
            }

            .QuickSponsors-item--hr-cloud {

                @media screen and (min-width:$bp-beta) {
                    margin-left:-8%;
                }
            }

            .QuickSponsors-logo {
                max-height:6em;
            }
        }

        &--supporter {

            .QuickSponsors-item {
                width:percentage(1/2);

                @media screen and (min-width:$bp-beta) {
                    width:percentage(1/5);
                }
            }

            .QuickSponsors-logo {
                max-height:1.9em;
            }
        }
    }
}
