<tr>
    <th aria-hidden="true">&nbsp;</th>
    <th class="text-center">
        <a href="{% url 'sponsors_view_sponsor' slug='trikoder' %}">
            <img style="width: 12rem" src="{{ MEDIA_URL }}uploads/sponsors/trikoder-logo.svg" alt="Trikoder" class="track-logo">
        </a>
    </th>
    <th class="text-center">
        <a href="{% url 'sponsors_view_sponsor' slug='bizzon' %}">
            <img style="width: 8rem" src="{{ MEDIA_URL }}uploads/sponsors/BIZZON_ID__logo.svg" alt="Bizzon" class="track-logo">
        </a>
    </th>
    <th class="text-center">
        <a href="{% url 'sponsors_view_sponsor' slug='dobarkod' %}">
            <img style="width: 8rem" src="{{ MEDIA_URL }}uploads/sponsors/dobarkod_Z5wagDb.svg" alt="Dobar Kod" class="track-logo">
        </a>
        <br />
        <small style="font-weight: normal">Advanced Track</small>
    </th>
</tr>
