<td
    {# hacky way to get talks fill two slots, not ideal #}
    {% if talk.slug == "python-asyncawait-unraveled" %}rowspan="2"{% endif %}
    {% if talk.slug == "parsing-from-first-principles" %}rowspan="2"{% endif %}
>
    {% if talk %}
    <a href="{% url 'talks_view_talk' slug=talk.slug %}">
        <span>
            {{ talk.title }}
            {% if talk.sponsor %}
                <span class="blue label">Sponsored</span>
            {% endif %}
            {% if talk.is_community_chosen %}
                <span class="yellow label">Community</span>
            {% endif %}
        </span>
        <br />
        <span class="normal">
            {{ talk.speaker_names }}
        </span>
    </a>
    {% endif %}
</td>
