<td>
    {% if talk %}
    <a href="{% url 'talks_view_talk' slug=talk.slug %}">
        <span>
            {{ talk.title }}
            {% if talk.sponsor %}
                <span class="blue label">Sponsored</span>
            {% endif %}
            {% if talk.is_community_chosen %}
                <span class="yellow label">Community</span>
            {% endif %}
        </span>
        <br />
        <span class="normal">
            {{ talk.application.applicant.user.full_name }}
        </span>
    </a>
    {% endif %}
</td>
