/**
 * =============================================================================
 * Page
 * =============================================================================
 */

.Page {

    &--login {
        background:url('/static/images/hero-cfp.jpg') 50% 50% no-repeat;
        background-size:cover;
    }
}

/**
 * Sticky footer
 * -----------------------------------------------------------------------------
 */

.Page {

    &--stickyFooter {
        display:flex;
        min-height: 100vh;
        flex-direction:column;
    }

    &-content {
        flex:1;
    }
}
