<html>
<body>
    <p>
        Dear {{ name }},
    </p>
    <p>
        It's time to exercise your right and influence WebCamp Zagreb once again. Vote for the talks you want to hear this year and add them to the official WebCamp Zagreb conference schedule.
    </p>
    <p>
        You can vote for talks here: {{ url|urlize }}.
    </p>
    <p>
        Please do not share the above link with your friends, since it contains your ticket code. Share this one instead: {{ anon_url|urlize }}.
    </p>
    <p>
        Sincerely,<br>
        WebCamp Zagreb team
    </p>
</body>
</html>
