/**
 * =============================================================================
 * Highlights
 * =============================================================================
 */

.Highlights {

    &-nav {

        .Wrapper--withFlair & {
            margin:-1rem -1rem 1rem;

            @media screen and (min-width:$bp-alpha) {
                margin:-2em -2em 2em;
            }
        }

        > ul {
            font-size:0;
            text-align:center;

            > li {
                display:inline-block;
                font-size:1rem;
                width:percentage(1/2);
            }
        }
    }

    &-navLink {
        display:block;
        font-size:1.1em; font-weight:bold;
        color:#fff;
        background:$color-brand-alpha;

        &:hover,
        &:focus {
            color:$color-brand-beta;
        }

        &.is-active {
            color:$color-brand-alpha;
            background:none;
        }

        .Wrapper--withFlair & {
            padding:0.8rem;

            @media screen and (min-width:$bp-alpha) {
                padding:0.9rem;
            }

            @media screen and (min-width:$bp-beta) {
                padding:1.25rem;
            }
        }

        @media screen and (min-width:$bp-alpha) {
            font-size:1.3em;
        }

        @media screen and (min-width:$bp-beta) {
            font-size:1.7em;
        }
    }

    &-block {
        display:none;

        &.is-active {
            display:block;
        }
    }
}
