/**
 * =============================================================================
 * Select field
 * =============================================================================
 */

.Field > select {
    display:block;
    line-height:normal;
    background-image:inline('/static/images/arrow-down.svg');
    background-repeat:no-repeat;
    background-position:right map-get($field-base-dimensions, spacing) top 50%;
    background-size:22px 22px;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
