/**
 * =============================================================================
 * Textual field
 * =============================================================================
 */

.Field--text {
    position:relative;

    > input,
    > select,
    > textarea {
        @include field-base;
        @include field-text-base;

        &:invalid {
            box-shadow:none;
        }

        &::placeholder {
            color:$color-base;
        }
    }

    &.is-invalid {

        > input,
        > select,
        > textarea {
            padding-left:calc(#{map-get($field-base-dimensions, spacing)} + 10px);
        }

        &:before {
            content:'';
            position:absolute; left:1px; top:1px; bottom:1px;
            width:10px;
            background:$color-delta;
        }
    }
}
