/**
 * =============================================================================
 * Togglable field (checkbox/radio)
 * =============================================================================
 */

.Togglable {
    position:relative;
    display:inline-block;
    color:$color-brand-alpha;
    cursor:pointer;

    > input {
        position:absolute; left:0; top:0;
        opacity:0;

        &:checked + .Togglable-caption {
            color:#fff;
            background:$color-brand-alpha;
        }

        &:hover + .Togglable-caption,
        &:focus + .Togglable-caption {
            border-color:$color-brand-beta;
        }
    }

    &-caption {
        @include field-base;
        text-align:center;
    }
}
