/**
 * =============================================================================
 * Vanity field
 * =============================================================================
 */

.VanityField {
    position:relative;

    &:before,
    &:after {
        position:absolute; left:0; top:0; bottom:0;
        width:50px;
        pointer-events:none;
    }

    &:before {
        content:'';
        left:1px; top:1px; bottom:1px;
        background:$color-alpha;
    }

    &:after {
        top:50%;
        color:#fff;
        transform:translateY(-50%);
    }

    .Field > input {
        padding-left:calc(50px + #{map-get($field-base-dimensions, spacing)});
    }
}

/**
 * Variations
 * -----------------------------------------------------------------------------
 */

.VanityField {

    &--twitter {

        &:after {
            content:'@';
            margin-top:-4px;
            text-align:center;
            font-size:2em; line-height:1;
        }
    }

    &--github {

        &:after {
            @include Icon;
            @include Icon--social__Icon--github__white;
            content:'';
            left:(50/2) + px;
            width:31px; height:30px;
            margin-left:-(31/2) + px;
        }
    }
}
