*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
#dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
.env
.idea/

# settings
/project/settings/local.*
/project/settings/prod.*
/project/settings/secret.*

# static and media
/project/static/
/project/media/

# requirements
/requirements/local.txt

# prod
/gunicorn_config.py
/gunicorn.pid

# vagrant
/.vagrant

# node
/node_modules
npm-debug.log

# sass
/.sass-cache

# osx
.DS_Store
