Django==1.7.4
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.7.0
PyYAML==3.11
binaryornot==0.3.0
dj-database-url==0.3.0
mock==1.0.1
psycopg2==2.6
wheel==0.23.0
wsgiref==0.1.2
django-allauth==0.19.1
django-braces==1.4.0
oauthlib==0.7.2
python-openid==2.2.5
requests==2.5.3
requests-oauthlib==0.4.2
six==1.9.0
