/**
 * =============================================================================
 * Core CTA
 * =============================================================================
 */

.HeaderCTA {
    padding:1rem;
    text-align:center;

    &-action {
        width:100%;
        margin-top:0.5rem;
        padding:1rem 2rem;
        font-size:1rem; font-weight:normal;
        text-transform:uppercase;

        &:first-child {
            margin-top:0;
        }
    }

    @media screen and (min-width:$bp-beta) {
        font-size:0;

        &-action {
            width:auto;
            margin:0 0.5rem;
            padding:1.1rem 2.2rem;
            font-size:1.1rem;
        }
    }

    @media screen and (min-width:900px) {
        margin-top:-5rem; margin-bottom:5rem;
        padding:0;
    }
}

.HeaderCTA--sponsors {

    .HeaderCTA-action {
        font-size:1rem;

        @media screen and (min-width:$bp-beta) {
            font-size:1.5rem;
        }
    }
}
