/**
 * =============================================================================
 * Keynotes
 * =============================================================================
 */

.Keynotes {
    padding:0 1rem;

    @media screen and (min-width:$bp-gamma) {
        clear:fix;
        padding-left:2rem;
    }

    @media screen and (min-width:1220px) {
        padding:0; padding-left:1rem;
    }
}

.Keynote {
    margin-top:1rem;

    &:first-child {
        margin-top:0;
    }

    @media screen and (min-width:$bp-gamma) {
        float:left;
        width:percentage(1/2);
        margin-top:0;
        margin-left:1rem;

        &:first-child {
            margin-left:-1rem;
        }
    }

    .Grid {
        margin:0;

        &-cell {

            &:first-child {
                padding-left:0; padding-right:0;
            }

            &:last-child {
                padding-right:0;
            }
        }
    }

    &-link {
        display:block;
        background:$color-gray-beta;
        color:$color-brand-alpha;
        padding:1rem;
        transition:box-shadow 0.15s ease-in-out;

        &:hover,
        &:focus {
            box-shadow:0 0 0 10px rgba(#fff, 0.2);
            color:$color-brand-alpha;
        }

        @media screen and (min-width:$bp-gamma) {
            padding:0.5rem;
        }
    }

    &-title {
        padding-bottom:0.5rem; margin-bottom:0.5rem;
        border-bottom:1px solid $color-gray-gamma;
        font-size:1.1rem; font-weight:normal;
        text-align:center;

        @media screen and (min-width:$bp-gamma) {
            font-size:1.2rem;
        }
    }

    &-description {
        font-size:1.2rem;

        @media screen and (min-width:$bp-gamma) {
            font-size:1.5rem;
        }
    }

    &-speaker {
        font-size:1rem;

        @media screen and (min-width:$bp-gamma) {
            font-size:1.1rem;
        }
    }

    &-figure {

        @media screen and (max-width:$bp-epsilon - 1) {

            .FlairFigure {

                &:before,
                &:after {
                    display:none;
                }
            }
        }

        @media screen and (max-width:$bp-gamma - 1) {
            display:none;
        }
    }
}
