/**
 * =============================================================================
 * Logo
 * =============================================================================
 */

.Logo {
    position:relative; z-index:10;

    svg {
        width:100px; height:100px;
        background-size:cover;

        @media screen and (min-width:$bp-alpha) {
            width:130px; height:130px;
        }

        @media screen and (min-width:$bp-beta) {
            width:160px; height:160px;
        }

        @media screen and (min-width:$bp-gamma) {
            width:180px; height:180px;
        }
    }

    .Logo-heart {
        transform-origin:50% 50%;
    }

    &:hover {

        .Logo-heart {
            animation:heartbeat 1300ms ease;
            animation-iteration-count:infinite;
        }
    }
}


@keyframes heartbeat {
    0% {
        transform:scale(1);
    }
    14% {
        transform:scale(1.3);
    }
    28% {
        transform:scale(1);
    }
    42% {
        transform:scale(1.3);
    }
    70% {
        transform:scale(1);
    }
}
