/**
 * =============================================================================
 * Speaker
 * =============================================================================
 */

.Speaker {
    margin:1rem 0; padding:1rem 0;
    border:1px solid $color-gray-gamma; border-width:1px 0;

    &-figure {

        @media screen and (max-width:$bp-gamma - 1) {
            display:none;
        }
    }

    &-name {
        display:block;
        font-size:1.3em; line-height:1.3;
        margin-bottom:1rem;
        color:$color-brand-alpha;

        @media screen and (min-width:$bp-beta) {
            font-size:1.7em;
        }
    }

    &-bio {
        font-size:1em; line-height:1.3; font-style:italic;
        color:$color-gray-delta;

        @media screen and (min-width:$bp-beta) {
            font-size:1.2em;
        }
    }

    &-social {
        margin-top:1.5em;

        > ul {
            font-size:0;

            > li {
                display:inline-block;
                margin:0 0.5em;
                font-size:1rem;

                &:first-child {
                    margin-left:0;
                }

                > a {
                    color:$color-brand-alpha;

                    &:hover,
                    &:focus {
                        color:$color-brand-beta;
                    }
                }
            }
        }
    }

    @media screen and (min-width:$bp-alpha) {
        margin:1.7em 0; padding:1.7em 0;
    }
}
