/**
 * =============================================================================
 * Icon
 * =============================================================================
 */

.Icon {
    @include Icon;
}

/**
 * =============================================================================
 * Social icons
 * =============================================================================
 */

.Icon {

    &--social {
        width:50px; height:50px;
    }
}

/**
 * =============================================================================
 * Actions
 * =============================================================================
 */

.Icon {

    &--menu {
        width:50px; height:50px;
        background-image:inline('/static/images/icons/menu.svg');
    }

    &--close {
        width:50px; height:50px;
        background-image:inline('/static/images/icons/close.svg');
    }
}
