/**
 * =============================================================================
 * Timeline
 * =============================================================================
 */

.Timeline {

    td {
        background:none;
    }

    @media screen and (max-width:$bp-beta - 1) {

        tr {
            display:block;
            padding:0.5em;
            border:1px solid $color-gray-alpha; border-top-width:0;

            &:first-child {
                border-top-width:1px;
            }
        }

        td {
            display:inline-block;
            padding:0;
            border-width:0;

            &:first-child {
                padding-right:1em;
            }
        }
    }
}
