{% load webcamp %}

<div class="grid-item">
  <div class="grid-item-image">
    <a href="{% url 'workshops_view_workshop' slug=workshop.slug %}">
      <img src="{{ workshop.image_url }}">
    </a>
  </div>

  <div class="grid-item-data">
    <div class="speaker">
      {{ workshop.speaker_names }}
    </div>

    <h3>
      <a href="{% url 'workshops_view_workshop' slug=workshop.slug %}">
        {{ workshop.title }}
      </a>
    </h3>
  </div>

  <div class="grid-item-meta">
      <div class="text-center gray">{{ workshop.price }}kn</div>
      <div class="text-center">{{ workshop.duration_hours|floatformat }}h</div>
  </div>
</div>
