{% load webcamp %}

<div class="workshop-grid-item">

    <a href="{% url 'workshops_view_workshop' slug=workshop.slug %}">
        <div class="workshop-photo" style="background-image: url('{{ workshop.image_url }}')"></div>
    </a>

    <div class="workshop-data" data-equalizer-watch>

        {% if workshop.applicants.exist %}
        <div class="speaker">
            {{ workshop.applicant_names|join:"<br />" }}
        </div>
        {% endif %}
        <div class="workshop-title">
            <a href="{% url 'workshops_view_workshop' slug=workshop.slug %}">
                {{ workshop.title }}
            </a>
        </div>
    </div>

    <div class="workshop-meta">
        <div class="row">
            <div class="columns text-center">
                {{ workshop.duration_hours|floatformat }}h
            </div>
            <div class="columns text-center">
                {{ workshop.price }}kn
            </div>
        </div>
    </div>
</div>
