<div class="talk-grid">
    <div class="row column">
        <h1 class="blue-arrow">Workshops_</h1>

        <div class="row" data-equalizer data-equalize-on="medium">
            {% for workshop in workshops %}
                <div class="small-12 medium-4 columns">
                    {% include "workshops/partials/random-workshop.html" %}
                </div>
            {% endfor %}
        </div>

        <div class="text-center">
            <a class="purple" href="{% url 'workshops_list_workshops' %}">
                {&nbsp;all_workshops&nbsp;}
            </a>
        </div>
    </div>
</div>
