{% load static %}
{% load webcamp %}

<article class="workshop-short">
    <div class="row">
        <div class="show-for-medium medium-3 columns">
            <a href="{% url 'workshops_view_workshop' slug=workshop.slug %}">
                <img src="{{ MEDIA_URL }}{{ workshop.image }}" />
            </a>
        </div>

        <div class="small-12 medium-9 columns">
            <p>
                Speaker{% if workshop.applicants.count > 1 %}s{% endif %}:
                <a href="{% url 'workshops_view_workshop' slug=workshop.slug %}#speaker">
                    {{ workshop.applicant_names|join:", " }}
                </a>
            </p>

            <h3 class="green-dash">
                <a href="{% url 'workshops_view_workshop' slug=workshop.slug %}">
                    {{ workshop.title }}
                </a>
            </h3>

            <p>{{ workshop.about }}</p>

            <p>
                {% include "workshops/partials/workshop_flags.html" %}
            </p>

            {% comment %}
            <p>
                <a class="small button"
                   href="/tickets">Buy Tickets</a>
                <a class="small green button"
                   href="{% url 'workshops_view_workshop' slug=workshop.slug %}">Details</a>
            </p>
            {% endcomment %}
        </div>
    </div>
</article>
