/**
 * =============================================================================
 * Aligner
 * =============================================================================
 */

.Aligner {
    display:flex;
    align-items:center;
    justify-content:center;

    &-item {
        flex:1;
    }
}
