/**
 * =============================================================================
 * Account (login, registration, profile)
 * =============================================================================
 */

.Account {
    margin:1rem 0;
    padding:0 1rem;

    @media screen and (min-width:$bp-beta) {
        margin-top:3rem; margin-bottom:3rem;
    }
}
