<style>
    #application-type-filter form { margin-top: .5rem; }
    #application-type-filter button { margin-top: -0.75rem; }
    #application-type-filter #id_types { list-style-type: none; margin: 0; }
    #application-type-filter #id_types input { margin-bottom: 0; }
    #application-type-filter #id_types li { display: inline-block; }
</style>
<div class="callout" id="application-type-filter">
  <details {% if type_filter_applied %}open{% endif %}>
    <summary>Filter by application type</summary>
    <form method="post" action="{% url 'dashboard:save_application_type_filter' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}" />

      <div class="row">
        <div class="column">
          {{ type_filter_form }}
        </div>
        <div class="column shrink">
          <div class="button-group small">
            <input type="submit" class="green button no-margin" name="submit" value="Save" />
            <input type="submit" class="button no-margin" name="submit" value="Clear" />
          </div>
        </div>
      </div>
    </form>
  </details>
</div>
