<button data-score="1" data-application-id="{{ application_id }}" type="button" class="rate-application small button {% if rating == 1 %}secondary{% endif %}">1</button>
<button data-score="2" data-application-id="{{ application_id }}" type="button" class="rate-application small button {% if rating == 2 %}secondary{% endif %}">2</button>
<button data-score="3" data-application-id="{{ application_id }}" type="button" class="rate-application small button {% if rating == 3 %}secondary{% endif %}">3</button>
<button data-score="4" data-application-id="{{ application_id }}" type="button" class="rate-application small button {% if rating == 4 %}secondary{% endif %}">4</button>
<button data-score="5" data-application-id="{{ application_id }}" type="button" class="rate-application small button {% if rating == 5 %}secondary{% endif %}">5</button>
<button data-application-id="{{ application_id }}" type="button" class="unrate-application small alert button">
    <span class="fa fa-times"></span>
</button>
