<div class="CookiePolicy Messages">
    <div class="Grid">
        <div class="CookiePolicy-body Grid-cell Grid-cell--2of3">
            <div class="Passage">
                <p>We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies.&nbsp;<a href="http://aboutcookies.org" class="Link Link--gamma">Learn more</a></p>
            </div>
        </div>
        <div class="CookiePolicy-action Grid-cell Grid-cell--1of3">
            <button type="button" class="Button Button--beta Button--full">I agree with cookie&nbsp;policy</button>
        </div>
    </div>
</div>
