{% load static %}
{% load webcamp %}

<hr />

<footer>
  <div class="container">
    <div class="text-center">
      <a href="/tickets/" class="btn btn-default">
        BUY TICKETS
      </a>
      &nbsp;
      <a href="{{ links.sponsors_pdf }}" class="btn btn-primary">
        SPONSOR WEBCAMP
      </a>
    </div>
  </div>

  <div class="container">
    <hr />

    <div class="footer-grid">
      <img src="{% static "images/2019/logo_gray.svg" %}" />

      <div>
        <h4>PAGES</h4>
        <ul class="no-margin">
          {% for name, link in footer_links %}
            <li><a href="{{ link }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div>
        <h4>SOCIAL MEDIA</h4>
        <ul class="no-margin">
          <li><a href="{{ links.facebook }}">Facebook</a></li>
          <li><a href="{{ links.github }}">GitHub</a></li>
          <li><a href="{{ links.linkedin }}">Linkedin</a></li>
          <li><a href="{{ links.twitter }}">Twitter</a></li>
          <li><a href="{{ links.youtube }}">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="gray" />

  <div class="container">
    <p class="text-center">
      <span class="green">&lt;3</span>
      &copy;
      WebCamp Zagreb 2012
      <span class="blue">:</span>
      {% now "Y" %}
      <span class="green">&lt;3</span>
    </p>

    <p class="text-center">
      Contact us at <a href="mailto:info@webcampzg.org">info@webcampzg.org</a>
    </p>

    <p class="text-center">
      Check out how we handle your data in our <a href="/privacy-policy/">Privacy policy</a>
    </p>
  </div>
</footer>
