<form method="post" enctype="multipart/form-data" class="Form">{% csrf_token %}

    {% if form.errors %}
    <div class="Form-errors">
        <div class="Passage">
            <p>Please fix the errors below:</p>
            {{form.non_field_errors}}
        </div>
    </div>
    {% endif %}

    <div class="CFP-grid">
        <div class="CFP-gridItem">

            <fieldset class="Form-fieldset">
                {% for field in form  %}

                    {% include "partials/form-field.html" with field=field field_type="text" %}

                {% endfor %}
            </fieldset>

        </div>

    <div class="Form-actions">
        <button type="submit" class="Button Button--alpha Form-action Form-action--submit">Submit</button>
    </div>

</form>
