{% if field.is_hidden %}
    {{ field }}
{% else %}
<div>
    <label for="{{ field.id }}">
        {% if vanity_field %}
            <i class="fa fa-{{ vanity_field }}"></i>
        {% endif %}

        {{ field.label }}

        {% if field.field.required %}
            <abbr title="Required field">*</abbr>
        {% endif %}
    </label>

    <div class="form-field">
        <div class="{% if field.errors %} is-invalid {% endif %}">
            {{ field }}
        </div>

        {% for error in field.errors %}
            <p class="form-field-error">{{ error }}</p>
        {% endfor %}
    </div>

    {% if field.help_text %}
    <p class="help-text">
        {{ field.help_text|safe }}
    </p>
    {% endif %}
</div>
{% endif %}
