{% load static %}
<div class="top-bar show-for-medium">
    <div class="top-bar-title">
        <div class="logo">
            <a href="{% url 'ui_index' %}">
                <img src="{% static "images/header-logo.svg" %}" />
            </a>
        </div>
    </div>
    <div class="top-bar-left">

        <ul class="menu">
            <li><a href="/tickets/" class="purple arrow button show-for-large">Buy tickets</a></li>
            <li class="heart show-for-large">&lt;3</li>
            <li class="item"><a href="/info/">Info</a></li>
            <li class="item"><a href="{% url 'talks_list_talks' %}">Talks</a></li>
            <li class="item"><a href="{% url 'schedule_list_schedule' %}">Schedule</a></li>
            <li class="item"><a href="{% url 'blog_list_posts' %}">News</a></li>
            <li class="item"><a href="{% url 'jobs_list_jobs' %}">Jobs</a></li>
            <li class="item"><a href="/code/">Conduct</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            {% if user.is_authenticated %}
            <li><a href="{% url 'user_profile' %}">
                <i class="fa fa-user"></i>&nbsp;{{user.get_full_name}}
            </a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}" class="arrow">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>
