{% load static %}

{# Navbar for large screens #}
<div class="nav-bar show-for-large">
    <a class="logo" href="{% url 'ui_index' %}"></a>

    <div class="nav-left">
        {% comment %}
        <a href="/tickets/" class="purple arrow button show-for-large no-margin no-wrap">
            Buy tickets
        </a>
        {% endcomment %}
    </div>

    <div class="nav-links">
        <div class="pounding heart">&lt;3</div>
        {% for name, link in navigation %}
            <div class="link"><a href="{{ link }}">{{ name }}</a></div>
        {% endfor %}
    </div>

    <div class="nav-right no-wrap">
    {% comment %}
        {% if user.is_authenticated %}
            <a href="{% url 'user_profile' %}">
                <i class="fa fa-user"></i>&nbsp;{{user.get_full_name}}
            </a>
        {% else %}
            <a href="{% url 'account_login' %}?next={{ request.path }}" class="arrow">
                Login
            </a>
        {% endif %}
    {% endcomment %}
    </div>
</div>

{# Navbar for small and medium screens #}
<div class="mobile-nav-bar hide-for-large">
    <div class="row align-middle">
        <div class="columns">
            <a href="{% url 'ui_index' %}">
                <img src="{% static "images/wczg2017_logo_mobile.svg" %}">
            </a>
        </div>
        <div class="columns shrink">
            <a data-toggle="mobile-nav-menu">
                <img src="{% static "images/hamburger.svg" %}">
            </a>
        </div>
    </div>
</div>

<div id="mobile-nav-menu" class="hide hide-for-large" data-toggler=".hide">
    <div class="mobile-nav-links">
        <ul class="vertical menu align-center">
            <li class="text-center red">&lt;3</li>
            {% for name, link in navigation %}
                <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="mobile-nav-buttons">
        {% comment %}
        <a href="/tickets/" class="green-arrow">
            Buy Tickets
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'user_profile' %}" class="green-arrow">
                Profile
            </a>
        {% else %}
            <a href="{% url 'account_login' %}?next={{ request.path }}" class="green-arrow">
                Login
            </a>
        {% endif %}
        {% endcomment %}
    </div>
</div>

