{% load static webcamp %}

<div class="container">
  <header class="main-header">
    <a class="header-logo" href="{% url 'ui_index' %}">
      <img src="{% static 'images/2019/logo_black.svg' %}" alt="">
    </a>

    <div class="header-middle">
      <div>
        <a class="terminal-prompt" href="{% url 'ui_index' %}">
          {{ event.title }}
        </a>
        <div class="float-right hide-for-small">
          {% if user.is_authenticated %}
            <a href="{% url 'user_profile' %}">
              {% icon "solid/user-alt" %}&nbsp;{{user.get_full_name}}
            </a>
          {% else %}
            <a href="{% url 'account_login' %}?next={{ request.path }}">
              Login
            </a>
          {% endif %}
        </div>
        <p>
          Technology oriented conference for developers &amp; designers.<br />
          {{ event.dates_text }} in Zagreb, Croatia
        </p>
      </div>

      <details class="small-nav show-for-small">
        <summary>Menu</summary>
        <nav>
          {% for name, link in navigation %}
            <a class="menu-item" href="{{ link }}">{{ name }}</a>
          {% endfor %}
        </nav>
        <div class="account">
          {% if user.is_authenticated %}
            <a href="{% url 'user_profile' %}">
              {% icon "solid/user-alt" %}&nbsp;{{user.get_full_name}}
            </a>
          {% else %}
            <a href="{% url 'account_login' %}?next={{ request.path }}">
              Login
            </a>
          {% endif %}
        </div>
      </details>

      <nav class="large-nav">
        {% for name, link in navigation %}
          <a class="menu-item" href="{{ link }}">{{ name }}</a>
        {% endfor %}
      </nav>
    </div>
  </header>
</div>
