{% load static %}
<div class="container">
  {% comment %}
  <div class="hero">
    <div class="name">
      Technology oriented conference for developers &amp; designers.
    </div>
    <div class="date">
      October<br />11th &amp; 12th, 2019
    </div>
    <div class="place">
      Plaza Event Centar<br />
      Slavonska avenija 6<br />
      Zagreb, Croatia
    </div>
  </div>
  {% endcomment %}

  <p>We are non profit, organised by a team of <a href="/team/">dedicated volunteers</a>.</p>

  <p>This website was designed backend developer, which explains the spartan, yet attractive aesthetic and high usability. Do you think you can do better? We'd love to have a frontend developer and a designer join our team. <a href="mailto:info@webcampzg.org">Contact us!</a></p>
</div>
