{% load static %}
<div class="container">
  <p>WebCamp Zagreb is a technology oriented conference for developers and designers.</p>
  <p>We are non profit, organised by a team of <a href="/team/">dedicated volunteers</a>.</p>
  <p>This website was designed backend developer, which explains the spartan, yet attractive aesthetic and high usability. Do you think you can do better? We'd love to have a frontend developer and a designer join our team. <a href="mailto:info@webcampzg.org">Contact us!</a></p>
</div>
