{% load markdown_deux_tags webcamp %}

{% for job in jobs %}
<div class="job callout">
  <div class="job-header">
    <div>
      <h2>{{ job.title }}</h2>
      <p>Location: {{ job.location }}</p>
    </div>
    <img src="{{ MEDIA_URL }}{{ job.sponsor.image }}" />
  </div>

  <details>
    <summary>Show details</summary>

    {{ job.text|markdown:"trusted" }}

    <a href="{{ job.url }}" class="btn btn-primary btn-ghost">
      View on {{ job.sponsor.name }}&nbsp;web!
    </a>
  </details>
</div>
{% endfor %}
