{% load static %}

<div class="keynotes-block">
    <div class="heart-center show-for-medium">
        <img src="{% static "images/heart-center.png" %}" />
    </div>

    <div class="expanded row">
        <div class="small-12 medium-6 columns">
            <a href="/talks/programming-across-paradigms/">
                <img src="{% static 'images/keynote-anjana.png' %}">
            </a>
        </div>
        <div class="small-12 medium-6 columns">
            <a href="/talks/css-grid-changes-everything-about-web-layouts/">
                <img src="{% static 'images/keynote-morten.png' %}">
            </a>
        </div>
    </div>
</div>
