<div class="container text-center newsletter">
  <h2>Subscribe for latest news</h2>

  <!-- Begin MailChimp Signup Form -->
  <form action="https://webcampzg.us7.list-manage.com/subscribe/post?u=9390a854a4f6130f215f417ef&amp;id=5b285297b0" method="post" target="_blank">
    <div class="inputs">
      <input type="email" value="" name="EMAIL" placeholder="Enter email address" required />
      <input type="submit" class="btn btn-default" value="SUBSCRIBE" />
    </div>

    <p>
      <label for="gdpr_1273">
        <input type="checkbox" id="gdpr_1273" name="gdpr[1273]" value="Y" required />
        Yes, I would like to receive newsletter by email
        <span class="red" title="Required"><sup><b>*</b></sup></span>
      </label>
    </p>

    <p>
      We usually send one email per month between May and October.<br />
      You can unsubscribe at any time by visiting the link at the bottom of the newsletter.
    </p>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_9390a854a4f6130f215f417ef_5b285297b0" tabindex="-1" value="">
    </div>
  </form>
  <!--End mc_embed_signup-->
</div>
