{% load static %}

<div class="share">
    <h3 class="no-margin">{{ title }}</h3>

    <div>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
            <span class="fa-stack fa-2x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
        <a target="_blank" href="https://twitter.com/intent/tweet?text={{ request.build_absolute_uri }}">
            <span class="fa-stack fa-2x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
    </div>
</div>
