<nav class="SiteNav">
    <div class="SiteNav-compact">
        <a href="#SiteNav" class="SiteNav-compactToggler"><i class="Icon Icon--menu">Open navigation</i></a>
        <a href="{% url 'application_create' %}" class="SiteNav-link SiteNav-link--cfp">Call for papers</a>
    </div>
    <div class="SiteNav-menu" id="SiteNav">
        <a href="#" class="SiteNav-compactToggler"><i class="Icon Icon--close">Close navigation</i></a>
        <ul class="SiteNav-list">
            {% if user.is_authenticated %}
            <li class="SiteNav-item">
                <a href="{% url 'user_profile' %}" class="SiteNav-link">Profile: {{ user.get_full_name }}</a>
            </li>
            {% endif %}
            <li class="SiteNav-item">
                <a href="https://www.entrio.hr/en/event/webcamp-zagreb-2015-2150" class="SiteNav-link">Tickets</a>
            </li>
            <li class="SiteNav-item SiteNav-item--cfp">
                <a href="{% url 'application_create' %}" class="SiteNav-link SiteNav-link--cfp">Call for papers</a>
            </li>
            {% if user.is_authenticated %}
            <li class="SiteNav-item SiteNav-item--account">
                <a href="{% url 'account_logout' %}" class="SiteNav-link">Logout</a>
            </li>
            {% else %}
            <li class="SiteNav-item SiteNav-item--account">
                <a href="{% url 'account_login' %}" class="SiteNav-link">Login</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>
