{% load static %}
<a href="{% url 'ui_index' %}" class="Logo">
    {% include "partials/logo.svg" %}
</a>
<nav class="SiteNav" id="SiteNav">
    <div class="SiteNav-compact" aria-hidden="true" role="presentation">
        <a href="#SiteNav" class="SiteNav-toggler SiteNav-toggler--open"><i class="Icon Icon--menu">Open navigation</i></a>
        <a href="#" class="SiteNav-toggler SiteNav-toggler--close"><i class="Icon Icon--close">Close navigation</i></a>
        {% if cfp_enabled %}
        <a href="{% url 'cfp_announcement' %}" class="SiteNav-link SiteNav-link--cfp"><span class="SiteNav-label">Call for Proposals</span><span class="SiteNav-label SiteNav-label--alt" aria-hidden="true" role="presentation">CFP</span></a>
        {% endif %}
    </div>
    <ul class="SiteNav-list">
        {% if user.is_authenticated %}
        <li class="SiteNav-item">
            <a href="{% url 'user_profile' %}" class="SiteNav-link">Profile</a>
        </li>
        {% endif %}
        <li class="SiteNav-item">
            <a href="/info/" class="SiteNav-link">Info</a>
        </li>
        <li class="SiteNav-item">
            <a href="/talks/" class="SiteNav-link">Talks</a>
        </li>
        <li class="SiteNav-item">
            <a href="/timeline/" class="SiteNav-link">Timeline</a>
        </li>
        <li class="SiteNav-item">
            <a href="/venue/" class="SiteNav-link">Venue</a>
        </li>
        <li class="SiteNav-item">
            <a href="/tickets/" class="SiteNav-link">Tickets</a>
        </li>
        <li class="SiteNav-item">
            <a href="/code/" class="SiteNav-link">Code of Conduct</a>
        </li>
        {% if cfp_enabled %}
        <li class="SiteNav-item SiteNav-item--higlighted SiteNav-item--cfp">
            <a href="{% url 'cfp_announcement' %}" class="SiteNav-link SiteNav-link--cfp">
                <span class="SiteNav-label">Call for Proposals</span>
                <span class="SiteNav-label SiteNav-label--alt" aria-hidden="true" role="presentation">CFP</span>
            </a>
        </li>
        {% endif %}

        <li class="SiteNav-item SiteNav-item--higlighted SiteNav-item--account">
            {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}" class="SiteNav-link Button Button--gamma Button--rounded">
                    <svg class="Icon" aria-hidden="true" role="presentation">
                        <use xlink:href="{% static 'images/sprite.svg' %}#Sprite-user"></use>
                    </svg>Logout
                </a>
            {% else %}
            <a href="{% url 'account_login' %}" class="SiteNav-link Button Button--gamma Button--rounded"><svg class="Icon" aria-hidden="true" role="presentation"><use xlink:href="{% static 'images/sprite.svg' %}#Sprite-user"></use></svg>Login</a>
            {% endif %}
        </li>
    </ul>
</nav>
