<nav class="SiteNav">
    <div class="SiteNav-compact">
        <a href="#SiteNav" class="SiteNav-compactToggler"><i class="Icon Icon--menu">Open navigation</i></a>
        <a href="#" class="SiteNav-link SiteNav-link--cfp">Call for papers</a>
    </div>
    <div class="SiteNav-menu" id="SiteNav">
        <a href="#" class="SiteNav-compactToggler"><i class="Icon Icon--close">Close navigation</i></a>
        <ul class="SiteNav-list">
            <li class="SiteNav-item">
                <a href="#" class="SiteNav-link">Tickets</a>
            </li>
            <li class="SiteNav-item SiteNav-item--cfp">
                <a href="#" class="SiteNav-link SiteNav-link--cfp">Call for papers</a>
            </li>
            <li class="SiteNav-item SiteNav-item--account">
                <a href="#" class="SiteNav-link">Login</a>
            </li>
        </ul>
    </div>
</nav>
