{% load static %}
<section class="Sponsors">
    <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
        <h2 class="Sponsors-title">Supported by</h2>
    </div>
    <div class="Sponsors-type Sponsors-type--diamond">
        <ul class="Sponsors-list">
            {% for diamond in diamond_sponsors %}
            <li class="Sponsors-item">
                <a class="Sponsors-link" href="{{ diamond.url }}"><img src="{{MEDIA_URL}}{{ diamond.image }}" alt="{{ diamond.name }}" class="Sponsors-logo" /></a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="Sponsors-type Sponsors-type--other">
        <ul class="Sponsors-list">
            {% for sponsor in other_sponsors %}
            <li class="Sponsors-item">
                <a class="Sponsors-link" href="{{ sponsor.url }}"><img src="{{ MEDIA_URL }}{{ sponsor.image }}" alt="{{ sponsor.name }}" class="Sponsors-logo" /></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
