{% load static %}
<section class="Sponsors">
    <h2 class="Sponsors-title">Supported by</h2>
    <div class="Sponsors-type Sponsors-type--diamond">
        <ul class="Sponsors-list">
            <li class="Sponsors-item">
                <a class="Sponsors-link" href="http://toptal.com"><img src="{% static 'images/sponsors/logos/toptal.svg' %}" alt="Toptal" class="Sponsors-logo" /></a>
            </li>
        </ul>
    </div>
    <div class="Sponsors-type Sponsors-type--other">
        <ul class="Sponsors-list">
            <li class="Sponsors-item">
                <a class="Sponsors-link" href="http://www.amphinicy.com"><img style="width: 150px;" src="{% static 'images/sponsors/logos/amphinicy.svg' %}" alt="Amphinicy Technologies" class="Sponsors-logo" /></a>
            </li>
        </ul>
    </div>
</section>
