{% if sponsors.diamond %}
<div class="sponsor-list diamond">
    {% include "partials/sponsor-list-group.html" with sponsors=sponsors.diamond %}
</div>
{% endif %}

{% if sponsors.lanyard %}
<div class="sponsor-list lanyard">
    {% include "partials/sponsor-list-group.html" with sponsors=sponsors.lanyard %}
</div>
{% endif %}

{% if sponsors.track %}
<div class="sponsor-list track">
    {% include "partials/sponsor-list-group.html" with sponsors=sponsors.track %}
</div>
{% endif %}

{% if sponsors.foodanddrinks or sponsors.lounge %}
<div class="sponsor-list foodanddrinks">
    {% include "partials/sponsor-list-group.html" with sponsors=sponsors.foodanddrinks %}
    {% include "partials/sponsor-list-group.html" with sponsors=sponsors.lounge %}
</div>
{% endif %}

{% if sponsors.standard %}
<div class="sponsor-list standard">
    {% include "partials/sponsor-list-group.html" with sponsors=sponsors.standard %}
</div>
{% endif %}

{% if sponsors.supporter %}
<div class="sponsor-list supporter">
    {% include "partials/sponsor-list-group.html" with sponsors=sponsors.supporter %}
</div>
{% endif %}

{% if sponsors.video %}
<div class="text-center">Video powered by:</div>
<div class="sponsor-list video">
    {% include "partials/sponsor-list-group.html" with sponsors=sponsors.video %}
</div>
{% endif %}
