<div class="call-for-tickets">
  <div class="row column tickets">
    <h1>Conference timeline published</h1>

    <p>
      We decided when things will happen! Here are some highlights:
    </p>
    <p>
      Early bird tickets go on sale on <b>2019-05-01</b><br />
      Call for papers will be open from <b>2019-05-01</b> through <b>2019-05-31</b>
    </p>

    <div style="margin-top: 2rem;">
      <a href="/timeline/" class="large green button">
        CONFERENCE_TIMELINE
      </a>
      <a href="{% url 'cfp_announcement' %}" class="large button">
        CALL_FOR_PAPERS
      </a>
    </div>
  </div>
</div>
