{% if cfp %}
<div class="tickets-wrapper">
    <div class="row column tickets">
        <h1>Early bird tickets on sale</h1>

        <a href="/tickets/" class="blue xlarge arrow button">
            BUY TICKETS
        </a>

        <p class="text-center">
            Hurry up, early bird tickets end on <b>2017-07-23</b>.
        </p>

        <p class="text-center">
            <a class="yellow" href="{{ links.sponsors_pdf }}">{ or_become_sponsor }</a>
        </p>
    </div>
</div>
{% endif %}