{% if cfp %}
<div class="tickets-wrapper">
    <div class="row column tickets">
        <h1>Tickets are on sale</h1>

        <p style="margin-bottom:1.5rem">Regular tickets end on <b>2017-09-19</b>. Late tickets <em>will not include any swag!</em></p>

        <a href="/tickets/" class="blue xlarge arrow button">
            BUY TICKETS
        </a>

        <p class="text-center">
            <a class="yellow" href="{{ links.sponsors_pdf }}">{ or_become_sponsor }</a>
        </p>
    </div>
</div>
{% endif %}