<div class="usergroups-wrapper">
    <div class="row column">
        <h1 class="green-arrow">Organized_by_</h1>

        <div class="row align-center align-middle small-up-2 medium-up-4 large-up-6">
        {% for group in usergroups %}
            <div class="usergroup-list-item column">
                <a href="{{ group.webpage_url }}" title="{{ group.name }}">
                    <img src="{{ MEDIA_URL }}{{ group.image }}" alt="{{ group.name }} logo" />
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>