{% load static %}
<section class="Promote UserGroups">
    <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
        <h2 class="Promote-title">Organized by</h2>
    </div>
    <div class="Promote-body">
        <ul class="UserGroups-list">
            {% for group in usergroups %}
                <li class="UserGroups-item UserGroups-item--{{ group.slug }}">
                    <a class="UserGroups-link" href="{{ group.webpage_url }}" title="{{ group.name }}">
                        <img src="{{ MEDIA_URL }}{{ group.image }}" alt="{{ group.name }} logo" class="UserGroups-logo" /></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
