/**
 * =============================================================================
 * Schedule
 * =============================================================================
 */

.Schedule {
    margin:0 -1rem;

    table {
        border-collapse:collapse;

        &.is-hidden {
            display:none;
        }
    }

    caption {
        position:absolute; left:-9999px; top:-9999px;
    }

    td {
        border:0 solid $color-gray-gamma;
        color:$color-gray-alpha;

        &.Schedule-talkWrap {
            transition:background 0.07s ease-in-out;

            &:hover,
            &:focus {
                background:#fff;
            }
        }

        &.Schedule-time {
            color:$color-gray-delta;
        }
    }

    &-track {
        font-size:1.4rem;
        color:$color-brand-alpha;
    }

    &-time {
        font-weight:bold;
    }

    &-simple {
        text-align:center;
    }

    &-talk {
        display:block;
        width:100%;
        text-align:left;
    }

    &-talkTitle {
        display:block;
        font-weight:bold;
        color:$color-brand-alpha;
    }

    &-talkSpeaker {
        display:block;
        color:$color-gray-alpha;
    }

    @media screen and (min-width:$bp-alpha) and (max-width:$bp-gamma - 1) {
        margin:0 -2rem;
    }

    @media screen and (max-width:$bp-gamma - 1) {

        table,
        tbody,
        tr,
        td {
            display:block;
        }

        table {
            width:100%;
        }

        thead {
            display:none;
        }

        td {
            display:block;
            width:100%;
            border-bottom-width:1px;
            font-size:1rem;
            color:$color-gray-delta;

            &.Schedule-time {
                border-top-width:5px;
                font-size:0.8rem;
            }
        }

        &-nav {
            text-align:center;
        }

        &-navLink {
            font-size:1.2em;
            margin:0 0.3rem;
        }

        &-spacer {
            padding:0.5rem;
        }

        &-track {
            padding:0.5rem;
        }

        &-talkSpeaker {
            font-size:0.9rem;
        }

        &-talkTrack {
            display:block;
            margin-top:0.8rem;
            text-align:right;
            font-size:0.7rem;
            text-transform:uppercase;
            color:shade($color-gray-alpha, 10%);
        }

        &-time {
            text-align:center;
            margin-top:20px;
            background:#fff;
        }

        .ArticleFlag {
            padding:0.2rem 0.5rem;
            font-size:0.5rem;
        }
    }

    @media screen and (min-width:$bp-gamma) {
        margin:0;

        td {
            width:47.5%;
            border-width:1px;
            font-size:1.3rem;

            &.Schedule-time {
                width:5%;
            }
        }

        &-track {
            border-right:1px solid $color-gray-gamma;

            &:last-child {
                border-right-width:0;
            }
        }

        &-trackLogo {
            max-height:3.5rem;
        }

        &-nav {
            padding:1.5rem 0 3rem;
            text-align:center;
        }

        &-navLink {
            font-size:1.5em;
            margin:0 0.5rem;
        }

        &-spacer {
            padding:1.1rem;
        }

        &-track {
            padding:1.1rem;
        }

        &-talkSpeaker {
            font-size:1.1rem;
        }

        &-talkTrack {
            display:none;
        }

        &-time {
            text-align:right;
        }

        .ArticleFlag {
            padding:0.3rem 0.7rem;
            font-size:0.8rem;
        }
    }
}
