{% extends 'ui/page.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="Account">
    <h1 class="red-arrow">Login_</h1>

    <form action="." method="post">{% csrf_token %}
        <fieldset>
            {% if form.non_field_errors %}
            <div class="Form-errors">
                <div class="Passage">
                    {{ form.non_field_errors }}
                </div>
            </div>
            {% endif %}

            {% include "partials/form-field.html" with field=form.login  field_type="text" %}
            {% include "partials/form-field.html" with field=form.password  field_type="text" %}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <label for="remember_me" class="Togglable">
                <input id="remember_me" type="checkbox" name="remember" value="0" />
                Remember me
            </label>

            <button type="submit" class="purple arrow button">Login</button>

            <p><a href="{% url 'account_reset_password' %}">Forgot password?</a></p>
            <p><a href="{% url 'account_signup' %}">Don't have an account yet? Sign up here!</a></p>
        </fieldset>
    </form>
</section>
{% endblock %}
