{% extends 'ui/base.html' %}

{% load url from future %}
{% load i18n %}
{% load account %}

{% block body_class %}Page Page--login Page--stickyFooter{% endblock %}
{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block content %}

    <header class="Header" role="banner">
        <div class="Wrapper Wrapper--wide">
            <h1 class="Header-title">
                <a href="/"><i class="Header-logo Icon Icon--logo">WebCamp Zagreb 2015.</i></a>
            </h1>
            {% include "partials/site-nav.html" %}
        </div>
    </header>

    <main role="main" class="Page-content Aligner">
        <div class="Wrapper Wrapper--narrow Aligner-item">
            <section class="Account">

                <form action="{% url 'account_reset_password' %}" method="post" class="Form Form--beta">{% csrf_token %}
                    <div class="Form-constrain">
                        <fieldset class="Form-fieldset">
                            <legend class="Form-legend">{% trans "Password Reset" %}</legend>

                            {% if user.is_authenticated %}
                            <div class="Form-errors">
                                {% include "account/snippets/already_logged_in.html" %}
                            </div>
                            {% endif %}

                            <div class="Form-desc">
                                <div class="Passage">
                                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                                </div>
                            </div>

                            {% include "partials/form-field.html" with field=form.email  field_type="text" %}

                            <div class="Form-actions">
                                <button type="submit" class="Button Button--beta Form-action Form-action--submit">{% trans "Reset My Password" %}</button>
                            </div>

                            <div class="Form-actionHelp">
                                <div class="u-textCenter">
                                    <p>{% blocktrans %}Please contact us if you have any trouble resetting your&nbsp;password.{% endblocktrans %}</p>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </form>

            </section>
        </div>
    </main>

{% endblock %}
