{% extends 'ui/page.html' %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="red-arrow">Change_password_</h1>
    <form action="{% url 'account_change_password' %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% include "partials/form-field.html" with field=form.oldpassword  field_type="text" %}
            {% include "partials/form-field.html" with field=form.password1  field_type="text" %}
            {% include "partials/form-field.html" with field=form.password2  field_type="text" %}

            <button type="submit" class="purple arrow button">
                {% trans "Change Password" %}
            </button>
        </fieldset>
    </form>
{% endblock %}
