{% extends 'ui/base.html' %}

{% load url from future %}
{% load i18n %}

{% block body_class %}Page Page--login Page--stickyFooter{% endblock %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}

    <header class="Header" role="banner">
        <div class="Wrapper Wrapper--wide">
            <h1 class="Header-title u-textCenter">
                <a href="/"><i class="Header-logo Icon Icon--logo">WebCamp Zagreb 2015.</i></a>
            </h1>
        </div>
    </header>

    <main role="main" class="Page-content Aligner">
        <div class="Wrapper Wrapper--narrow Aligner-item">
            <section class="Account">

                <form action="{% url 'account_change_password' %}" method="post" class="Form Form--beta">{% csrf_token %}
                    <div class="Form-constrain">
                        <fieldset class="Form-fieldset">
                            <legend class="Form-legend">{% trans "Change Password" %}</legend>

                            {% include "partials/form-field.html" with field=form.oldpassword  field_type="text" %}
                            {% include "partials/form-field.html" with field=form.password1  field_type="text" %}
                            {% include "partials/form-field.html" with field=form.password2  field_type="text" %}

                            <div class="Form-actions">
                                <button type="submit" class="Button Button--beta Form-action Form-action--submit">{% trans "Change Password" %}</button>
                            </div>

                        </fieldset>
                    </div>
                </form>

            </section>
        </div>
    </main>

{% endblock %}
