{% extends 'ui/base.html' %}

{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block body_class %}Page Page--login Page--stickyFooter{% endblock %}

{% block content %}
    <header class="Header" role="banner">
        <div class="Wrapper Wrapper--wide">
            <h1 class="Header-title">
                <a href="/"><i class="Header-logo Icon Icon--logo">WebCamp Zagreb 2015.</i></a>
            </h1>
            {% include "partials/site-nav.html" %}
        </div>
    </header>

    <main role="main" class="Page-content Aligner">
        <div class="Wrapper Wrapper--narrow Aligner-item">
            <section class="Account">

                <div class="Form Form--beta">
                    <p class="Form-actionDone u-textCenter">{% trans 'Your password is now&nbsp;changed.' %}</p>
                </div>

            </section>
        </div>
    </main>
{% endblock %}
