{% extends 'ui/base.html' %}

{% load url from future %}
{% load i18n %}

{% block body_class %}Page Page--login Page--stickyFooter{% endblock %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}

    <header class="Header" role="banner">
        <div class="Wrapper Wrapper--wide">
            <h1 class="Header-title u-textCenter">
                <a href="/"><i class="Header-logo Icon Icon--logo">WebCamp Zagreb 2015.</i></a>
            </h1>
        </div>
    </header>

    <main role="main" class="Page-content Aligner">
        <div class="Wrapper Wrapper--narrow Aligner-item">
            <section class="UserAccess UserAccess--login">
                <div class="UserAccess-constrain">

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}

                            <form action="." method="post" class="Form Form--beta">{% csrf_token %}

                                <fieldset class="Form-fieldset">
                                    <legend class="Form-legend">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</legend>

                                    {{ form.as_p }}

                                    <div class="Form-actions">
                                        <button type="submit" class="Button Button--beta Form-action Form-action--submit">{% trans "change password" %}</button>
                                    </div>

                                </fieldset>

                            </form>

                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}

                </div>
            </section>
        </div>
    </main>

{% endblock %}
