{% extends 'ui/base.html' %}

{% load i18n %}

{% block body_class %}Page Page--login Page--stickyFooter{% endblock %}
{% block title %}{% trans "Set Password" %}{% endblock %}
{% block content %}

    <header class="Header" role="banner">
        <div class="Wrapper Wrapper--wide">
            {% include "partials/site-nav.html" %}
        </div>
    </header>

    <main role="main" class="Page-content Aligner">
        <div class="Wrapper Wrapper--narrow Aligner-item">
            <section class="Account">

                <form action="{% url 'account_change_password' %}" method="post" class="Form Form--beta">{% csrf_token %}
                    <div class="Form-constrain">
                        <fieldset class="Form-fieldset">
                            <legend class="Form-legend">{% trans "Set Password" %}</legend>

                            {{ form.as_p }}

                            <div class="Form-actions">
                                <button type="submit" class="Button Button--beta Form-action Form-action--submit">{% trans "Set Password" %}</button>
                            </div>

                        </fieldset>
                    </div>
                </form>

            </section>
        </div>
    </main>

{% endblock %}
