{% extends 'ui/page.html' %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1 class="red-arrow">Password_reset_</h1>

    <form action="{% url 'account_reset_password' %}" method="post">
        {% csrf_token %}

            <fieldset>
                {% if user.is_authenticated %}
                <div class="callout warning">
                    <b>Warning:</b> You are already logged in as <em>{{ user }}</em>.
                </div>
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                {% include "partials/form-field.html" with field=form.email  field_type="text" %}

                <button type="submit" class="purple arrow button">
                    {% trans "Reset My Password" %}
                </button>

                <p>
                    Please contact us at <a href="mailto:info@webcampzg">info@webcampzg</a> if you have any trouble resetting your&nbsp;password.
                </p>
            </fieldset>
        </div>
    </form>
{% endblock %}
