{% extends 'ui/page.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h1 class="red-dash">Sign_up_</h1>

    {% if form.non_field_errors %}
    <div class="callout alert">
        <p>Errors:</p>
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form action="" method="post" class="Form Form--beta">{% csrf_token %}
        <div class="row">
            <div class="small-12 medium-6 columns">

                {% include "partials/form-field.html" with field=form.email  field_type="text" %}
                {% include "partials/form-field.html" with field=form.first_name  field_type="text" %}
                {% include "partials/form-field.html" with field=form.last_name  field_type="text" %}
                {% include "partials/form-field.html" with field=form.password1  field_type="text" %}
                {% include "partials/form-field.html" with field=form.password2  field_type="text" %}
            </div>
            <div class="small-12 medium-6 columns">

                {% include "partials/form-field.html" with field=form.tshirt_size field_type="text" %}
                {% include "partials/form-field.html" with field=form.github field_type="text" vanity_field="github" %}
                {% include "partials/form-field.html" with field=form.twitter field_type="text" vanity_field="twitter" %}
            </div>
        </div>

        <button type="submit" class="green button">Sign Up</button>
    </form>
{% endblock %}
