{% extends 'ui/base.html' %}
{% block title %}Sign Up{% endblock %}
{% block body_class %}Page Page--login Page--stickyFooter{% endblock %}
{% block content %}
    <header class="Header" role="banner">
        <div class="Wrapper Wrapper--wide">
            <h1 class="Header-title u-textCenter">
                <a href="/"><i class="Header-logo Icon Icon--logo">WebCamp Zagreb 2015.</i></a>
            </h1>
        </div>
    </header>

    <main role="main" class="Page-content Aligner">
        <div class="Wrapper Wrapper--narrow Aligner-item">
            <section class="UserAccess UserAccess--signup">
                <form action="" method="post" class="Form Form--beta">{% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.errors }}
                    <fieldset class="Form-fieldset">
                        <legend class="Form-legend">Sign Up</legend>

                        <div class="UserAccess-grid">
                            <div class="UserAccess-gridItem">

                                <div class="Form-item">
                                    <label class="Form-label" for="email">E-mail address <abbr class="Form-requiredFlag" title="Required field">*</abbr></label>
                                    <div class="Form-field">
                                        <div class="Field Field--text">
                                            <input type="email" id="email" required="required" name="email"
                                                   {% if form.email.value %}value="{{ form.email.value }}"{% endif %}/>
                                        </div>
                                    </div>
                                </div>

                                <div class="Form-item">
                                    <label class="Form-label" for="first_name">First name <abbr class="Form-requiredFlag" title="Required field">*</abbr></label>
                                    <div class="Form-field">
                                        <div class="Field Field--text">
                                            <input type="text" id="first_name" name="first_name" required="required"
                                                   {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %}/>
                                        </div>
                                    </div>
                                </div>

                                <div class="Form-item">
                                    <label class="Form-label" for="last_name">Last name <abbr class="Form-requiredFlag" title="Required field">*</abbr></label>
                                    <div class="Form-field">
                                        <div class="Field Field--text">
                                            <input type="text" id="last_name" name="last_name" required="required"
                                                    {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %}/>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="UserAccess-gridItem">

                                <div class="Form-item">
                                    <label class="Form-label" for="tshirt_size">T-shirt size <abbr class="Form-requiredFlag" title="Required field">*</abbr></label>
                                    <div class="Form-field">
                                        <div class="Select">
                                            <div class="Field Field--text">
                                                <select id="tshirt_size" name="tshirt_size" required="required"
                                                    {% if form.tshirt_size.value %}value="{{ form.tshirt_size.value }}"{% endif %}/>
                                                    {% for value, text in form.tshirt_size.field.choices %}
                                                        <option value="{{ value }}">{{ text }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="Form-item">
                                    <label class="Form-label" for="twitter">Twitter handle <span class="Form-shortDesc">(without the @)</span></label>
                                    <div class="Form-field">
                                        <div class="VanityField VanityField--twitter">
                                            <div class="Field Field--text">
                                                <input type="text" id="twitter" name="twitter"
                                                        {% if form.twitter.value %}value="{{ form.twitter.value }}"{% endif %}/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="Form-item">
                                    <label class="Form-label" for="github">GitHub username <span class="Form-shortDesc">(not URL, only username)</span></label>
                                    <div class="Form-field">
                                        <div class="VanityField VanityField--github">
                                            <div class="Field Field--text">
                                                <input type="text" id="github" name="github"
                                                       {% if form.github.value %}value="{{ form.github.value }}"{% endif %}/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="Form-item">
                                    <label class="Form-label" for="password1">Password <abbr class="Form-requiredFlag" title="Required field">*</abbr></label>
                                    <div class="Form-field">
                                        <div class="Field Field--text"><input type="password" id="password1" name="password1" required="required"/></div>
                                    </div>
                                </div>

                                <div class="Form-item">
                                    <label class="Form-label" for="password2">Repeated password <abbr class="Form-requiredFlag" title="Required field">*</abbr></label>
                                    <div class="Form-field">
                                        <div class="Field Field--text"><input type="password" id="password2" name="password2" required="required"/></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="Form-actions">
                            <button type="submit" class="Button Button--beta Form-action Form-action--submit">Sign Up</button>
                        </div>

                    </fieldset>

                </form>

            </section>
        </div>
    </main>
{% endblock %}
