{% extends 'ui/page.html' %}

{% block title %}Call for Proposals - {{ webcamp.extended_title }}{% endblock %}

{% block content %}
    {% if cfp %}
        <h2 class="red-arrow">{{ cfp.title }}</h2>

        {{ cfp.announcement|safe }}

        <hr />

        {% if cfp.is_active %}
            <div class="text-center">
                <a href="{% url 'application_create' %}" class="large purple arrow button">Submit a talk</a>
            </div>
        {% else %}
            <h2 class="red-arrow">The CFP is now closed.</h2>
        {% endif %}
    {% else %}
        <h1>Call for papers closed</h1>

        <p>There are no active calls for paper.</p>
    {% endif %}
{% endblock %}
