{% extends 'ui/page.html' %}

{% block title %}Call For Proposals - {{ webcamp.extended_title }}{% endblock %}

{% block content %}
<h2>Submit your talk for WebCamp Zagreb {{ current_year }}</h2>

{{ cfp_description|safe }}

<form method="post" enctype="multipart/form-data" class="Form">{% csrf_token %}

    <h1 class="red-arrow">Talk</h1>

    <fieldset>
        {% include "partials/form-field.html" with field=form.title  field_type="text" %}
        {% include "partials/form-field.html" with field=form.about  field_type="text" %}
        {% include "partials/form-field.html" with field=form.abstract  field_type="text" %}
        {% include "partials/form-field.html" with field=form.skill_level field_type="text" %}
        {% include "partials/form-field.html" with field=form.duration field_type="text" %}
        {% include "partials/form-field.html" with field=form.accomodation_required field_type="checkbox" %}
        {% include "partials/form-field.html" with field=form.extra_info field_type="text" %}

    </fieldset>

    <h1 class="red-arrow">Speaker</h1>

    <fieldset>
        {% include "partials/form-field.html" with field=form.about_applicant field_type="text" %}
        {% include "partials/form-field.html" with field=form.biography field_type="text" %}
        {% include "partials/form-field.html" with field=form.speaker_experience field_type="text" %}
        {% include "partials/form-field.html" with field=form.image field_type="file" %}
    </fieldset>

    <button type="submit" class="purple arrow button">Submit</button>

</form>
{% endblock %}
