{% extends 'ui/base.html' %}
{% block title %}Call for Proposals - WebCamp Zagreb 2015{% endblock %}
{% block content %}

    {% include "partials/header.html" with hero_type="cfp" title="Call for Proposals" %}

    <section class="Intro">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <div class="Passage">
                <h2 class="Intro-title">{{ cfp.title }}</h2>
                <div class="Intro-body">
                    {{ cfp.announcement|safe }}

                    <div class="u-textCenter">
                        <a href="{% url 'application_create' %}" class="Button Button--beta Button--rounded">Submit a talk</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/tickets.html" %}

{% endblock %}
