{% extends 'ui/page.html' %}

{% load markdown_deux_tags %}
{% load static %}

{% block title %}Call for papers - {{ event.extended_title }}{% endblock %}

{% block og %}
    <meta property="og:title" content="Call for papers - {{ event.extended_title }}" />
    <meta property="og:description" content="{{ event.title }} is looking for speakers on topics of development, design and everything in between. Check out our speaker package and submit!" />
{% endblock %}

{% block og_image %}
    <meta property="og:image" content="{{ base_url }}{% static 'images/2019/cfp_open.png' %}"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
{% endblock %}

{% block content %}
    {% if cfp %}
        {% if user.is_superuser %}
            <a class="button float-right" href="{% url 'admin:cfp_callforpaper_change' cfp.pk %}">Edit</a>
        {% endif %}

        <h1 class="red-dash">{{ cfp.title }}</h1>

        {{ cfp.announcement|markdown:"trusted" }}

        <hr />

        {% if cfp.is_active %}
            <p>This call for papers ends on <b>{{ cfp.end_date|date }}</b>.</p>
            <div class="text-center">
                <a href="{% url 'application_create' %}" class="large green button">Submit a talk</a>
            </div>
        {% elif cfp.is_pending %}
            <h3 class="yellow-dash">The call for papers opens on {{ cfp.begin_date|date }}</h2>
        {% else %}
            <h3 class="yellow-dash">The CFP is now closed.</h3>
        {% endif %}
    {% else %}
        <h1>Call for papers</h1>

        <p>There are no active calls for papers.</p>
    {% endif %}
{% endblock %}
