{% extends 'ui/page.html' %}

{% block title %}Call For Proposals - {{ webcamp.extended_title }}{% endblock %}

{% block content %}
<h2>Submit your talk for WebCamp Zagreb {{ current_year }}</h2>

{{ cfp_description|safe }}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h1 class="red-arrow">Talk</h1>

    <fieldset>
        {% include "partials/form-field.html" with field=form.title  %}
        {% include "partials/form-field.html" with field=form.about  %}
        {% include "partials/form-field.html" with field=form.abstract  %}
        {% include "partials/form-field.html" with field=form.skill_level %}
        {% include "partials/form-field.html" with field=form.duration %}
        {% include "partials/form-field.html" with field=form.accomodation_required %}
        {% include "partials/form-field.html" with field=form.extra_info %}
    </fieldset>

    <h1 class="red-arrow">Speaker</h1>

    <fieldset>
        {% include "partials/form-field.html" with field=form.about_applicant %}
        {% include "partials/form-field.html" with field=form.biography %}
        {% include "partials/form-field.html" with field=form.speaker_experience %}
        {% include "partials/form-field.html" with field=form.image %}
    </fieldset>

    <button type="submit" class="purple arrow button">Submit</button>

</form>
{% endblock %}
