/**
 * =============================================================================
 * Breakpoints
 * =============================================================================
 */

$bp-alpha: 400px;
$bp-beta: 650px;
$bp-gamma: 800px;
$bp-delta: 1000px;
$bp-epsilon: 1060px;

/**
 * Component related
 * -----------------------------------------------------------------------------
 */

$bp-sitenav-full-display: 1080px;
