/**
 * =============================================================================
 * Breakpoints
 * =============================================================================
 */

$bp-alpha: 400px;
$bp-beta: 650px;
$bp-gamma: 800px;
$bp-delta: 1000px;
