/**
 * =============================================================================
 * Button
 * =============================================================================
 */

@mixin _Button-transition {
    transition:all 0.07s ease-in-out;
}

@mixin Button {
    @include _Button-transition;
    display:inline-block;
    border-radius:0;
    font-weight:700;
    text-align:center;
    transition-property:border-color, color, background;
    outline:0;
    text-decoration:none;
}

@mixin Button--rounded {
    border-radius:999px;
}

@mixin Button--alpha {
    border:1px solid $color-brand-alpha;
    color:#fff;
    background:$color-brand-alpha;

    &:hover,
    &:focus {
        color:#fff;
        background:$color-brand-beta;
    }
}

@mixin Button--beta {
    border:1px solid #fff;
    color:#fff;
    background:transparent;

    &:hover,
    &:focus {
        color:$color-brand-alpha;
        background:#fff;
    }
}

@mixin Button--gamma {
    border:1px solid $color-brand-alpha;
    color:$color-brand-alpha;
    background:transparent;

    &:hover,
    &:focus {
        border-color:$color-brand-beta;
        color:#fff;
        background:$color-brand-beta;
    }
}

@mixin Button--delta {
    border:1px solid $color-brand-beta;
    color:#fff;
    background:$color-brand-beta;

    &:hover,
    &:focus {
        color:#fff;
        background:darken($color-brand-beta, 5%);
    }
}
