/**
 * =============================================================================
 * Colors
 * =============================================================================
 */

$color-alpha: #352134; /* Deep purple :P; */
$color-beta: #9b9b9b; /* Gray */
$color-gamma: #f16c5b; /* Pink */
$color-delta: #d82828; /* Red */

$color-base: #333;

$color-gray-alpha: #f4f4f4;
