/**
 * =============================================================================
 * Colors
 * =============================================================================
 */

$color-base: #333;

$color-brand-alpha: #352134; /* Deep purple :P */
$color-brand-beta: #f16c5b; /* Pink */

$color-gray-alpha: #9b9b9b; /* Gray */
$color-gray-beta: #f4f4f4;

$color-error-alpha: #d82828; /* Red */
