/**
 * =============================================================================
 * Blur
 * =============================================================================
 */

@mixin content-blur {

    &:before {
        content:'';
        position:absolute; left:0; top:0; right:0; bottom:0;
        background-repeat:no-repeat;
        background-position:50% 50%;
        background-size:cover;
        transition:filter 0.3s ease-in-out;
        @content;
    }

    @media screen and (min-width:$bp-sitenav-full-display) {
        overflow:hidden;

        &:before {
            left:-5px; top:-5px; right:-5px; bottom:-5px;
            filter:blur(2px);
        }

        &:hover {

            &:before {
                filter:blur(0px);
            }
        }
    }
}
