/**
 * =============================================================================
 * Icon
 * =============================================================================
 */

@mixin Icon {
    display:inline-block;
    vertical-align:top;
    background-repeat:no-repeat;
    background-size:contain;
    text-indent:-9999px; overflow:hidden;
}

@mixin Icon--social__Icon--facebook__white {
    background-image:inline('/static/images/svg/facebook-white.svg');
}

@mixin Icon--social__Icon--twitter__white {
    background-image:inline('/static/images/svg/twitter-white.svg');
}

@mixin Icon--social__Icon--github__white {
    background-image:inline('/static/images/svg/github-white.svg');
}

@mixin Icon--social__Icon--googlePlus__white {
    background-image:inline('/static/images/svg/google-plus-white.svg');
}

@mixin Icon--social__Icon--linkedin__white {
    background-image:inline('/static/images/svg/linkedin-white.svg');
}
