/**
 * =============================================================================
 * Icon
 * =============================================================================
 */

@mixin Icon {
    display:inline-block;
    vertical-align:top;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:contain;
    text-align:left; text-indent:-9999px; overflow:hidden;
}
