/**
 * =============================================================================
 * Links
 * =============================================================================
 */

@mixin Link--beta {
    color:#fff;

    &:hover,
    &:focus {
        color:$color-brand-beta;
    }
}

@mixin Link--gamma {
    color:#fff;

    &:hover,
    &:focus {
        color:$color-brand-alpha;
    }
}

@mixin Link--delta {
    color:$color-brand-alpha;

    &:hover,
    &:focus {
        color:shade($color-brand-beta, 20%);
    }
}
