/**
 * =============================================================================
 * Globals
 * =============================================================================
 */

html {
    line-height:1.5;
}

html, select, button,
input, textarea {
    font-size:100%; font-family:Lato, sans-serif;
    color:$color-base;
}

abbr[title] {
    border-bottom:0;
}

body {
    @include page-border;
    background:$color-gray-beta;
}

a {
    display:inline-block;
    color:$color-brand-beta;
    text-decoration:none;
    transition:color 0.07s ease-in-out;

    &:hover,
    &:focus {
        color:shade($color-brand-beta, 20%);
    }
}

/**
 * =============================================================================
 * Pages
 * =============================================================================
 */

.Page--404 {
    border:none;
    background-color:$color-brand-alpha;

    .PageContent {
        position:absolute; left:50%; top:50%;
        transform:translateX(-50%) translateY(-50%);

        &-logo {
            text-align:center;

            svg {
                width:200px; height:200px;
            }
        }

        &-action {
            padding-top:1rem;
            text-align:center;

            .Button {
                font-size:1rem;
                white-space:nowrap;
            }
        }
    }

    @media screen and (min-width:700px) {
        background-image:url('/static/images/bg-404.jpg'); background-repeat:no-repeat; background-size:cover;

        .PageContent {

            &-logo {

                svg {
                    width:250px; height:250px;
                }
            }

            &-action {
                padding-top:2rem;

                .Button {
                    font-size:1.5rem;
                }
            }
        }
    }

    @media screen and (min-width:$bp-delta) {

        .PageContent {

            &-logo {

                svg {
                    width:300px; height:300px;
                }
            }

            &-action {

                .Button {
                    font-size:2rem;
                }
            }
        }
    }
}
