/**
 * =============================================================================
 * Globals
 * =============================================================================
 */

html {
    line-height:1.5;
}

html, select, button,
input, textarea {
    font-size:100%; font-family:Lato, sans-serif;
    color:$color-base;
}

abbr[title] {
    border-bottom:0;
}

body {
    @include page-border;
    background:$color-gray-beta;
}

a {
    display:inline-block;
    color:$color-brand-beta;
    text-decoration:none;
    transition:color 0.07s ease-in-out;

    &:hover,
    &:focus {
        color:shade($color-brand-beta, 20%);
    }
}
