/**
 * =============================================================================
 * Layout
 * =============================================================================
 */

.Wrapper {
    margin:0 auto;

    &--wide {
        max-width:1180px;
    }

    &--narrow {
        max-width:780px;
    }
}
