/**
 * =============================================================================
 * Tickets
 * =============================================================================
 */

.Tickets {
    @include content-blur;
    position:relative;
    background-size:cover;
    padding:1rem;
    text-align:center;
    color:#fff;

    &:before {
        background:url('/static/images/hero-tickets.jpg') 50% 50%;
    }

    &-inner {
        position:relative; z-index:10;
    }

    &-title {
        margin-bottom:0.5em;
        font-size:2em; line-height:1.1;
    }

    @media screen and (min-width:$bp-beta) {
        padding:6em 1rem 76px;

        &-inner {
            padding:1.5em 0;
        }

        &:after {
            content:'';
            position:absolute; bottom:-1px; left:50%;
            transform:translateX(-50%);
            width:164px; height:76px;
            background-image:inline('/static/images/pixels-middle.svg');
            background-size:cover;
        }
    }
}

/**
 * CTA
 * -----------------------------------------------------------------------------
 */

.Tickets {

    &-ctaList {
        margin-bottom:-1em;

        > li {
            margin:1em 0;
        }
    }

    &-cta {
        font-size:1.8em;
        white-space:nowrap;
    }

    @media screen and (min-width:$bp-beta) {

        &-ctaList {
            font-size:0;
            text-align:center;
            margin-bottom:0;

            > li {
                display:inline-block;
                margin:1em 0.5em;
                font-size:1rem;
            }
        }
    }
}
