{% extends 'ui/base.html' %}

{% block title %}News - {{ webcamp.extended_title }}{% endblock %}

{% block content %}

    {% include "partials/header.html" with hero_type="main" %}

    <section class="Listing Spotlight Spotlight--beta">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <h1 class="Spotlight-title">News Archive</h1>
            <ul class="Listing-list">
                {% for post in posts %}
                <li class="Listing-item">
                    <article class="Article">
                        <time class="Article-pubDate" pubdate="pubdate" datetime="{{ post.created_at }}">{{ post.created_at|date:"d.m.Y." }}</time>
                        <h3 class="Article-title">
                            <a href="{% url 'blog_view_post' slug=post.slug %}">{{ post.title }}</a>
                            {% if post.is_sponsored %}
                            <span class="ArticleFlag Flag Flag--alpha">Sponsored</span>
                            {% endif %}
                        </h3>
                        <div class="Article-excerpt">
                            {{ post.lead|safe }}
                        </div>
                    </article>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    {% include "partials/newsletter.html" %}

    {% include "partials/sponsors.html" %}

    {% include "partials/user-groups.html" %}

{% endblock %}

