{% extends 'ui/base.html' %}
{% block title %}WebCampZG 2015{% endblock %}
{% block content %}

    <header class="Header Hero Hero--main" role="banner">
        <div class="Hero-inner">
            <div class="Wrapper Wrapper--wide">
                {% include "partials/site-nav.html" %}
            </div>
            <div class="Punchline">
                <div class="Wrapper Wrapper--narrow">
                    <h2 class="Punchline-info">Technology oriented conference for <b>developers&nbsp;&amp;&nbsp;designers</b></h2>
                    <div class="Punchline-event">
                        <p class="Punchline-date">October 3rd &amp; 4th, 2015</p>
                        <p class="Punchline-location"><span>Hypo Expo XX1</span> <span>Slavonska avenija 6</span> Zagreb, Croatia</p>
                    </div>
               </div>
            </div>
        </div>
    </header>

    <section class="Blog Intro Intro--beta">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <h1 class="Intro-title">Latest news</h1>
            <ul class="Blog-list">
                {% for post in posts %}
                <li>
                    <article class="Article">
                        <time class="Article-pubDate" pubdate="pubdate" datetime="{{ post.created_at }}">{{ post.created_at|date:"SHORT_DATE_FORMAT" }}</time>
                        <h3 class="Article-title"><a href="{% url 'blog_view_post' slug=post.slug %}">{{ post.title }}</a></h3>
                        <p class="Article-excerpt">
                            {{ post.lead|safe }}
                        </p>
                        <p><a class="Article-link Article-link--readMore Button Button--gamma Button--rounded" href="{% url 'blog_view_post' slug=post.slug %}">Read more</a></p>
                    </article>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="Tickets">
        <div class="Tickets-inner">
            <div class="Wrapper Wrapper--narrow">
                <h3 class="Tickets-title">Early Bird tickets on&nbsp;sale!</h3>
                <div>
                    <p>Early bird tickets are limited. Get them while they're hot.</p>
                    <p>If you don't want to pay for your ticket, submit a talk at one of our meetup groups!</p>
                    <ul class="Tickets-ctaList">
                        <li><a href="https://www.entrio.hr/en/event/webcamp-zagreb-2015-2150" class="Tickets-cta Button Button--beta Button--rounded">Buy tickets!</a></li>
                        <li><a href="/media/webcampzg_2015_sponsors.pdf" class="Tickets-cta Button Button--beta Button--rounded">Become a sponsor</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="Newsletter">
        <div class="Wrapper Wrapper--narrow">
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="//webcampzg.us7.list-manage.com/subscribe/post?u=9390a854a4f6130f215f417ef&amp;id=5b285297b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate Form" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group form-wrap">
                            <div class="Grid">
                                <div class="Grid-cell Grid-cell--2of3">
                                    <div class="Field Field--text"><input type="email" value="" name="EMAIL" class="required email Newsletter-email" id="mce-EMAIL" placeholder="Let's stay in touch!"></div>
                                </div>
                                <div class="Grid-cell Grid-cell--1of3">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button Button Button--alpha Form-action Form-action--submit Newsletter-action">
                                </div>
                            </div>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_9390a854a4f6130f215f417ef_5b285297b0" tabindex="-1" value="">
                        </div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </section>

    {% include "partials/sponsors.html" %}

    <div class="Bithub">
        <a href="https://bithub.com/embed?hubId=2&tenant=solitary_tsunami_597_8&view=public" class="bithub-embed">hollow-cove-1477 Embed</a><script src="https://bithub.com/embed.js"></script>
    </div>

{% endblock %}

