{% extends 'ui/page.html' %}

{% block title %}News - {{ event.extended_title }}{% endblock %}

{% block content %}
    <h1 class="red-dash">News_archive_</h1>
    {% if posts %}
        {% for post in posts %}
            <article>
                <time class="gray" datetime="{{ post.created_at|date:"c" }}">
                    {{ post.created_at|date:"d.m.Y." }}
                </time>

                <h3>
                    <a href="{% url 'blog_view_post' slug=post.slug %}">{{ post.title }}</a>
                    {% if post.is_sponsored %}
                        <span class="yellow label">Sponsored</span>
                    {% endif %}
                </h3>

                <div>
                    {{ post.lead|safe }}
                </div>
            </article>

            {% if not forloop.last %}
                <hr />
            {% endif %}
        {% endfor %}
    {% else %}
        <p><em>No news have been published so far. Check back soon.</em></p>
    {% endif %}
{% endblock %}
