{% extends 'ui/base.html' %}
{% load static %}
{% block title %}{{ post.title }} - WebCampZG 2015{% endblock %}
{% block content %}

    {% include "partials/header.html" with hero_type="blog" %}

    <section class="Blog Spotlight Spotlight--beta">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <article class="Article Article--detail">
                <time class="Article-pubDate" pubdate="pubdate" datetime="{{ post.created_at }}">{{ post.created_at|date:"d.m.Y." }}</time>
                <h1 class="Article-title">{{ post.title }}</h1>
                <p class="Article-excerpt">
                    {{ post.lead|safe }}
                </p>
                <div class="Article-body">
                    <div class="Passage">
                        {{ post.body|safe }}
                    </div>
                </div>
                {% include "partials/share.html" with title="Share this article" %}
                <nav class="Nav">
                    <ul class="Nav-list">
                        {% if previous %}
                            <li><a class="Article-link Button Button--gamma Button--rounded" href="{% url 'blog_view_post' slug=previous.slug %}">Previous article</a></li>
                        {% endif %}
                        {% if next %}
                            <li><a class="Article-link Button Button--gamma Button--rounded" href="{% url 'blog_view_post' slug=next.slug %}">Next article</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </article>
        </div>
    </section>

    {% include "partials/sponsors.html" %}

{% endblock %}

