{% extends 'ui/page.html' %}

{% load markdown_deux_tags %}
{% load static %}

{% block title %}{{ post.title }} - {{ event.extended_title }}{% endblock %}

{% block head %}
    <meta name="description" content="{{ post.lead|safe|striptags }}">
{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:description" content="{{ post.lead|safe|striptags }}" />
{% endblock %}

{% block content %}
    <article>
        <time class="gray" datetime="{{ post.created_at|date:"c" }}">
            {{ post.created_at|date:"d.m.Y." }}
        </time>

        {% if user.is_superuser %}
            <a class="button yellow-dash float-right" href="{% url 'admin:blog_post_change' post.pk %}">Edit</a>
        {% endif %}

        <h3>
            <a href="{% url 'blog_view_post' slug=post.slug %}">
                {{ post.title }}
            </a>
            {% if post.is_sponsored %}
                <span class="yellow label">Sponsored</span>
            {% endif %}
        </h3>

        <div class="lead">
            {{ post.lead|markdown:"trusted" }}
        </div>

        {{ post.body|markdown:"trusted" }}

        {% include "partials/share.html" with title="Share this article" %}
    </article>
{% endblock %}
