// Font
$font-prefix: '/static/fonts';
@import 'mono/index';


// Framework
@import "terminal";

// Base
@import "palette";
@import "icons";
@import "utils";
@import "labels";
@import "media";
@import "block_grid";

// Components
@import "footer";
@import "header";
@import "hero";
@import "sponsors";
@import "talks";
@import "team";

// Settings
// :root {
//   --font-stack: "IBM Plex", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
//   --mono-font-stack: "IBM Plex", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
// }

// Tweaks
h1 {
    display: block;
    padding: 0;
    margin: 0.5rem 0;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
}

hr.h1 {
    margin: calc(var(--global-space) * 1) 0;
}

hr.h2 {
    margin: calc(var(--global-space) * 2) 0;
}

hr.h3 {
    margin: calc(var(--global-space) * 3) 0;
}

hr.gray {
    border-color: $medium-gray;
}

summary {
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.terminal-card {
    header {
        text-align: left;
        padding: 0.5rem 1rem;
        color: $black;
        font-weight: bold;
        background-color: $medium-gray;
        border-bottom: 1px dashed $black;
    }
}

// Pounding heart animation
@keyframes pounding{
    0% { transform: scale(1); }
    40% { transform: scale(1); }
    55% { transform: scale(1.5); }
    70% { transform: scale(1.1); }
    85% { transform: scale(1.5); }
}

.pounding:hover {
    animation: pounding 1.5s linear infinite;
}


// Django-specific
.form-field-error,
.errorlist {
    color: $red;
    font-weight: bold;
}

.form-field-error {
    margin: 0.5rem 0;
}

.help-text {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}


.callout {
    border: 1px solid $black;
    padding: 1rem;
    margin-bottom: 1rem;

    &.alert {
        border-color: $red;
        background-color: change-color($red, $alpha: 0.2);
    }
}