/**
 * =============================================================================
 * Intro
 * =============================================================================
 */

.Intro {
    position:relative; z-index:10;
    margin-top:-80px; margin-bottom:-80px;

    &:before {
        content:'';
        position:absolute; left:0; right:0; top:80px; bottom:80px;
        background:$color-brand-alpha;
    }

    &-title {
        color:$color-brand-beta;
        font-size:1.3em;

        @media screen and (min-width:1060px) {
            font-size:1.7em;
        }
    }

    .Wrapper--withFlair {
        color:#ddd;
        background:$color-brand-alpha;
    }
}

/**
 * Variations
 * -----------------------------------------------------------------------------
 */

.Intro {

    &--beta {

        &:before {
            background:$color-gray-beta;
        }

        .Intro-title {
            color:$color-brand-alpha;
        }

        .Wrapper--withFlair {
            color:$color-base;
            background:$color-gray-beta;

            @media screen and (min-width:1060px) {

                &:before {
                    background-image:inline('/static/images/pixels-left-gray.svg');
                }

                &:after {
                    background-image:inline('/static/images/pixels-right-gray.svg');
                }
            }
        }
    }
}
