{% extends 'ui/base.html' %}
{% block title %}Profile{% endblock %}
{% block body_class %}Page Page--login Page--stickyFooter{% endblock %}
{% block content %}
    <header class="Header" role="banner">
        <div class="Wrapper Wrapper--wide">
            <h1 class="Header-title u-textCenter">
                <a href="/"><i class="Header-logo Icon Icon--logo">WebCamp Zagreb 2015.</i></a>
            </h1>
        </div>
    </header>

    <main role="main" class="Page-content Aligner">
        <div class="Wrapper Wrapper--narrow Aligner-item">

            <section class="Account">
                <form method="post" class="Form Form--beta">{% csrf_token %}
                    <fieldset class="Form-fieldset">
                        <legend class="Form-legend">Profile</legend>

                        {% if form.errors %}
                        <div class="Form-errors">
                            <div class="Passage">
                                <p>Please fix the errors below:</p>
                                {{form.non_field_errors}}
                            </div>
                        </div>
                        {% endif %}

                        <div class="Grid">
                            <div class="Grid-cell Grid-cell--1of2">

                                {% include "partials/form-field.html" with field=form.email field_type="text" %}
                                {% include "partials/form-field.html" with field=form.first_name field_type="text" %}
                                {% include "partials/form-field.html" with field=form.last_name field_type="text" %}

                            </div>
                            <div class="Grid-cell Grid-cell--1of2">

                                {% include "partials/form-field.html" with field=form.tshirt_size field_type="text" %}
                                {% include "partials/form-field.html" with field=form.github field_type="text" vanity_field="github" %}
                                {% include "partials/form-field.html" with field=form.twitter field_type="text" vanity_field="twitter" %}

                            </div>
                        </div>

                        <div class="Form-constrain">
                            <div class="Form-actions">
                                <button type="submit" class="Button Button--beta Form-action Form-action--submit">Submit</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </section>

        </div>
    </main>
{% endblock %}
