{% extends 'ui/page.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

    {% if applications %}
    <section>
        <h3 class="red-arrow">Submitted_talks_</h3>

        <ul>
        {% for application in applications %}
            <li><a href="{% url 'application_update' 1 application.pk %}">
                {{ application.title }}
            </a></li>
        {% endfor %}
        </ul>

        {% if cfp_enabled %}
        <p>
            <a class="yellow arrow button" href="{% url "application_create" %}">
                Submit another talk
            </a>
        </p>
        {% endif %}
    </section>
    {% endif %}

    <section>
        <h3 class="red-arrow">Edit_profile_</h3>

        <form method="post" class="Form Form--beta">{% csrf_token %}
            <fieldset>
                {% if form.errors %}
                <div class="alert callout">
                    <div class="Passage">
                        <p>Please fix the errors below:</p>
                        {{form.non_field_errors}}
                    </div>
                </div>
                {% endif %}

                {% include "partials/form-field.html" with field=form.email field_type="text" %}
                {% include "partials/form-field.html" with field=form.first_name field_type="text" %}
                {% include "partials/form-field.html" with field=form.last_name field_type="text" %}
                {% include "partials/form-field.html" with field=form.tshirt_size field_type="text" %}
                {% include "partials/form-field.html" with field=form.github field_type="text" vanity_field="github" %}
                {% include "partials/form-field.html" with field=form.twitter field_type="text" vanity_field="twitter" %}

                <button type="submit" class="purple yellow-arrow button"><b>SAVE</b></button>
                <a href="{% url 'account_logout' %}" class="yellow arrow button">LOGOUT</a>

            </fieldset>
        </form>

    </section>
{% endblock %}
