{% extends 'ui/page.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
    <section>
        <h1>Edit profile</h1>

        <form method="post">
            {% csrf_token %}
            <fieldset>
                {% if form.non_field_errors %}
                  <div>{{ form.non_field_errors }}</div>
                {% endif %}

                {% include "partials/form-field.html" with field=form.email field_type="text" %}
                {% include "partials/form-field.html" with field=form.first_name field_type="text" %}
                {% include "partials/form-field.html" with field=form.last_name field_type="text" %}
                {% include "partials/form-field.html" with field=form.tshirt_size field_type="text" %}
                {% include "partials/form-field.html" with field=form.github field_type="text" vanity_field="brands/github" %}
                {% include "partials/form-field.html" with field=form.twitter field_type="text" vanity_field="brands/twitter" %}

                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'user_profile' %}" class="btn btn-default">Cancel</a>
            </fieldset>
        </form>
    </section>
{% endblock %}
