/**
 * =============================================================================
 * Article
 * =============================================================================
 */

.Article {

    &-pubDate {
        font-size:1em;
        color:$color-gray-alpha;

        @media screen and (min-width:$bp-beta) {
            font-size:1.25em;
        }
    }

    &-title {
        font-size:1.3em; line-height:1.3;
        margin:0.2em 0 1rem;
        color:$color-brand-alpha;

        > a {
            color:$color-brand-alpha;

            &:hover,
            &:focus {
                color:$color-brand-beta;
            }
        }

        @media screen and (min-width:$bp-beta) {
            font-size:1.7em;
        }
    }

    &-excerpt {
        font-size:1em; line-height:1.3; font-style:italic;
        color:tint($color-base, 20%);

        @media screen and (min-width:$bp-beta) {
            font-size:1.2em;
        }
    }

    &-body {
        margin-top:1em;
        color:tint($color-base, 40%);

        @media screen and (min-width:$bp-beta) {
            margin-top:1.3em;
            font-size:1.2em;
        }
    }

    &-link {
        width:100%;
        padding:0.6em 1.2em;
        font-size:1em;
        text-transform:uppercase;

        @media screen and (min-width:$bp-alpha) {
            width:auto;
        }

        @media screen and (min-width:$bp-beta) {
            font-size:1.3em;
        }

        &--readMore {
            margin-top:1.2em;
        }
    }
}

/**
 * Article detail view
 * -----------------------------------------------------------------------------
 */

.Article {

    &--detail {

        .Article {

            &-title {
                font-size:2em;

                @media screen and (max-width:$bp-beta - 1) {
                    font-size:1.3em;
                }
            }
        }
    }
}
