/**
 * =============================================================================
 * Article navigation
 * =============================================================================
 */

.ArticleNav {

    &-list {
        font-size:0;
        text-align:center;

        > li {
            font-size:1rem;
            margin-top:1em;

            &:first-child {
                margin-top:0;
            }
        }
    }

    @media screen and (min-width:$bp-beta) {

        &-list {
            margin:0 -2rem;

            > li {
                display:inline-block;
                margin:0 2em;
            }
        }
    }
}
