/**
 * =============================================================================
 * Article social actions
 * =============================================================================
 */

.ArticleSocial {
    margin:1em 0;
    text-align:center;

    &-title {
        margin-bottom:1rem;
        font-size:1em; font-weight:normal;
        text-transform:uppercase;
        color:$color-brand-alpha;
    }

    &-list {
        font-size:0;

        > li {
            display:inline-block;
            margin:0 0.5em;
            font-size:1rem;

            > a {
                color:$color-brand-alpha;

                &:hover,
                &:focus {
                    color:$color-brand-beta;
                }
            }
        }
    }

    .Icon {
        width:50px; height:50px;
    }

    @media screen and (min-width:$bp-alpha) and (max-width:$bp-beta - 1) {
        margin:2.5em 0;
    }

    @media screen and (min-width:$bp-beta) {
        margin:4em 0;

        &-title {
            margin-bottom:1.2rem;
            font-size:1.2em;
        }

        &-list {

            > li {
                margin:0 1.2em;
            }
        }

        .Icon {
            width:70px; height:70px;
        }
    }
}
