{% extends 'ui/page.html' %}

{% load markdown_deux_tags %}
{% load static %}
{% load webcamp %}

{% block title %}Voting for talks - {{ event.extended_title }}{% endblock %}

{% block head %}
    <meta name="description" content="This year we want to give you, the attendee, a chance to influence the content of WebCamp Zagreb. We made a selection of 35 talks which did not get chosen in our initial selection process. These talks can be voted on by ticket holders.">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Voting for talks - {{ event.extended_title }}" />
    <meta property="og:description" content="This year we want to give you, the attendee, a chance to influence the content of WebCamp Zagreb. We made a selection of 35 talks which did not get chosen in our initial selection process. These talks can be voted on by ticket holders." />
{% endblock %}

{% block script %}
    <script src="{% static "scripts/community-voting.js" %}"></script>
{% endblock %}

{% block content %}
<div class="row column">
    {% if voting_enabled %}
        <h1>Welcome to the community vote</h1>

        <p>This is your opportunity to select the talks you want to hear.</p>

        <p>Below are the top talks which were not chosen during our call for
           papers. Vote for as many or as few talks as you wish. The 3 most
           voted talks will appear on this years lineup.</p>

        {% if not user.is_authenticated or not is_ticket_holder %}
        <div class="callout alert">
            <p>
                You need to be
                <a href="{% url 'account_login' %}?next={% url 'voting_index' %}">logged in</a>
                and <a href="/tickets/">a ticket holder</a> to vote.
            </p>
            <p>If you have a ticket and still cannot vote, please
                <a href="mailto:info@webcampzg.org">contact us</a>.</p>
        </div>
        {% endif %}

        {% for application in applications %}
            <hr />

            <article>
                <h3>{{ application.title }}</h3>
                {{ application.about|markdown|smaller_headings }}

                <h4>{{ application.applicant.user.get_full_name }}</h4>
                {{ application.applicant.about|markdown|smaller_headings }}

                <!-- Full application description in a modal -->
                <div class="large reveal" data-reveal id="reveal-{{ application.pk }}">
                    <h2>{{ application.title }}</h2>
                    <p><em>{{ application.about }}</em></p>
                    {{ application.abstract|markdown|smaller_headings }}

                    <h3>{{ application.applicant.user.get_full_name }}</h3>
                    <p><em>{{ application.applicant.about }}</em></p>
                    {{ application.applicant.biography|markdown|smaller_headings }}

                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <button class="arrow button" data-open="reveal-{{ application.pk }}">
                    Read more
                </button>

                {% if user.is_authenticated and is_ticket_holder %}
                    <button class="button vote-button {% if application.voted %}voted yellow{% else %}not-voted hollow{% endif %}"
                            data-vote-button
                            data-talk-id="{{ application.id }}"
                            data-voted="{{ application.voted|yesno:'yes,' }}">
                        {% comment %} <input class="no-margin" type="checkbox" {% if application.voted %}checked{% endif %} /> {% endcomment %}
                        Vote
                    </button>
                {% elif not user.is_authenticated %}
                    <a class="yellow arrow button"
                       href="{% url 'account_login' %}?next={% url 'voting_index' %}">
                        Login
                    </a>
                {% elif user.is_authenticated and not is_ticket_holder %}
                    <a class="yellow arrow button" href="/tickets/" target="_blank">
                        Buy ticket
                    </a>
                {% endif %}
            </article>
        {% endfor %}
    {% else %}
        <h1>Voting is closed!</h1>
    {% endif %}
</div>
{% endblock %}

