{% extends 'ui/page.html' %}

{% load markdown_deux_tags %}
{% load static %}
{% load webcamp %}

{% block title %}Voting for talks - {{ event.extended_title }}{% endblock %}

{% block head %}
    <meta name="description" content="We want to give you, the attendee, a chance to influence the content of WebCamp Zagreb. We made a selection of talks which did not get chosen in our initial selection process. These talks can be voted on by ticket holders.">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Voting for talks - {{ event.extended_title }}" />
    <meta property="og:description" content="We want to give you, the attendee, a chance to influence the content of WebCamp Zagreb. We made a selection of talks which did not get chosen in our initial selection process. These talks can be voted on by ticket holders." />
{% endblock %}

{% block script %}
    <script src="{% static "scripts/community-voting.js" %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#open-instructions").click(function (e) {
            $('#instructions').foundation('open');
        });
        $("#submit-ticket-code").click(function (e) {
            window.location = "{% url 'voting_index' %}" + $("#ticket-code").val() + "/";
        });
    });
    </script>
{% endblock %}

{% block content %}
<div class="row column">
    {% if voting_enabled %}
        <h1>Welcome to the community vote</h1>

        <p>This is your opportunity to select the talks you want to hear.</p>

        {% if ticket %}
        <div class="success callout">
            You are voting as <em>{{ ticket.full_name }}</em>, ticket number <em>{{ ticket.code }}</em>.
            <a href="{% url 'voting_index' %}">Not you?</a>
        </div>
        {% else %}
        <div class="large reveal" id="instructions" data-reveal>
            <h1>How do I find my ticket code?</h1>

            <p>You should have received your tickets in PDF from Entrio. In that
                PDF, the ticket code is located underneath the barcode on the left.</p>

            <img src="{% static "images/ticket-code-sample.png" %}" />

            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="warning callout">
            <p>To vote you need to own a <a href="/tickets/">ticket</a> for
                {{ event }}.</p>
            <p>
            <p>If you already have one, you should have received a personalized
                voting link by email. Alternatively, please enter your
                ticket code here:</p>

            <div class="input-group">
                <input id="ticket-code" class="input-group-field" type="number" maxlength="12" />
                <div class="input-group-button">
                    <input id="submit-ticket-code" type="submit" class="button" value="Submit">
                </div>
            </div>

            <p class="small">
                <small>
                    <a href="#" id="open-instructions">
                        How do I find my ticket code?
                    </a>
                </small><br />
                <small>Still having problems? Contact us at
                    <a href="mailto:info@webcampzg.org">info@webcampzg.org</a>.</small>
            </p>
        </div>
        {% endif %}

        <p>Below are the top talks which were not chosen during our call for
           papers. Vote for as many or as few talks as you wish. The 2 most
           voted talks will appear on this years lineup.</p>

        {% for application in applications %}
            <hr />

            <article>
                <h3>{{ application.title }}</h3>
                {{ application.about|markdown|smaller_headings }}

                <h4>{{ application.applicant.user.get_full_name }}</h4>
                {{ application.applicant.about|markdown|smaller_headings }}

                <!-- Full application description in a modal -->
                <div class="large reveal" data-reveal id="reveal-{{ application.pk }}">
                    <h2>{{ application.title }}</h2>
                    <p><em>{{ application.about }}</em></p>
                    {{ application.abstract|markdown|smaller_headings }}

                    <h3>{{ application.applicant.user.get_full_name }}</h3>
                    <p><em>{{ application.applicant.about }}</em></p>
                    {{ application.applicant.biography|markdown|smaller_headings }}

                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <button class="green button" data-open="reveal-{{ application.pk }}">
                    Read more
                </button>

                {% if ticket %}
                    <button class="button vote-button {% if application.voted %}voted yellow{% else %}not-voted hollow{% endif %}"
                            data-vote-button
                            data-talk-id="{{ application.id }}"
                            data-ticket-code="{{ ticket.code }}"
                            data-voted="{{ application.voted|yesno:'yes,' }}">
                        Vote
                    </button>
                {% else %}
                    <a class="button" href="/tickets/" target="_blank">
                        Buy ticket
                    </a>
                {% endif %}
            </article>
        {% endfor %}
    {% else %}
        <h1>Voting is closed!</h1>
        <p>Thank you for participating. The selected talks will be announced soon.</p>
    {% endif %}
</div>
{% endblock %}

