{% extends 'ui/base.html' %}
{% load fb_versions %}
{% load static %}

{% block title %}Voting for talks - WebCamp Zagreb Conference 2015{% endblock %}

{% block head %}
    <meta name="description" content="This year we want to give you, the attendee, a chance to influence the content of WebCamp Zagreb. We made a selection of 35 talks which did not get chosen in our initial selection process. These talks can be voted on by ticket holders.">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Voting for talks - WebCamp Zagreb Conference 2015" />
    <meta property="og:description" content="This year we want to give you, the attendee, a chance to influence the content of WebCamp Zagreb. We made a selection of 35 talks which did not get chosen in our initial selection process. These talks can be voted on by ticket holders." />
    <meta property="og:image" content="https://2015.webcampzg.org/static/images/webcamp-zagreb-conference.jpg"/>
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
{% endblock %}

{% block content %}

    {% include "partials/header.html" with hero_type="main" title="Voting" %}

    <section class="Spotlight Spotlight--beta">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            {% if voting_enabled %}
            <ul class="Listing-list">
                {% for application in applications %}
                <li class="Listing-item">
                    <article class="VoteTalk">
                        <h4 class="VoteTalk-title">{{ application.applicant.user.get_full_name }}</h4>
                        <div class="VoteTalk-excerpt">{{ application.applicant.about }}</div>
                        <h3 class="VoteTalk-title">{{ application.title }}</h3>
                        <div class="VoteTalk-excerpt">
                            {{ application.about }}
                        </div>
                        <div class="VoteTalk-body" data-talk-slug="{{ application.title|slugify }}">
                            <div class="Passage">
                                {{ application.abstract }}
                            </div>
                        </div>
                        <div class="VoteTalk-readMoreWrap">
                            <button type="button" class="VoteTalk-readMore" data-talk-slug="{{ application.title|slugify }}">Read more</button>
                        </div>
                        {% if user.is_authenticated and user.is_ticket_holder %}
                        <div class="VoteTalk-actionWrap">
                            <label class="Togglable">
                                <input data-talk-id="{{ application.id }}" data-voted="{{ application.voted }}"
                                       type="checkbox" class="VoteTalk-action" />
                                <span class="Togglable-caption">Vote</span>
                            </label>
                        </div>
                        {% elif not user.is_authenticated %}
                            <div class="VoteTalk-actionWrap">
                                <span class="Togglable-caption">
                                    <a href="{% url 'account_login' %}?next={% url 'voting_index' %}">Login</a>
                                </span>
                            </div>
                        {% elif user.is_authenticated and not user.is_ticket_holder %}
                            <div class="VoteTalk-actionWrap">
                                <span class="Togglable-caption">
                                    <a href="{% url 'tickets' %}"
                                       target="_blank">Vote</a>
                                </span>
                            </div>
                        {% endif %}
                    </article>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <h1>Voting is closed!</h1>
            {% endif %}
        </div>
    </section>

    {% include "partials/sponsors.html" %}

    {% include "partials/user-groups.html" %}

    {% include "partials/bithub.html" %}

{% endblock %}

