/**
 * =============================================================================
 * Site navigation
 * =============================================================================
 */

.SiteNav {

    &-item {
        position:relative;

        &:before {
            content:'';
            position:absolute;
            width:5px; height:5px;
            border-radius:100%;
            background:$color-brand-beta;
        }

        &:first-child {

            &:before {
                display:none;
            }
        }
    }

    &-link {
        display:block;
        padding:0.2em 0;
        font-size:1.7em;
        text-transform:uppercase;
        color:$color-brand-alpha;
        transition:all 0.07s ease-in-out;
        transition-property:border-color, color;

        &:hover,
        &:focus {
            outline:0;
            text-decoration:none;
        }
    }
}
