/**
 * =============================================================================
 * Site navigation, compact display
 * =============================================================================
 */

.SiteNav {

    &-compact {
        display:flex;
        flex-direction:row-reverse;
        align-items:center;
        padding-bottom:10px;

        .SiteNav {

            &-toggler {
                margin-left:1em;
            }

            &-link--cfp {
                font-size:1em;
            }
        }
    }

    &-toggler {

        .Icon {
            width:2rem; height:2rem;
        }
    }

    @media screen and (max-width:($bp-alpha - 1)) {
        font-size:0.85em;

        &-compact {
            padding-top:10px; padding-right:10px;
        }
    }

    @media screen and (max-width:($bp-sitenav-full-display - 1)) {
        position:absolute; right:0; left:0; top:0;
        text-align:center;
        background:#fff;

        &-list {
            position:absolute; left:-9999px; top:-9999px;
            opacity:0;
            max-width:375px;
            margin:0 auto;
            padding:0 1em 1em;
            transition:opacity 0.17s ease-in-out;
        }

        &-item {
            padding:0.5em 0;

            &:before {
                left:50%; bottom:100%;
                transform:translate(-50% 0);
            }

            &:first-child {
                padding-top:0;
            }

            &:last-child {
                padding-bottom:0;
            }
        }

        &-link {

            &:hover,
            &:focus {
                color:$color-brand-beta;
            }
        }

        @at-root {

            .Logo {

                svg {
                    transition:all 0.17s ease-in-out;
                    transition-property:width, height;
                }
            }

            .is-siteNavOpened {
                overflow-y:hidden;

                .Logo {
                    z-index:20;

                    svg {
                        width:100px; height:100px;
                    }
                }
            }
        }

        &-toggler--close {
            display:none;
        }

        .no-js &:target,
        &.is-opened {
            @include page-border;
            position:fixed; left:0; top:0; bottom:0; right:0; z-index:10;
            overflow:auto;

            .SiteNav {

                &-toggler {

                    &--open {
                        display:none;
                    }

                    &--close {
                        display:block;
                    }
                }

                &-compact .SiteNav-link--cfp {
                    visibility:hidden;
                    pointer-events:none;
                }

                &-list {
                    position:static;
                    opacity:1;

                    @media screen and (max-width:620px - 1) {
                        padding-top:60px;
                    }
                }
            }
        }
    }
}
