/**
 * =============================================================================
 * Form
 * =============================================================================
 */

.Form {
    font-size:0.9em;

    &-legend {
        display:block; width:100%;
        margin-bottom:0.8em;
        font-size:1.9em; font-weight:700;
        border-bottom:4px solid $color-brand-alpha;
        color:$color-brand-alpha;

        &:before {
            content:'\003e\0020';
        }

        @media screen and (min-width:$bp-beta) {
            font-size:2.5em;
        }
    }

    &-item {
        margin-bottom:1em;
    }

    &-label {
        display:inline-block;
        margin-bottom:0.2em;
        font-size:1.4em;
        color:$color-brand-alpha;
    }

    &-requiredFlag {
        font-weight:700;
        color:$color-brand-beta;
    }

    &-fieldDesc,
    &-shortDesc {
        font-size:80%; font-style:italic;
    }

    &-fieldDesc {
        margin-bottom:0.7em;
        color:$color-gray-alpha;
    }

    &-fieldError {
        margin-top:0.2em;
        color:$color-error-alpha;
    }

    @media screen and (min-width:$bp-beta) {
        font-size:1em;
    }
}
