/**
 * =============================================================================
 * Form errors
 * =============================================================================
 */

.Form-errors {
    margin-bottom:1em;
    padding:1em;
    font-size:1.1em;
    border:1px solid darken($color-error-alpha, 10%);
    background:rgba($color-error-alpha, 0.5);
}
