/**
 * =============================================================================
 * Field
 * =============================================================================
 */

$field-base-dimensions: (
    spacing: 0.8em,
    font-size: 1.1em
);

@mixin field-base {
    padding:map-get($field-base-dimensions, spacing);
    font-size:map-get($field-base-dimensions, font-size);
    border:1px solid $color-alpha;
    background:#fff;
    transition:all 0.07s ease-in-out;
    transition-property:border-color, background, color;

    &:focus {
        border-color:$color-gamma;
    }
}

@mixin field-base-text {
    @include field-base;
    display:block;
    width:100%;
    border-radius:0;
    outline:0;
}

/**
 * Text
 * -----------------------------------------------------------------------------
 */

.Field {

    &--text {
        @include field-base-text;

        &:invalid {
            box-shadow:none;
        }

        &::placeholder {
            color:$color-base;
        }
    }
}

/**
 * Checkbox/radio
 * -----------------------------------------------------------------------------
 */

.Form-label--asField {
    position:relative;
    font-size:1em;
    margin-bottom:0;

    .Field {
        position:absolute; left:0; top:0;
        opacity:0;

        &:checked + .Form-labelCaption {
            color:#fff;
            background:$color-alpha;
        }

        &:hover + .Form-labelCaption,
        &:focus + .Form-labelCaption {
            border-color:$color-gamma;
        }
    }

    .Form-labelCaption {
        @include field-base;
        display:block;
        text-align:center;
    }
}

/**
 * Select
 * -----------------------------------------------------------------------------
 */

.Field {

    &--select {
        @include field-base-text;
        line-height:normal;
        text-align:center;
        -webkit-appearance:none;
    }
}

.Select {
    display:block;
    position:relative;

    &:after {
        font-size:map-get($field-base-dimensions, font-size);
        content:'';
        position:absolute; right:map-get($field-base-dimensions, spacing); top:50%;
        transform:translateY(-50%);
        width:22px; height:22px;
        background-image:inline('/static/images/icons/arrow-down.svg');
        background-repeat:no-repeat;
        background-position:50% 50%;
        background-size:contain;
    }
}

/**
 * Vanity field
 * -----------------------------------------------------------------------------
 */

.VanityField {
    position:relative;

    &:before,
    &:after {
        position:absolute; left:0; top:0; bottom:0;
        width:50px;
        pointer-events:none;
    }

    &:before {
        content:'';
        left:1px; top:1px; bottom:1px;
        background:$color-alpha;
    }

    &:after {
        top:50%;
        color:#fff;
        transform:translateY(-50%);
    }

    .Field {
        padding-left:calc(50px + #{map-get($field-base-dimensions, spacing)});
    }

    &--twitter {

        &:after {
            content:'@';
            margin-top:-4px;
            text-align:center;
            font-size:2em; line-height:1;
        }
    }

    &--github {

        &:after {
            @include Icon;
            @include Icon--social__Icon--github__white;
            content:'';
            left:(50/2) + px;
            width:31px; height:30px;
            margin-left:-(31/2) + px;
        }
    }
}
