/**
 * =============================================================================
 * Flags
 * =============================================================================
 */

.Flag--alpha {
    display:inline-block;
    padding:0.4rem 0.9rem;
    font-size:0.7rem;
    color:#fff;
    background:$color-brand-alpha;

    @media screen and (min-width:$bp-beta) {
        padding:0.5rem 1rem;
        font-size:0.9rem;
    }
}

.ArticleFlag {
    position:relative; margin-left:0.5rem; top:-0.3rem;
    text-transform:uppercase;
}
