{% extends 'ui/page.html' %}

{% load markdown_deux_tags %}

{% block title %}{{ page.title }} - {{ event.extended_title }}{% endblock %}

{% block head %}
    <meta name="description" content="{{ page.meta_description }}">
{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.meta_description }}" />
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <a class="button float-right" href="{% url 'admin:pages_page_change' page.pk %}">Edit page</a>
    {% endif %}

    <h1 class="red-dash">
        {{ page.title.split|join:"_" }}_
    </h1>

    {{ page.content|markdown:"trusted" }}

    {% include "partials/share.html" with title="Share this page" %}
{% endblock %}
