/**
 * =============================================================================
 * Footer
 * =============================================================================
 */

.Footer {
    padding:2em 1rem 1em;
    background:$color-alpha;

    &-copyright {
        padding-top:1em;
        color:$color-gamma;
        text-align:center;
    }
}

/**
 * =============================================================================
 * Quick social
 * =============================================================================
 */

.QuickSocial {
    text-align:center;
    font-size:0;

    > li {
        display:inline-block;
        padding:0 0.5rem;

        @media screen and (max-width:370px - 1) {
            width:percentage(1/3);
        }
    }

    a {
        display:inline-block;

        &:hover {

            .Icon {

                &--facebook {
                    @include Icon--social__Icon--facebook__white;
                }

                &--twitter {
                    @include Icon--social__Icon--twitter__white;
                }

                &--github {
                    @include Icon--social__Icon--github__white;
                }

                &--googlePlus {
                    @include Icon--social__Icon--googlePlus__white;
                }

                &--linkedin {
                    @include Icon--social__Icon--linkedin__white;
                }
            }
        }
    }
}
