{% extends 'dashboard/base.html' %}

{% load dashboard %}
{% load markdown_deux_tags %}
{% load static %}
{% load webcamp %}

{% block script %}
<script type="text/javascript">

function follow_link($link) {
    var href = $link.prop('href');
    if (href !== undefined) {
        window.location = href;
    }
}

$(document).keydown(function(e) {
    if (e.ctrlKey || e.shiftKey || e.altKey || e.metaKey) {
        return
    }

    switch(e.which) {
        case 37: // left
        case 75: // k
            e.preventDefault();
            follow_link($('#prev_application'));
            break;

        case 39: // right
        case 74: // j
            e.preventDefault();
            follow_link($('#next_application'));
            break;
    }
});
</script>

{% if allow_voting %}
<script src="{% static "scripts/committee-voting.js" %}"></script>
{% endif %}

{% endblock %}

{% block content %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'dashboard:cfp_detail' pk=application.cfp.id %}">{{ application.cfp.title }}</a></li>
        <li>{{ application.title }}</li>
    </ul>

    <div class="row medium-unstack">
        <div class="columns application" data-application-id="{{ application.id }}">
            <h3>{{ application.title }}</h3>

            <p>
                <span class="label purple">{{ application.short_type }}</span>
                <span class="label yellow">{{ application.skill_level }}</span>
                {% if application.accomodation_required %}
                    <span class="label green">Accommodation</span>
                {% endif %}
                {% if application.travel_expenses_required %}
                    <span class="label green">Travel expenses</span>
                {% endif %}
            </p>
            <p>{{ application.about|markdown }}</p>

            {% if application.about|length > 140 %}
                <p class="callout alert">Short description too long ({{ application.about|length }} chars).</p>
            {% endif %}

            <h4>Abstract</h4>
            {{ application.abstract|markdown }}

            {% if application.extra_info %}
                <h4>Extra info</h4>
                {{ application.extra_info|markdown }}
            {% endif %}

            {% if allow_voting %}
                <hr />
                {% include 'dashboard/partials/voting.html' %}
            {% endif %}

            {% if user.is_superuser %}
                <hr />
                <h3>Committee Votes</h3>
                <table>
                    {% for vote in committee_votes %}
                    <tr>
                        <td>{{ vote.user.full_name }}</td>
                        <td>{{ vote.score }}</td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                Count: {{ committee_votes_count }} |
                                Average: {{ committee_votes_avg|floatformat:1 }} |
                                StDev: {{ committee_votes_stdev|floatformat:1 }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            {% endif %}
        </div>

        {% with applicant=application.applicant %}
        <div class="columns">
            <h3>{{ applicant.user.full_name }}</h3>

            <div class="row">
                <div class="small-6 columns">
                    <img class="thumbnail" src="{{ applicant.image.url }}" />
                </div>
                <div class="small-6 columns">
                    <p>{{ applicant.about }}</p>
                    <p>
                        <span class="no-wrap">
                            {% icon "regular/envelope" %}
                            <a href="mailto:{{ applicant.email }}">{{ applicant.email }}</a>
                        </span>
                        {% if applicant.twitter %}
                            <br />
                            {% icon "brands/twitter" %}
                            <a target="_blank" href="https://twitter.com/{{ applicant.twitter }}">@{{ applicant.twitter }}</a>
                        {% endif %}
                        {% if applicant.github %}
                            <br />
                            {% icon "brands/github" %}
                            <a target="_blank" href="https://github.com/{{ applicant.github }}">{{ applicant.github }}</a>
                        {% endif %}
                        {% if applicant.company_name %}
                            <br />
                            {% icon "solid/briefcase" %}
                            <b>{{ applicant.company_name }}</b>
                        {% endif %}
                    </p>
                </div>
            </div>

            <h4>Biography</h4>
            {{ applicant.biography|markdown|smaller_headings }}

            <h4>Experience</h4>
            <p>{{ applicant.speaker_experience|markdown|smaller_headings }}</p>
        </div>
        {% endwith %}
    </div>

    <hr />

    {% include 'dashboard/partials/comments.html' %}

    {% if other_applications %}
    <hr />

    <h3>Other applications</h3>

    <table class="hover">
        <thead>
            <tr>
                <td>Event</td>
                <td>Title</td>
                <td class="text-center">Chosen?</td>
                <td>Attendee Ratings</td>
            </tr>
        </thead>
        {% for application in other_applications %}
        <tr>
            <td>{{ application.cfp.event }}</td>
            <td>
                <a href="{% url 'dashboard:application_detail' application.pk %}">
                    {{ application.title }}
                </a>
            </td>
            <td class="text-center">
                {% if application.has_talk %}
                    {% icon "solid/check" cls="purple" %}
                {% else %}
                    {% icon "solid/times" %}
                {% endif %}
            </td>
            <td>
                {% if application.has_talk %}
                    {% if application.talk.surveyscore %}
                        <div class="histogram">
                            {{ application.talk.surveyscore.distribution|histogram_svg }}
                        </div>
                        <small>
                            {{ application.talk.surveyscore.average|floatformat:1 }} avg,
                            {{ application.talk.surveyscore.count }} votes
                        </small>
                    {% else %}
                        Ratings not found
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <hr />

    <div class="row">
        <div class="columns">
            {% if application.prev %}
                <a href="{% url 'dashboard:application_detail' pk=application.prev.pk %}" id="prev_application">
                    &laquo;&nbsp;{{ application.prev.title }}</a>
            {% endif %}
        </div>
        <div class="columns text-center">
            {{ application.ordinal }} / {{ application.cfp.application_count }}
        </div>
        <div class="columns text-right">
            {% if application.next %}
                <a href="{% url 'dashboard:application_detail' pk=application.next.pk %}" id="next_application">
                    {{ application.next.title }}&nbsp;&raquo;
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
