{% extends "ui/page.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.foundation.min.css" integrity="sha256-jCcDwgt67K1BZG9pM18moqx+ftg/AV70PtqQudYSA7k="crossorigin="anonymous">
    <style type="text/css">
        .top-bar {
            margin-bottom: 20px;
        }
        .breadcrumbs {
            margin-bottom: 0;
        }
        .top-bar-left img {
            background-color: white;
            border: 1px solid gray;
            padding: 4px 2px;
            height: 30px;
        }
        .no-wrap {
            white-space: nowrap;
        }

        tr.success td { background-color: #dff0d8; }
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js" integrity="sha256-TX6POJQ2u5/aJmHTJ/XUL5vWCbuOw0AQdgUEzk4vYMc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.foundation.min.js" integrity="sha256-W/6IA4fKtHEYSjfWs60CEtvLg4eYXv076pfcyzSD+XA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.0/highcharts.js" integrity="sha256-Fv5aLiA/gEiIUpqvOjVzROlmBDSfl+ShfE20YXE+2Gs=" crossorigin="anonymous"></script>
{% endblock %}

{% block header %}
    {% include "dashboard/partials/header.html" %}
{% endblock %}

{% block below_content %}

{% endblock %}
