{% extends "dashboard/base.html" %}

{% load dashboard %}
{% load webcamp %}

{% block head %}
    <style type="text/css">
        #applications-table { font-size: smaller }
        button.rate-application,
        button.unrate-application { margin-bottom: 0; }
        tr.selected { background-color: green; }
        td.voting { white-space: nowrap; }
        div.cfp-chart { height: 15rem; }
    </style>
{% endblock head %}


{% block morescript %}
<script type="text/javascript">
    var durations = {{ durations|jsonify }};
    var sexes = {{ sexes|jsonify }};
    var levels = {{ levels|jsonify }};
</script>

<script type="text/javascript">
    function chart(id, title, data) {
        Highcharts.chart(id, {
            chart: { type: 'column' },
            title: { text: title },
            series: [{
                name: 'Talks',
                data: data,
                dataLabels: { enabled: true },
            }],
            xAxis: { type: 'category' },
            yAxis: { title: null },
            legend: { enabled: false },
            credits: { enabled: false },
            plotOptions: { column: { color: "#FFDC00"} }
        });
    }

    $(document).ready(function () {
        $("#applications-table").dataTable({
            "paging": false,
            "searching": false,
        });

        chart('durations-chart', 'Durations', durations);
        chart('sexes-chart', 'Applicants', sexes);
        chart('levels-chart', 'Levels', levels);
    });
</script>
{% endblock %}


{% block content %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
        <li>Events</li>
        <li><a href="{% url 'dashboard:event-detail' event.pk %}">{{ event.title }}</a></li>
        <li>{{ cfp.title }}</li>
    </ul>

    <h1>{{ object.title }}</h1>

    <div class="callout">
        <div class="row">
            <div class="small-4 columns">
                <div class="cfp-chart" id="durations-chart"></div>
            </div>
            <div class="small-4 columns">
                <div class="cfp-chart" id="sexes-chart"></div>
            </div>
            <div class="small-4 columns">
                <div class="cfp-chart" id="levels-chart"></div>
            </div>
        </div>
    </div>

    {% if votes %}
    <div class="callout">
        <div class="row">
            <div class="columns shrink">
                <div class="histogram">
                    {{ distribution|histogram_svg }}
                </div>
            </div>
            <div class="columns extend">
                You have rated {{ vote_count }} out of {{ application_count }} applications or <b>{{ rated_percentage|floatformat:1 }}%</b>.<br/>
                Average score given is <b>{{ average_score|floatformat:2 }}</b>
            </div>
        </div>
    </div>
    {% endif %}

    <table id="applications-table" class="table hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Submitted</th>
                <th>Speaker</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Level</th>
                {% if votes %}
                    <th>My Vote</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr {% if application.has_talk %}class="blue-bg"{% endif %} data-application-id="{{ application.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td class="no-wrap">{{ application.created_at|date:"Y-m-d H:i" }}</td>
                    <td>{{ application.applicant }}</td>
                    <td>
                        <a href="{% url 'dashboard:application_detail' pk=application.id %}">{{ application.title }}</a>
                    </td>
                    <td>{{ application.duration }} min</td>
                    <td>{{ application.skill_level }}</td>
                    {% if votes %}
                        <td class="text-center">
                            {{ votes|get_item:application.pk|default:"-" }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


