{% extends "dashboard/base.html" %}

{% load webcamp %}

{% block head %}
    <style type="text/css">
        #applications-table { font-size: smaller }
        button.rate-application,
        button.unrate-application { margin-bottom: 0; }
        tr.selected { background-color: green; }
        td.voting { white-space: nowrap; }
    </style>
{% endblock head %}


{% block morescript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#applications-table").dataTable({
                "paging": false,
                "searching": false,
            });
        });
    </script>
{% endblock %}


{% block content %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
        <li>{{ cfp.title }}</li>
    </ul>

    <h1>{{ object.title }}</h1>

    <table id="applications-table" class="table hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Submitted</th>
                <th>Speaker</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Level</th>
                {% if votes %}
                    <th>My Vote</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr {% if application.has_talk %}class="success"{% endif %} data-application-id="{{ application.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td class="no-wrap">{{ application.created_at|date:"Y-m-d H:i" }}</td>
                    <td>{{ application.applicant }}</td>
                    <td>
                        <a href="{% url 'dashboard:application_detail' pk=application.id %}">{{ application.title }}</a>
                    </td>
                    <td>{{ application.duration }} min</td>
                    <td>{{ application.skill_level }}</td>
                    {% if votes %}
                        <td class="text-center">
                            {{ votes|get_item:application.pk|default:"-" }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
