{% extends "dashboard/base.html" %}

{% block head %}
    <style type="text/css">
        #applications-table { font-size: smaller }
        button.rate-application,
        button.unrate-application { margin-bottom: 0; }
        tr.selected { background-color: green; }
        td.voting { white-space: nowrap; }
    </style>
{% endblock head %}

{% block content %}
<ul class="breadcrumbs">
    <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
    <li>Events</li>
    <li><a href="{% url 'dashboard:event-detail' event.pk %}">{{ event.title }}</a></li>
    <li>Community vote</li>
</ul>

<h1>Community vote results</h1>

<p>
    Total votes cast: {{ vote_count }}<br />
    Participants who voted: {{ participants_voted }} / {{ participants_total }}<br />
</p>

<table id="votes-table" class="table hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Speaker</th>
            <th>Level</th>
            <th>Votes</th>
        </tr>
    </thead>
    <tbody>
        {% for application, votes in applications %}
            <tr>
                <td>
                    <a href="{% url 'dashboard:application_detail' pk=application.id %}">{{ application.title }}</a>
                </td>
                <td>{{ application.applicant }}</td>
                <td>{{ application.skill_level }}</td>
                <td>
                    <a data-open="application-{{ application.id }}">
                        {{ votes|length }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% for application, votes in applications %}
<div class="large reveal" id="application-{{ application.id }}" data-reveal>
    <ul>
        <table>
            <thead>
                <tr>
                    <td>Time</td>
                    <td>Name</td>
                    <td>Company</td>
                </tr>
            </thead>
            <tbody>
                {% for vote in votes %}
                <tr>
                    <td class="no-wrap">{{ vote.created_at }}</td>
                    <td>{{ vote.ticket.full_name }}</td>
                    <td>{{ vote.ticket.company }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </ul>
</div>
{% endfor %}

{% endblock %}
