{% extends "dashboard/base.html" %}

{% block content %}
    <h3>Events</h3>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Dates</th>
                <th>Tickets</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                    <a href="{% url 'dashboard:event-detail' pk=event.id %}">
                        {{ event.title }}
                    </a>
                </td>
                <td>
                    {% if event.begin_date == event.end_date %}
                        {{ event.begin_date }}
                    {% else %}
                        {{ event.begin_date }} - {{ event.end_date }}
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'dashboard:event-tickets' pk=event.pk %}">
                        <i class="fa fa-ticket"></i> Tickets
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
