{% extends "dashboard/base.html" %}

{% block content %}
    <h3>Events</h3>

    <table>
        <thead>
            <tr>
                <th>Event</th>
                <th>Applications</th>
                <th>Tickets</th>
                <th>Talks</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                    <a href="{% url 'dashboard:event-detail' event.id %}">
                        {{ event.title }}
                    </a><br />
                    {% if event.begin_date == event.end_date %}
                        {{ event.begin_date|date:"Y-m-d" }}
                    {% else %}
                        {{ event.begin_date|date:"Y-m-d" }} - {{ event.end_date|date:"Y-m-d" }}
                    {% endif %}
                </td>
                <td>
                    {% for cfp in event.callforpaper_set.all %}
                    <div>
                        <i class="fa fa-paper-plane-o"></i>
                        <a href="{% url 'dashboard:cfp_detail' cfp.pk %}">{{ cfp }}</a>
                    </div>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'dashboard:event-tickets' event.pk %}">
                        <i class="fa fa-ticket"></i> Tickets
                    </a>
                </td>
                <td>
                    <a href="{% url 'dashboard:event-talks' event.pk %}">
                        <i class="fa fa-commenting-o"></i> Talks
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
