{% extends "dashboard/base.html" %}

{% load webcamp %}

{% block content %}
    <h3>Events</h3>

    <table>
        <thead>
            <tr>
                <th>Event</th>
                <th>Applications</th>
                <th>Tickets</th>
                <th>Talks</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                    <a href="{% url 'dashboard:event-detail' event.id %}">
                        {{ event.title }}
                    </a><br />
                    {% if event.begin_date == event.end_date %}
                        {{ event.begin_date|date }}
                    {% else %}
                        {{ event.begin_date|date }} - {{ event.end_date|date }}
                    {% endif %}
                </td>
                <td>
                    {% for cfp in event.callforpaper_set.all %}
                    <div>
                        {% icon "solid/paper-plane" %}
                        <a href="{% url 'dashboard:cfp_detail' cfp.pk %}">{{ cfp }}</a>
                    </div>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'dashboard:event-tickets' event.pk %}">
                        {% icon "solid/ticket-alt" %} Tickets
                    </a>
                </td>
                <td>
                    <a href="{% url 'dashboard:event-talks' event.pk %}">
                        {% icon "regular/comment-dots" %} Talks
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
