{% extends "dashboard/base.html" %}

{% block content %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
        <li>Events</li>
        <li>{{ event.title }}</li>
    </ul>

    <h3>{{ event.title }}</h3>

    <a class="button" href="{% url 'dashboard:event-tickets' pk=event.pk %}" >
        Tickets ({{ event.tickets.count}})
    </a>

    {% for cfp in event.callforpaper_set.all %}
        <a class="yellow button" href="{% url 'dashboard:cfp_detail' pk=cfp.pk %}" >
            {{cfp}} ({{ cfp.paperapplication_set.count }})
        </a>
    {% endfor %}
{% endblock %}
