{% extends 'dashboard/base.html' %}

{% block head %}
<style type="text/css">
    #tickets-table { font-size: smaller; }
    .row.column { max-width: 80rem }
    h2 { margin-top: 2rem }
</style>
{% endblock %}

{% block content %}
<ul class="breadcrumbs">
    <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
    <li>Events</li>
    <li><a href="{% url 'dashboard:event-detail' event.pk %}">{{ event.title }}</a></li>
    <li>Tickets</li>
</ul>

<h1>Tickets <small>for {{ event.title }}</small></h1>

{% if tickets %}
    <div class="row medium-unstack">
        <div class="columns">
            <h3>Countries</h3>

            {% for item in countries %}
            <div class="row">
                <div class="shrink columns">
                    <div class="green label" style="width: 2.3rem">{{ item.value|default:"&nbsp;" }}</div>
                </div>
                <div class="columns">
                    <div style="height: 1.5rem" class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ count }}" aria-valuemin="0" aria-valuemax="{{ countries_total }}">
                      <div class="green progress-meter" style="width: {{ item.width }}%">
                          <p class="progress-meter-text">{{ item.count }}</p>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <h3>Tshirts</h3>

            {% for item in tshirts %}
            <div class="row">
                <div class="shrink columns">
                    <div class="green label" style="width: 5rem">{{ item.value }}</div>
                </div>
                <div class="columns">
                    <div style="height: 1.5rem" class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ count }}">
                      <div class="green progress-meter" style="width: {{ item.width }}%">
                        {% if item.count > 0 %}
                          <p class="progress-meter-text">
                            {{ item.count }} ({{ item.perc }} %)
                          </p>
                        {% endif %}
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="columns">
            <h3>Categories</h3>
            <table>
                <tbody>
                {% for item in categories %}
                    <tr>
                        <td>{{ item.value }}</td>
                        <td class="text-right">{{ item.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h2>Ticket sales by date</h2>

    <div id="tickets-chart"></div>

    <h2>Ticket details</h2>

    <table id="tickets-table">
        <thead>
            <tr>
                <th>Purchased</th>
                <th>Used</th>
                <th>Name</th>
                <th>Company</th>
                <th>Category</th>
                <th>Promo code</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.purchased_at|date:'Y-m-d H:i:s' }}</td>
                <td>{{ ticket.used_at|date:'Y-m-d H:i:s' }}</td>
                <td>{{ ticket.full_name }}</td>
                <td>{{ ticket.company }}</td>
                <td>{{ ticket.short_category }}</td>
                <td>{{ ticket.promo_code }}</td>
                <td>{{ ticket.code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No tickets exist for this event.</p>
{% endif %}
{% endblock %}

{% block morescript %}
<script type="text/javascript">
$(function () {
    var columnData = [{% for date, count in tickets_by_date %}[Date.UTC({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), {{ count }}],{% endfor %}]
    var max = 0
    var acc = 0
    var lineData = columnData.map(function(item) {
        max = item[1] > max ? item[1] : max;
        acc += item[1];
        return [item[0], acc];
    })

    Highcharts.chart('tickets-chart', {
        chart: {
            zoomType: "x",
        },
        title: {
            text: "Ticket sales"
        },
        xAxis: {
            type: "datetime",
            title: {
                text: "Date"
            }
        },
        yAxis: [{
            min: 0,
            title: {
                text: "Daily"
            }
        },{
            min: 0,
            opposite: true,
            title: {
                text: "Total"
            }
        }],
        series: [{
            name: "Sales per day",
            type: "column",
            data: columnData,
        },
        {
            name: "Total sold",
            type: "line",
            yAxis: 1,
            data: lineData,
        }
        ]
    });

    $("#tickets-table").dataTable({
        "paging": false,
    });
});
</script>
{% endblock %}
