{% extends 'dashboard/base.html' %}

{% block head %}
<style type="text/css">
    .label { text-shadow: 1px 1px 2px black;  }
    .progress-meter-text { color: white; text-shadow: 1px 1px 2px black;  }
</style>
{% endblock %}

{% block content %}
<ul class="breadcrumbs">
    <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
    <li>Events</li>
    <li><a href="{% url 'dashboard:event-detail' pk=event.pk %}">{{ event.title }}</a></li>
    <li>Tickets</li>
</ul>

<h1>Tickets <small>for {{ event.title }}</small></h1>

{% if tickets %}
    <div class="row medium-unstack">
        <div class="columns">
            <h3>Countries</h3>

            {% for item in countries %}
            <div class="row">
                <div class="shrink columns">
                    <div class="label" style="width: 2.3rem">{{ item.value }}</div>
                </div>
                <div class="columns">
                    <div style="height: 1.5rem" class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ count }}" aria-valuemin="0" aria-valuemax="{{ countries_total }}">
                      <div class="progress-meter" style="width: {{ item.width }}%">
                          <p class="progress-meter-text">{{ item.count }}</p>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <h3>Tshirts</h3>

            {% for item in tshirts %}
            <div class="row">
                <div class="shrink columns">
                    <div class="label" style="width: 5rem">{{ item.value }}</div>
                </div>
                <div class="columns">
                    <div style="height: 1.5rem" class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ count }}" aria-valuemin="0" aria-valuemax="{{ countries_total }}">
                      <div class="progress-meter" style="width: {{ item.width }}%">
                          <p class="progress-meter-text">{{ item.count }}</p>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="columns">
            <h3>Categories</h3>
            <table>
                <tbody>
                {% for item in categories %}
                    <tr>
                        <td>{{ item.value }}</td>
                        <td class="text-right">{{ item.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h2>Ticket sales by date</h2>

    <div id="tickets-chart"></div>
{% else %}
    <p>No tickets exist for this event.</p>
{% endif %}


{% endblock %}

{% block script %}
<script type="text/javascript">
$(function () {
    var columnData = [{% for date, count in tickets_by_date %}[Date.UTC({{ date.year }}, {{ date.month }}, {{ date.day }}), {{ count }}],{% endfor %}]

    var max = 0
    var acc = 0
    var lineData = columnData.map(function(item) {
        max = item[1] > max ? item[1] : max;
        acc += item[1];
        return [item[0], acc];
    })

    $('#tickets-chart').highcharts({
        chart: {
            zoomType: "x",
        },
        title: {
            text: "Ticket sales"
        },
        xAxis: {
            type: "datetime",
            title: {
                text: "Date"
            }
        },
        yAxis: [{
            min: 0,
            title: {
                text: "Daily"
            }
        },{
            min: 0,
            opposite: true,
            title: {
                text: "Total"
            }
        }],
        series: [{
            name: "Sales per day",
            type: "column",
            data: columnData,
        },
        {
            name: "Total sold",
            type: "line",
            yAxis: 1,
            data: lineData,
        }
        ]
    });
});
</script>
{% endblock %}
