{% extends "dashboard/base.html" %}

{% load dashboard %}
{% load webcamp %}

{% block head %}
    <style type="text/css">
        .dashboard.row.column { max-width: 100rem }
        #scoring-table { font-size: smaller }
        button.rate-application,
        button.unrate-application { margin-bottom: 0; }
        tr.selected { background-color: green; }
        td.voting { white-space: nowrap; }
    </style>
{% endblock head %}

{% block morescript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#scoring-table").dataTable({
                "paging": false,
                "searching": false,
            });
            $("#voter-table").dataTable({
                "paging": false,
                "searching": false,
            });
        });
    </script>
{% endblock %}

{% block content %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'dashboard:cfp_detail' pk=cfp.pk %}">{{ cfp.title }}</a></li>
        <li>Scoring</li>
    </ul>

    <h1>Scoring <small>{{ object.title }}</small></h1>

    <table id="voter-table" class="hover">
        <thead>
            <tr>
                <th>Voter</th>
                <td class="text-right">Votes</th>
                <td class="text-right">Percentage</th>
                <td class="text-right">Average</th>
                <td class="text-right">Distribution</th>
            </tr>
        </thead>
        <tbody>
            {% for voter in voters %}
                <tr>
                    <td>{{ voter.full_name }}</td>
                    <td class="text-right">
                        {{ voter.count }} / {{ voter.total }}
                    </td>
                    <td class="text-right">
                        {{ voter.percentage|floatformat }}%
                    </td>
                    <td class="text-right">
                        {{ voter.average|floatformat:2 }}
                    </td>
                    <td class="text-right">
                        <div class="histogram float-right">
                            {{ voter.distribution|histogram_svg }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "dashboard/partials/type_filter_form.html" %}

    <table id="scoring-table" class="table hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Talk</th>
                <th>Type</th>
                <th>Perks</th>
                {% for voter in voters %}
                    <th title="{{ voter.full_name}}">
                        {{ voter.initials }}
                    </th>
                {% endfor %}
                <th>Mean</th>
                <th>StDev</th>

            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr {% if application.has_talk %}class="success"{% endif %} data-application-id="{{ application.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {{ application.applicant }}
                        {% if application.applicant.company_name %} ({{ application.applicant.company_name }}){% endif %}
                        <br />
                        <a href="{% url 'dashboard:application_detail' pk=application.id %}">{{ application.title }}</a>
                    </td>
                    <td>{{ application.short_type }}</td>
                    <td>
                        {% if application.accomodation_required %}
                            {% icon "regular/building" title="Accommodation" %}
                        {% endif %}
                        {% if application.travel_expenses_required %}
                            {% icon "solid/plane" title="Travel expenses" %}
                        {% endif %}
                    </td>
                    {% for voter, vote in application.processed_votes %}
                        <td title="{{ voter.full_name }}">{{ vote|default:"" }}</td>
                    {% endfor %}
                    <td><b>{{ application.mean|floatformat:1 }}</b></td>
                    <td><em>{{ application.stdev|floatformat:1 }}</em></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
