/**
 * =============================================================================
 * Text utils
 * =============================================================================
 */

.u-textCenter {
    text-align:center !important;
}

.u-textLeft {
    text-align:left !important;
}

.u-textRight {
    text-align:right !important;
}
