{% extends 'ui/base.html' %}
{% load static %}

{% block title %}Sponsors - {{ webcamp.extended_title }}{% endblock %}

{% block og %}
    <meta property="og:title" content="Sponsors - {{ webcamp.extended_title }}" />
    <meta property="og:image" content="{{ webcamp.og_image.url }}"/>
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
{% endblock %}

{% block content %}

    {% include "partials/header.html" with hero_type="main" title="Sponsors" sponsors_cta="true" %}

    <section class="Spotlight Spotlight--beta">
        <div class="Wrapper Wrapper--wide Wrapper--withFlair">
            {% include "partials/sponsors-list.html" with listing_type="detailed" %}
        </div>
    </section>

    {% include "partials/bithub.html" %}

{% endblock %}
