{% extends 'ui/page.html' %}

{% load markdown_deux_tags %}
{% load static %}

{% block title %}{{ sponsor.name }} - Sponsors - {{ event.extended_title }}{% endblock %}

{% block og %}
  <meta property="og:title" content="{{ sponsor.name }} - Sponsor" />
{% endblock %}

{% block og_image %}
  <meta property="og:image" content="{{ base_url }}{{ sponsor.image.url }}" />
{% endblock %}

{% block content %}
<div class="sponsor">
  {% if user.is_superuser %}
    <a class="btn btn-default float-right" href="{% url 'admin:sponsors_sponsor_change' sponsor.pk %}">
      Edit sponsor
    </a>
  {% endif %}

  <article class="sponsor-details">
    <p>
      {% if sponsor.type == 'diamond' %}
        <span class="yellow label">Diamond sponsor</span>
      {% elif sponsor.type == 'lanyard' %}
        <span class="yellow label">Lanyard sponsor</span>
      {% elif sponsor.type == 'track' %}
        <span class="yellow label">Track sponsor</span>
      {% elif sponsor.type == 'standard' %}
        <span class="yellow label">Standard sponsor</span>
      {% elif sponsor.type == 'supporter' %}
        <span class="yellow label">Supporter</span>
      {% elif sponsor.type == 'foodanddrinks' %}
        <span class="yellow label">Food &amp; drinks sponsor</span>
      {% elif sponsor.type == 'video' %}
        <span class="yellow label">Video sponsor</span>
      {% endif %}
    </p>

    <div style="clear:both"></div>

    <div class="sponsor-grid">
      <img class="sponsor-logo"
           src="{{ MEDIA_URL }}{{ sponsor.image }}"
           alt="{{ sponsor.name }} logo" />

      <div>
        <h1>{{ sponsor.name }}</h1>

        {{ sponsor.about|markdown:"trusted" }}

        <a href="{{ sponsor.url }}" target="_blank">
          Visit {{ sponsor.name }} homepage
        </a>
      </div>
    </div>

    {% if jobs %}
      <hr />
      <h2>Available job positions</h2>
      {% include "partials/jobs.html" with jobs=jobs %}
    {% endif %}

  </article>
</div>
{% endblock %}
