{% extends 'ui/page.html' %}

{% load static %}

{% block title %}{{ sponsor.name }} - Sponsors - {{ webcamp.extended_title }}{% endblock %}

{% block og %}
    <meta property="og:title" content="Sponsors - {{ webcamp.extended_title }}" />
{% endblock %}

{% block content %}
<div class="sponsor">
    <p>
        <span class="purple label">
            {% if sponsor.type == 'diamond' %}
            Diamond sponsor
            {% elif sponsor.type == 'track' %}
            Track sponsor
            {% elif sponsor.type == 'standard' %}
            Standard sponsor
            {% elif sponsor.type == 'supporter' %}
            Support sponsor
            {% elif sponsor.type == 'foodanddrinks' %}
            Food &amp; drinks sponsor
            {% endif %}
        </span>
    </p>

    <div class="row">
        <div class="small-12 medium-4 columns">
            <figure class="Sponsor-logoWrap">
                <img src="{{ MEDIA_URL }}{{ sponsor.image }}" alt="{{ sponsor.name }} logo" class="Sponsor-logo" />
            </figure>
        </div>
        <div class="small-12 medium-8 columns">
            <strong class="Sponsor-name">{{ sponsor.name }}</strong>
            <div class="Sponsor-body">
                <div class="Passage">
                    {{ sponsor.about|safe }}
                </div>
            </div>
            <div class="Sponsor-meta">
                <a href="{{ sponsor.url }}" target="_blank">{{ sponsor.url }}</a>
            </div>
        </div>
    </div>

    {% if jobs %}
        <hr />
        <h2>Available job positions</h2>
        {% include "partials/jobs.html" with jobs=jobs %}
    {% endif %}
</div>
{% endblock %}
