{% extends 'ui/base.html' %}
{% load static %}

{% block title %}{{ sponsor.name }} - Sponsors - WebCamp Zagreb Conference 2015{% endblock %}

{% block og %}
    <meta property="og:title" content="Sponsors - WebCamp Zagreb Conference 2015" />
    <meta property="og:image" content="https://2015.webcampzg.org/static/images/webcamp-zagreb-conference.jpg"/>
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
{% endblock %}

{% block content %}

    {% include "partials/header.html" with hero_type="main" title="Sponsors" sponsors_cta="true" %}

    <section class="Spotlight Spotlight--beta">
        <div class="Wrapper Wrapper--wide Wrapper--withFlair">

            <div class="Sponsor">
                <div class="Sponsor-block Block Block--alpha">
                    <span class="Sponsor-flag Flag Flag--alpha">
                        {% if sponsor.type == 'diamond' %}
                        Diamond sponsor
                        {% elif sponsor.type == 'track' %}
                        Track sponsor
                        {% elif sponsor.type == 'standard' %}
                        Standard sponsor
                        {% elif sponsor.type == 'supporter' %}
                        Support sponsor
                        {% endif %}
                    </span>
                    <div class="Grid">
                        <div class="Grid-cell Grid-cell--1of3">
                            <figure class="Sponsor-logoWrap">
                                <img src="{{ MEDIA_URL }}{{ sponsor.image }}" alt="{{ sponsor.name }} logo" class="Sponsor-logo" />
                            </figure>
                        </div>
                        <div class="Grid-cell Grid-cell--2of3">
                            <strong class="Sponsor-name">{{ sponsor.name }}</strong>
                            <div class="Sponsor-body">
                                <div class="Passage">
                                    {{ sponsor.about|safe }}
                                </div>
                            </div>
                            <div class="Sponsor-meta">
                                <a href="{{ sponsor.url }}">{{ sponsor.url }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if jobs %}
                <div class="Jobs">
                    <h2 class="Sponsor-jobsHeading">Available job positions</h2>
                    <ul class="Jobs-list">
                        {% for job in jobs %}
                        <li class="Job Block Block--alpha">
                            <button type="button" class="Link Link--delta Job-readMore" data-job-slug="{{ job.title|slugify }}">{{ job.title }}</button>
                            <div class="Job-body" data-job-slug="{{ job.title|slugify }}">
                                <div class="Passage">
                                    {{ job.text|safe }}
                                </div>
                                <div class="Job-apply">
                                    <a href="{{ job.url }}" class="Button Button--gamma Button--rounded">Apply now!</a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

        </div>
    </section>

    {% include "partials/tickets.html" %}

    {% include "partials/sponsors.html" %}

    {% include "partials/user-groups.html" %}

    {% include "partials/bithub.html" %}

{% endblock %}
