<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{{ event.title }}{% endblock %}</title>

    <link rel="stylesheet" href="{% static "fonts/fira_code/fira_code.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "styles/style.css" %}">

    <link rel="shortcut icon" href="{% static "images/favicon/favicon.ico" %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static "images/favicon/apple-touch-icon-precomposed.png" %}" />

    <meta property="og:site_name" content="{{ event.extended_title }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>

    {% block og %}
        <meta property="og:title" content="{{ event.title }}" />
        <meta property="og:description" content="{{ event.tagline }}" />
    {% endblock %}

    {% block og_image %}
        <meta property="og:image" content="{{ webcamp.og_image.url }}"/>
        <meta property="og:image:width" content="{{ webcamp.og_image.width }}" />
        <meta property="og:image:height" content="{{ webcamp.og_image.height }}" />
    {% endblock %}

    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    {% if messages %}
    <div class="row column">
        <ul class="callout">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </p>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% block basecontent %}{% endblock %}

    {% include "partials/footer.html" %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).foundation();

        $(document).ready(function () {

            $("[data-scroll-to-top]").click(function (e) {
                e.preventDefault();
                $("html, body").animate({ scrollTop: 0 }, "slow");
            });
        });
    </script>

    {% block script %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35198834-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-35198834-5');
    </script>
</body>
</html>
