{% extends 'ui/base.html' %}
{% load static %}
{% block title %}Blog - WebCampZG 2015{% endblock %}
{% block content %}

    <header class="Header Hero Hero--cfp" role="banner">
        <div class="Hero-inner">
            <div class="Wrapper Wrapper--wide">
                {% include "partials/site-nav.html" %}
            </div>
            <div class="Punchline">
                <div class="Wrapper Wrapper--narrow">
                    <h2 class="Punchline-info">Blog</h2>
                </div>
            </div>
        </div>
    </header>

    <section class="Blog Intro Intro--beta">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <article class="Article Article--detail">
                <time class="Article-pubDate" pubdate="pubdate" datetime="2015-09-30T14:40">30.09.2015. / 14:30</time>
                <h1 class="Article-title">Introducing the Sponsors of the WebCamp 2015</h1>
                <p class="Article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac velit eleifend, porta orci non, dignissim odio. Etiam euismod risus blandit, vulputate felis a, faucibus eros. Vestibulum id egestas ex, nec efficitur lectus. Vestibulum odio erat, dignissim id rutrum euismod, ultricies in magna. Nullam blandit id risus at porta. Fusce dictum ac enim eget sollicitudin.</p>
                <div class="Article-body">
                    <div class="Passage">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin scelerisque tortor, quis maximus leo. Fusce rutrum interdum purus, eu aliquet turpis dignissim eu. Mauris sed enim lacinia, eleifend ex et, iaculis nibh. Nunc vel erat ac ligula finibus elementum a a nisi. Etiam pulvinar lacus velit, a bibendum est ullamcorper eu. Quisque ornare leo turpis, varius eleifend orci laoreet non. Nulla a tellus sem. Sed molestie elit eros, id tincidunt justo consectetur sit amet.</p>
                        <p>Donec iaculis ac mi ut rhoncus. Fusce vel nisi vel mauris imperdiet mollis. Curabitur fermentum justo quis nisi commodo, id vestibulum elit iaculis. Etiam ut lacinia arcu, interdum semper nisl. Nullam elit diam, consectetur quis luctus eget, venenatis ut neque. Suspendisse lobortis, eros vitae malesuada fringilla, urna nunc consequat odio, a placerat quam nisi nec arcu. Suspendisse turpis dui, malesuada sed consectetur ut, pellentesque eget sapien. Praesent facilisis posuere vulputate. Proin gravida tellus eget felis dignissim, in euismod sem lacinia. Vivamus scelerisque tellus arcu, ut maximus massa ultricies ac. Mauris commodo tortor lacus, at ultrices leo iaculis vel. Fusce congue tristique molestie. Pellentesque sodales dolor in dui porttitor, vel vestibulum dui gravida.</p>
                        <p>Praesent dictum facilisis gravida. Mauris sed felis laoreet, mattis elit sed, dignissim justo. Sed elementum sollicitudin augue ut convallis. Mauris et tellus maximus, fringilla quam eget, vehicula ipsum. Vivamus mauris enim, dapibus at arcu non, ultrices venenatis orci. Vivamus ut fermentum justo. Maecenas aliquet nulla ex, sed facilisis enim imperdiet at. Aenean pellentesque elit vel lacus scelerisque posuere eget vel lacus.</p>
                        <p>Sed a urna lectus. Etiam ut hendrerit metus. In hac habitasse platea dictumst. Vestibulum vehicula metus elit, ac imperdiet erat fringilla ut. Pellentesque ultricies a risus a porttitor. Aenean quis odio non justo laoreet interdum. Aliquam euismod ut diam non molestie. Cras accumsan, nulla in ultricies pretium, enim ante consectetur libero, ut bibendum lacus libero sed ligula. Nam at erat mauris. In dictum metus quis mollis suscipit. Nulla finibus mi in metus aliquam hendrerit. Proin id urna eu nunc viverra faucibus et vitae risus. Sed vel dui imperdiet, blandit odio sed, fermentum elit. Ut fermentum ligula sit amet elit mollis pellentesque. Curabitur tincidunt luctus viverra. Maecenas varius egestas urna eu convallis.</p>
                        <p>Proin consequat consectetur felis eu scelerisque. Vivamus eget elementum turpis. Nunc ut mauris ornare, luctus tellus sed, aliquam mauris. Nulla in feugiat nulla. Donec rhoncus interdum risus, tempus pulvinar nulla varius id. Morbi a tempus turpis. Integer eget nisl eu enim dictum mollis vel a odio. Vivamus tincidunt eu lectus vitae hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris efficitur odio mauris, id maximus sem sodales sit amet.</p>
                    </div>
                </div>
                <div class="ArticleSocial">
                    <h3 class="ArticleSocial-title">Share this article</h3>
                    <ul class="ArticleSocial-list">
                        <li><a class="js-sharePopup" href="https://www.facebook.com/sharer/sharer.php?u=URL"><svg class="Icon Icon--social"><title>Share on Facebook</title><use xlink:href="{% static 'images/sprite.svg' %}#Sprite-facebook"></use></svg></a></li>
                        <li><a class="js-sharePopup" href="https://twitter.com/intent/tweet?text=URL"><svg class="Icon Icon--social"><title>Share on Twitter</title><use xlink:href="{% static 'images/sprite.svg' %}#Sprite-twitter"></use></svg></a></li>
                    </ul>
                </div>
                <nav class="ArticleNav">
                    <ul class="ArticleNav-list">
                        <li><a class="Article-link Button Button--gamma Button--rounded" href="{% url 'blog_article_temp' %}">Previous article</a></li>
                        <li><a class="Article-link Button Button--gamma Button--rounded" href="{% url 'blog_article_temp' %}">Next article</a></li>
                    </ul>
                </nav>
            </article>
        </div>
    </section>

    {% include "partials/sponsors.html" %}

{% endblock %}

