{% extends 'ui/base.html' %}
{% block title %}Blog - WebCampZG 2015{% endblock %}
{% block content %}

    <header class="Header Hero Hero--blog" role="banner">
        <div class="Hero-inner">
            <div class="Wrapper Wrapper--wide">
                {% include "partials/site-nav.html" %}
            </div>
            <div class="Punchline">
                <div class="Wrapper Wrapper--narrow">
                    <h2 class="Punchline-info">Blog</h2>
                </div>
            </div>
        </div>
    </header>

    <section class="Blog Intro Intro--beta">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <h1 class="Intro-title">Latest news</h1>
            <ul class="Blog-list">
                <li>
                    <article class="Article">
                        <time class="Article-pubDate" pubdate="pubdate" datetime="2015-09-30T14:40">30.09.2015. / 14:30</time>
                        <h3 class="Article-title"><a href="{% url 'blog_article_temp' %}">Introducing the Sponsors of the WebCamp 2015</a></h3>
                        <p class="Article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac velit eleifend, porta orci non, dignissim odio. Etiam euismod risus blandit, vulputate felis a, faucibus eros. Vestibulum id egestas ex, nec efficitur lectus. Vestibulum odio erat, dignissim id rutrum euismod, ultricies in magna. Nullam blandit id risus at porta. Fusce dictum ac enim eget sollicitudin.</p>
                        <p><a class="Article-link Article-link--readMore Button Button--gamma Button--rounded" href="{% url 'blog_article_temp' %}">Read more</a></p>
                    </article>
                </li>
                <li>
                    <article class="Article">
                        <time class="Article-pubDate" pubdate="pubdate" datetime="2015-09-30T14:40">30.09.2015. / 14:30</time>
                        <h3 class="Article-title"><a href="{% url 'blog_article_temp' %}">Introducing the Sponsors of the WebCamp 2015</a></h3>
                        <p class="Article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac velit eleifend, porta orci non, dignissim odio. Etiam euismod risus blandit, vulputate felis a, faucibus eros. Vestibulum id egestas ex, nec efficitur lectus. Vestibulum odio erat, dignissim id rutrum euismod, ultricies in magna. Nullam blandit id risus at porta. Fusce dictum ac enim eget sollicitudin.</p>
                        <p><a class="Article-link Article-link--readMore Button Button--gamma Button--rounded" href="{% url 'blog_article_temp' %}">Read more</a></p>
                    </article>
                </li>
            </ul>
        </div>
    </section>

    {% include "partials/sponsors.html" %}

{% endblock %}

