{% extends 'ui/base.html' %}

{% load static %}

{% block title %}{{ event.title }} - {{ event.tagline }}{% endblock %}

{% block head %}
    <meta name="description" content="WebCamp Zagreb is a technology oriented conference for developers &amp; designers taking place on {{ event.dates_text }} in Zagreb, Croatia.">
{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ event.title }} - {{ event.tagline }}" />
    <meta property="og:description" content="WebCamp Zagreb is a technology oriented conference for developers &amp; designers taking place on {{ event.dates_text }} in Zagreb, Croatia." />
{% endblock %}

{% block basecontent %}
    {% include "partials/hero.html" %}

    {# Show CFP if active, otherwise CFS #}
    {% with cfp=event.get_active_cfp %}
        {% if cfp %}
            {% include "partials/call-for-papers.html" with cfp=cfp only %}
        {% else %}
            {% include "partials/call-for-sponsors.html" %}
        {% endif %}
    {% endwith %}

    {% include "partials/news.html" %}
    {# {% include "partials/keynotes.html" %} #}
    {% include "talks/partials/random-talks.html" %}
    {% include "partials/newsletter.html" %}
    {# {% include "workshops/partials/random-workshops.html" %} #}
    {# {% include "partials/tickets.html" %} #}
    {% include "partials/sponsors.html" %}
    {% include "partials/user-groups.html" %}
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $(".hero-wrapper").mousemove(function(e) {
        var $hero = $(".hero-wrapper");
        var top = $hero.offset().top;
        var width = $hero.width();
        var height = $hero.height();

        var deltaX = 2 * ((e.pageX / width) - 0.5);
        var positionX = Math.round(50 + 8 * deltaX) + "%";

        var deltaY = 2 * (((e.pageY - top) / height) - 0.5);
        var positionY = -1 * Math.round(15 * deltaY) + "px";

        $hero.css("background-position", [positionX, positionY].join(" "));
    });
});
</script>
{% endblock %}
