{% extends 'ui/base.html' %}

{% load static %}

{% block title %}{{ webcamp.extended_title }} - {{ webcamp.tagline }}{% endblock %}

{% block head %}
    <meta name="description" content="WebCamp Zagreb is a technology oriented conference for developers &amp; designers taking place on {{ webcamp.dates|safe }} in Zagreb, Croatia.">
{% endblock %}

{% block basecontent %}
    {% include "partials/hero.html" %}
    {% include "partials/newsletter.html" %}
    {% include "partials/news.html" %}
    {% include "partials/tickets.html" %}
    {% include "partials/sponsors.html" %}
    {% include "partials/user-groups.html" %}
{% endblock %}
