{% extends 'ui/page.html' %}

{% load static webcamp %}

{% block title %}The Team - {{ event.extended_title }}{% endblock %}

{% block content %}
<div class="container">
    <h1>The team</h1>

    <p>WebCamp Zagreb is organized by a dedicated team of volunteers.</p>

    <p>If you are interested in joining the herd, <a href="mailto:info@webcampzg.org">give us a shout</a>.</p>

    <div class="team-members">
        {% for member in team %}
        <div>
            <img src="{% static member.image %}" alt="{{ member.name }}" />
            <p class="text-center">
                <b>{{ member.name }}</b><br />
                {% if member.twitter %}
                    {% icon "brands/twitter" %}
                    <a href="https://twitter.com/{{ member.twitter }}">@{{ member.twitter }}</a><br />
                {% endif %}
                {{ member.job }}
            </p>
        </div>
        {% endfor %}
    </div>

    {% if committee %}
    <h2 class="green-dash" id="talks-committee">Talks_committee_</h2>

    <p>Talks submitted to WebCamp Zagreb are reviewed and selected by a group of your peers with various areas of expertise.</p>

    <div class="team-members">
        {% for member in committee %}
        <div>
            <img src="{% static member.image %}" alt="{{ member.name }}" />
            <p class="text-center">
                <b>{{ member.name }}</b><br />
                {% if member.twitter %}
                    {% icon "brands/twitter" %}
                    <a href="https://twitter.com/{{ member.twitter }}">@{{ member.twitter }}</a><br />
                {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <h2 id="user-groups">User groups</h2>

    <p>We support and are supported by local user groups.</p>

    <div class="user-groups">
    {% for group in usergroups %}
        <div class="user-group">
            <a href="{{ group.webpage_url }}" title="{{ group.name }}">
                <div class="text-center">
                    <img src="{{ MEDIA_URL }}{{ group.image }}" alt="{{ group.name }} logo" />
                </div>
            </a>
            <a href="{{ group.webpage_url }}" title="{{ group.name }}">
                {{ group.name }}
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
