{% extends 'ui/page.html' %}

{% load static %}

{% block title %}The Team - {{ event.extended_title }}{% endblock %}

{% block content %}
<div class="row column">
    <h1 class="red-arrow">The_team_</h1>

    <p>WebCamp Zagreb is organized by a dedicated team of volunteers.</p>

    <p>If you are interested in joining the herd, <a href="mailto:info@webcampzg.org">give us a shout</a>.</p>

    <div class="row">
        {% for member in team %}
        <div class="small-12 medium-3 columns text-center">
            <img class="thumbnail" src="{% static member.image %}" alt="{{ member.name }}" />
            <p>
                <b>{{ member.name }}</b><br />
                {% if member.twitter %}
                    <i class="fa fa-twitter"></i>
                    <a href="https://twitter.com/{{ member.twitter }}">@{{ member.twitter }}</a><br />
                {% endif %}
                {{ member.job }}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
