{% extends 'ui/base.html' %}

{% load static %}

{% block title %}Tickets for sale - {{ webcamp.extended_title }}{% endblock %}

{% block head %}
    <meta name="description" content="Tickets are available and valid for both conference days. They include a T-shirt and a swag bag with goodies. The price is 500kn (~€65). Grab them now!">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Tickets still available, but not for long!" />
    <meta property="og:description" content="Tickets are available and valid for both conference days. They include a T-shirt and a swag bag with goodies. The price is 500HRK (~€65). Grab them now!" />
    <meta property="og:image" content="{{ base_url }}{% static 'images/webcamp-tickets-for-sale.jpg' %}" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
{% endblock %}

{% block content %}

    {% include "partials/header.html" with hero_type="main" title="Tickets" %}

    <section class="Spotlight">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <div class="Passage">
                <h2 class="Spotlight-title">Acquiring tickets</h2>
                <div class="Spotlight-body">

                    <p>Tickets are sold via <a href="{{ links.entrio }}">Entrio online shop</a>.
                    You can pay by credit card (Mastercard, Maestro, Visa, Amex, Diners) or bank
                    transfer.</p>

                    <p>There's only one category of tickets, which will get you entrance to both
                    conference days and includes a T-shirt and a swag bag with goodies. The price
                    of the ticket is <em>300kn (~€40)</em> during the early bird period which ends
                    on <strong>June 26th</strong>. After that the price of the ticket will be 500kn
                    (~€65).</p>

                    <p>We will host a number of quality talks. Last year we introduced the concept of
                    the <a href="http://2015.webcampzg.org/blog/view/introducing-popular-vote/">popular vote</a>,
                    which means that ticket holders will get a chance to vote on a number of talks
                    to be included in the official talks roster.</p>

                    <p>If you don't want to pay for a ticket, submit a talk to one of our user
                    groups today:
                    {% for ug in usergroups %}
                        {% if not forloop.first and not forloop.last %},{% endif %}
                        {% if forloop.last %}, or {% endif %}
                        <a href="{{ ug.url }}">{{ ug.name }}</a>
                    {% endfor %}.
                    All speakers who speak at one of our meetups in the period since WebCamp
                    Zagreb 2015 until this year's conference will get a free ticket.</p>
                    <p>By buying a ticket, you agree to follow our <a href="/code">Code of Conduct</a>.</p>
                    <p>Tickets are in limited number so get them while you can!</p>

                    <script src="https://www.entrio.hr/en/widgets/single_event_widget/2005/dark"></script>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/groups/bottom_default.html" %}

{% endblock %}

