{% extends 'ui/base.html' %}

{% block title %}Timeline - {{ webcamp.extended_title }}{% endblock %}

{% block og %}
    <meta property="og:title" content="Visitors information - {{ webcamp.extended_title }}" />
    <meta property="og:image" content="{{ webcamp.og_image.url }}"/>
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
{% endblock %}

{% block content %}

    {% include "partials/header.html" with hero_type="cfp" title="Timeline" %}

    <section class="Spotlight">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <div class="Passage">
                <div class="Spotlight-body">
                    <p>Timeline</p>
                    <pre>
2016-05-31	CFP Round 1 ends
2016-06-07	Round 1 talks selected
2016-06-14	Early bird tickets sale end
2016-06-21	Round 1 speakers booked (travel and accommodation)
2016-08-30	CFP Round 2 ends
2016-09-06	Round 2 talks selected
2016-09-13	Complete list of speakers announced
2016-09-13	Rejection emails sent
2016-09-20	Round 2 speakers booked (travel and accommodation)
2016-10-01	Speakers training *exact date TBA
2016-10-06	Late bird tickets sale end (no swag remains)
2016-10-06	Sponsor packages sale end (web only remains)
2016-10-20	Deadline for sponsors swag collection
2016-10-27	Late bird tickets without swag sale end
2016-10-27	Speakers dinner
2016-10-28	Conference, day 1
2016-10-29	Conference, day 2
                    </pre>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/sponsors.html" %}

    {% include "partials/user-groups.html" %}

{% endblock %}

