{% extends 'ui/base.html' %}

{% block title %}Timeline - {{ webcamp.extended_title }}{% endblock %}

{% block og %}
    <meta property="og:title" content="Visitors information - {{ webcamp.extended_title }}" />
    <meta property="og:image" content="https://2015.webcampzg.org/static/images/webcamp-zagreb-conference.jpg"/>
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
{% endblock %}

{% block content %}

    {% include "partials/header.html" with hero_type="cfp" title="Timeline" %}

    <section class="Spotlight">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <div class="Passage">
                <div class="Spotlight-body">
                    <p>Timeline</p>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/sponsors.html" %}

    {% include "partials/user-groups.html" %}

{% endblock %}

