{% extends 'ui/base.html' %}

{% block title %}Venue - WebCamp Zagreb Conference 2015{% endblock %}

{% block og %}
    <meta property="og:title" content="Venue - WebCamp Zagreb Conference 2015" />
    <meta property="og:image" content="https://2015.webcampzg.org/static/images/webcamp-zagreb-conference.jpg"/>
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
{% endblock %}

{% block content %}

    {% include "partials/header.html" with hero_type="cfp" title="Venue" %}

    <section class="Visitors Spotlight">
        <div class="Wrapper Wrapper--narrow Wrapper--withFlair">
            <div class="Passage">
                <div class="Spotlight-body">
                    <p>WebCamp Zagreb conference is held at <b>Hypo Expo XXI</b> conference center, Slavonska avenija 6, Zagreb</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1390.9408198638555!2d15.969876007934568!3d45.793598917803536!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x6209a54a6e83b8e1!2sHypo+centar!5e0!3m2!1sen!2sus!4v1443093035356" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <h3>Parking</h3>

                <p>The conference center has an underground garage which can be accessed from the south and costs 6kn/h.T here is plenty of free parking in the area around the conference center. Finally, there are many paid parking spaces located on the street level south of Slavonska avenija (Zagreb parking 3rd zone) for 1,5kn/h. These spaces are charged on Friday between 7:00 to 20:00 and Saturday between 7:00 to 15:00.</p>
            </div>
        </div>
    </section>

    {% include "partials/sponsors.html" %}

    {% include "partials/user-groups.html" %}

{% endblock %}

