/**
 * =============================================================================
 * User access (login, registration)
 * =============================================================================
 */

.UserAccess {
    margin:1rem 0;
    padding:0 1rem;
    color:#fff;

    .Form-legend {
        width:4.5em;
    }

    .Button {
        width:100%;
    }

    &-constrain {

        @media screen and (min-width:500px) {
            max-width:380px;
            margin-left:auto; margin-right:auto;
        }
    }

    &-accessHelp {
        text-align:center;
        margin-top:1em;

        @media screen and (min-width:$bp-beta) {
            text-align:right;
        }
    }
}
