/**
 * =============================================================================
 * Bithub
 * =============================================================================
 */

.Bithub {

    .bithub-embed {
        color:#fff;
    }

    .Promote-body {
        padding-right:44px;

        @media screen and (min-width:$bp-epsilon) {
            padding-top:24px;
        }

        .Wrapper {
            height:600px;
        }
    }

    .no-touchevents & {
        padding-right:0;
    }
}
