/**
 * =============================================================================
 * Messages
 * =============================================================================
 */

.Messages {
    z-index:100;
    padding:1rem;
    font-size:1em; font-weight:700;
    color:#fff;

    @media screen and (min-width:$bp-beta) {
        padding:1.5em 2.5em;
        font-size:1.1em;
    }
}
