/**
 * =============================================================================
 * Cookie policy
 * =============================================================================
 */

.CookiePolicy {
    border-bottom:10px solid #fff;
    background:$color-brand-beta;
    transition:all 0.3s ease-in-out;
    transition-property:opacity, visibility;
    opacity:0;

    &.is-visible {
        opacity:1;
    }

    &.is-agreed {
        display:none;

        @media screen and (min-width:$bp-gamma) {
            display:block;
            opacity:0;
            visibility:hidden;
        }
    }

    .Button {
        margin-top:1rem;
        font-size:1.3em;

        @media screen and (min-width:$bp-gamma) {
            margin-top:0;
            font-size:1.5em;
        }
    }

    @media screen and (min-width:$bp-gamma) {
        position:fixed; bottom:calc(20px + 2rem); left:calc(20px + 2rem); right:calc(20px + 2rem);
        border-bottom-width:0;
        box-shadow:0 0 0 5px rgba(#fff, 0.2);

        .Grid-cell {
            align-self:center;
        }

        @media screen and (max-width:(1200px - 1)) {
            bottom:10px; left:10px; right:10px;
            padding:1em;

            .Grid {
                margin:0;

                &-cell {
                    padding:0;
                }
            }

            &-body {

                &.Grid-cell {
                    padding-right:1rem;
                }
            }
        }
    }
}
