/**
 * =============================================================================
 * Notice
 * =============================================================================
 */

.Notice {
    position:absolute; top:10px; left:10px; right:10px; z-index:100;
    text-align:center;
    animation: notice-fade-out 0.3s ease-in-out 3s;
    animation-fill-mode:forwards;
    box-shadow:0 0 0 5px rgba(#fff, 0.2);
    background:rgba($color-base, 0.7);

    @media screen and (min-width:$bp-alpha) {
        top:calc(10px + 1rem); left:calc(10px + 1rem); right:calc(10px + 1rem);
    }

    @media screen and (min-width:$bp-beta) {
        top:calc(20px + 2rem);
        left:50%; right:auto;
        transform:translateX(-50%);
    }
}

@keyframes notice-fade-out {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        visibility:hidden;
    }
}
