/**
 * =============================================================================
 * Listing
 * =============================================================================
 */

.Listing {

    .Spotlight-title {
        margin-bottom:1rem;

        @media screen and (min-width:$bp-beta) {
            margin-bottom:2.5rem;
        }
    }

    &-item {
        margin-top:1.7em; padding-top:1.7em;
        border-top:1px solid $color-gray-gamma;

        &:first-child {
            margin-top:0; padding-top:0;
            border-top-width:0;
        }

        &:nth-child(2n+1) {

            .FlairFigure {

                &:before,
                &:after {
                    transform:rotate(180deg);
                    top:auto; right:auto; bottom:auto; left:auto;
                }

                &:before {
                    right:0; bottom:0;
                }

                &:after {
                    left:0; top:0;
                }
            }
        }
    }

    &-nav {
        margin-top:1.5rem;
        text-align:center;
    }

    &-link {
        width:100%;
        padding:0.6em 1.2em;
        font-size:1em;
        text-transform:uppercase;

        @media screen and (min-width:$bp-alpha) {
            width:auto;
        }

        @media screen and (min-width:$bp-beta) {
            font-size:1.3em;
        }
    }
}
