{% extends 'ui/page.html' %}

{% load schedule_tags %}

{% block title %}Schedule - {{ event.extended_title }}{% endblock %}

{% block head %}
    <meta name="description" content="{{ event.extended_title }} talks schedule. 2 days, 2 tracks, 2 keynote speakers and 28 talks at {{ event.title }} for web devs & designers.">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Schedule - {{ event.extended_title }}" />
    <meta property="og:description" content="{{ event.extended_title }} talks schedule. 2 days, 2 tracks, 2 keynote speakers and 28 talks at {{ event.title }} for web devs & designers." />
{% endblock %}

{% block content %}
    <section class="schedule">
        <h1 class="red-dash">Schedule_</h1>

        <p><em>The schedule has not yet been published.</em></p>

        {% comment %}
        <h3>Friday, October 6th</h3>
        <table id="schedule-day-1" class="schedule-table hover unstriped">
            <thead>
                <tr>
                    <th aria-hidden="true">&nbsp;</th>
                    <th class="text-center">
                        <a href="{% url 'sponsors_view_sponsor' slug='amphinicy-technologies' %}">
                            <img style="width: 10rem" src="{{ MEDIA_URL }}uploads/sponsors/amphinicy.svg" alt="Amphinicy Technologies" class="track-logo">
                        </a>
                    </th>
                    <th class="text-center">
                        <a href="{% url 'sponsors_view_sponsor' slug='trikoder' %}">
                            <img style="width: 12rem" src="{{ MEDIA_URL }}uploads/sponsors/trikoder-logo.svg" alt="Trikoder" class="track-logo">
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% include "schedule/partials/spacer.html" with time="08:30" text="Doors open" %}
                {% include "schedule/partials/spacer.html" with time="10:00" text="Opening word" %}
                {% include "schedule/partials/keynote.html" with time="10:15" slug="programming-across-paradigms" %}
                {% include "schedule/partials/spacer.html" with time="11:15" text="Division break" %}
                {% include "schedule/partials/talk_pair.html" with time="11:45" left="writing-code-pfft-evolve-it-instead" right="design-adventures-in-open-source" %}
                {% include "schedule/partials/talk_pair.html" with time="12:15" left="year-with-eventsourcing-and-cqrs" right="build-bridges-not-wallsdesign-for-users-across-cultures" %}
                {% include "schedule/partials/talk_pair.html" with time="13:05" left="getting-test-data-for-your-system-as-hard-core-and-as-fun-as-it-gets" right="user-testing-on-two-year-olds" %}
                {% include "schedule/partials/lunch.html" with time="13:35" %}
                {% include "schedule/partials/talk_pair.html" with time="15:05" left="2nd-hardest-thing-in-computer-science" right="turn-zero-to-hero" %}
                {% include "schedule/partials/talk_pair.html" with time="15:35" left="elements-of-scalable-architecture" right="software-industry-is-making-us-stupid" %}
                {% include "schedule/partials/spacer.html" with time="16:25" text="Break" %}
                {% include "schedule/partials/talk_pair.html" with time="16:55" left="developing-a-safer-web-with-rust" right="frontend-creativity-with-web-animations" %}
                {% include "schedule/partials/talk_pair.html" with time="17:25" left="the-state-of-chatbots-in-2017" right="debugging-communication" %}
                {% include "schedule/partials/spacer.html" with time="17:55" text="End of day" %}
                {% include "schedule/partials/drinkup.html" with time="18:00" %}
            </tbody>
        </table>

        <hr />

        <h3 class="arrow">Saturday, October 7th</h3>
        <table id="schedule-day-2" class="schedule-table hover unstriped">
            <thead>
                <tr>
                    <th aria-hidden="true">&nbsp;</th>
                    <th class="text-center">
                        <a href="{% url 'sponsors_view_sponsor' slug='amphinicy-technologies' %}">
                            <img style="width: 10rem" src="{{ MEDIA_URL }}uploads/sponsors/amphinicy.svg" alt="Amphinicy Technologies" class="track-logo">
                        </a>
                    </th>
                    <th class="text-center">
                        <a href="{% url 'sponsors_view_sponsor' slug='trikoder' %}">
                            <img style="width: 12rem" src="{{ MEDIA_URL }}uploads/sponsors/trikoder-logo.svg" alt="Trikoder" class="track-logo">
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% include "schedule/partials/spacer.html" with time="08:30"    text="Doors open" %}
                {% include "schedule/partials/spacer.html" with time="10:00"    text="Opening word" %}
                {% include "schedule/partials/keynote.html" with time="10:15"   slug="css-grid-changes-everything-about-web-layouts" %}
                {% include "schedule/partials/spacer.html" with time="11:15"    text="Division break" %}
                {% include "schedule/partials/talk_pair.html" with time="11:45" left="a-geography-of-design" right="taming-legacy-on-a-live-project" %}
                {% include "schedule/partials/talk_pair.html" with time="12:15" left="the-async-nightmare" right="the-holy-trinity-of-monitoring-logs-metrics-and-traces" %}
                {% include "schedule/partials/talk_pair.html" with time="13:05" left="adventurous-experiences-of-a-remote-product-designer" right="ops-i-did-it-again" %}
                {% include "schedule/partials/lunch.html" with time="13:35" %}
                {% include "schedule/partials/talk_pair.html" with time="15:05" left="technical-career-path-from-junior-to-senior-thru-chosen-chapters-of-software-literature" right="cooking-with-large-batches-of-object-storage" %}
                {% include "schedule/partials/talk_pair.html" with time="15:35" left="neuroscience-and-how-to-design-brand-driven-ux" right="microservices-in-production-a-case-study" %}
                {% include "schedule/partials/spacer.html" with time="16:25"    text="Break" %}
                {% include "schedule/partials/talk_pair.html" with time="16:55" left="unlocking-the-full-potential-of-svg" right="automating-drone-with-real-time-video-processing-and-nodejs" %}
                {% include "schedule/partials/talk_pair.html" with time="17:25" left="building-a-poor-mans-react" right="running-webservices-on-resource-limited-embedded-platforms" %}
                {% include "schedule/partials/spacer.html" with time="18:00"    text="Closing word" %}
            </tbody>
        </table>
        {% endcomment %}

    </section>
{% endblock %}
