{% extends 'ui/page.html' %}

{% load schedule_tags %}

{% block title %}Schedule - {{ event.extended_title }}{% endblock %}

{% block head %}
    <meta name="description" content="{{ event.extended_title }} talks schedule. 2 days, 2 tracks, 2 keynote speakers and 28 talks at {{ event.title }} for web devs & designers.">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Schedule - {{ event.extended_title }}" />
    <meta property="og:description" content="{{ event.extended_title }} talks schedule. 2 days, 2 tracks, 2 keynote speakers and 28 talks at {{ event.title }} for web devs & designers." />
{% endblock %}

{% block content %}
    <section class="schedule">
        <h1 class="red-dash">Schedule_</h1>

        <h3>Friday, October 5th</h3>
        <table id="schedule-day-1" class="schedule-table hover unstriped">
            <thead>
                <tr>
                    <th aria-hidden="true">&nbsp;</th>
                    <th class="text-center">
                        <a href="{% url 'sponsors_view_sponsor' slug='nsoft' %}">
                            <img style="width: 10rem" src="{{ MEDIA_URL }}uploads/sponsors/Nsoft_logo_2017.png" alt="Amphinicy Technologies" class="track-logo">
                        </a>
                    </th>
                    <th class="text-center">
                        <a href="{% url 'sponsors_view_sponsor' slug='trikoder' %}">
                            <img style="width: 12rem" src="{{ MEDIA_URL }}uploads/sponsors/trikoder-logo.svg" alt="Trikoder" class="track-logo">
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% include "schedule/partials/spacer.html" with time="08:30" text="Doors open" %}
                {% include "schedule/partials/spacer.html" with time="10:00" text="Opening word" %}
                {% include "schedule/partials/keynote.html" with time="10:15" slug="taking-ci-and-automated-testing-seriously" %}
                {% include "schedule/partials/spacer.html" with time="11:15" text="Division break" %}
                {% include "schedule/partials/talk_pair.html" with time="11:45" left="property-based-testing-is-a-mindset" right="algorithms-arent-neutral-making-ux-inclusive" %}
                {% include "schedule/partials/talk_pair.html" with time="12:15" left="modern-sql-evolution-of-a-dinosaur" right="designing-with-accessibility-in-mind" %}
                {% include "schedule/partials/talk_pair.html" with time="13:05" left="the-other-side-of-webapp-security" right="optimizing-page-load-speed-on-front-end-side" %}
                {% include "schedule/partials/lunch.html" with time="13:30" %}
                {% include "schedule/partials/talk_pair.html" with time="15:00" left="static-websites-the-final-frontier" right="accessible-charts-done-right" %}
                {% include "schedule/partials/talk_pair.html" with time="15:30" left="eme-cdm-drm-cenc-idk" right="a-token-walks-into-a-spa" %}
                {% include "schedule/partials/spacer.html" with time="16:20" text="Break" %}
                {% include "schedule/partials/talk_pair.html" with time="16:50" left="containers-vs-serverless-from-a-devops-standpoint" right="where-are-the-women" %}
                {% include "schedule/partials/talk_pair.html" with time="17:20" left="pragmatic-execution-tracing" right="how-did-we-open-source-our-knowledge-and-practices" %}
                {% include "schedule/partials/talk_pair.html" with time="17:50" left="headless-architecture-and-the-future-of-websites" right="a-sleek-view-transitions-recipe-for-web-apps" %}
                {% include "schedule/partials/spacer.html" with time="18:20" text="End of day" %}
            </tbody>
        </table>

        <hr />

        <h3 class="arrow">Saturday, October 6th</h3>
        <table id="schedule-day-2" class="schedule-table hover unstriped">
            <thead>
                <tr>
                    <th aria-hidden="true">&nbsp;</th>
                    <th class="text-center">
                        <a href="{% url 'sponsors_view_sponsor' slug='nsoft' %}">
                            <img style="width: 10rem" src="{{ MEDIA_URL }}uploads/sponsors/Nsoft_logo_2017.png" alt="Amphinicy Technologies" class="track-logo">
                        </a>
                    </th>
                    <th class="text-center">
                        <a href="{% url 'sponsors_view_sponsor' slug='trikoder' %}">
                            <img style="width: 12rem" src="{{ MEDIA_URL }}uploads/sponsors/trikoder-logo.svg" alt="Trikoder" class="track-logo">
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% include "schedule/partials/spacer.html" with time="08:30"    text="Doors open" %}
                {% include "schedule/partials/spacer.html" with time="10:00"    text="Opening word" %}
                {% include "schedule/partials/keynote.html" with time="10:15"   slug="nitpicking-terminology-are-we-using-the-right-terms" %}
                {% include "schedule/partials/spacer.html" with time="11:15"    text="Division break" %}
                {% include "schedule/partials/talk_pair.html" with time="11:45" left="fearless-concurrency-with-javascript-and-beyond" right="writing-superpowers-for-geeks" %}
                {% include "schedule/partials/talk_pair.html" with time="12:15" left="crunching-data-in-real-time-for-fortune500-clients" right="the-developers-model-for-talking-to-managers" %}
                {% include "schedule/partials/talk_pair.html" with time="13:05" left="shoving-your-application-code-into-the-web-server" right="pricing-shouldnt-be-hard" %}
                {% include "schedule/partials/lunch.html" with time="13:30" %}
                {% include "schedule/partials/talk_pair.html" with time="15:00" left="do-you-really-need-websockets" right="the-power-of-persuasive-design" %}
                {% include "schedule/partials/talk_pair.html" with time="15:30" left="make-coding-fun-developing-a-game-in-the-browser" right="designing-for-impact" %}
                {% include "schedule/partials/spacer.html" with time="16:20"    text="Break" %}
                {% include "schedule/partials/talk_pair.html" with time="16:50" left="who-takes-out-your-trash" right="delivering-fast-and-beautiful-images-and-video" %}
                {% include "schedule/partials/talk_pair.html" with time="17:20" left="why-we-love-vuejs-at-nsoft" right="fluid-typography" %}
                {% include "schedule/partials/spacer.html" with time="17:50"    text="Closing word" %}
                {% include "schedule/partials/drinkup.html" with time="18:10" %}
            </tbody>
        </table>
    </section>
{% endblock %}
