{% extends 'ui/page.html' %}

{% load static %}

{% block title %}Jobs - {{ event.extended_title }}{% endblock %}

{% block og %}
    <meta property="og:title" content="Jobs - {{ event.extended_title }}" />
{% endblock %}

{% block content %}
    <section>
        <h1>Jobs</h1>

        {% if jobs %}
            {% include "partials/jobs.html" with jobs=jobs %}
        {% else %}
            <p><em>No jobs have been published so far. Check back soon.</em></p>
        {% endif %}
    </section>
{% endblock %}
