{% extends 'ui/page.html' %}

{% load static %}

{% block title %}Jobs - {{ webcamp.extended_title }}{% endblock %}

{% block og %}
    <meta property="og:title" content="Jobs - {{ webcamp.extended_title }}" />
{% endblock %}

{% block content %}
    <section>
        <h1 class="red-arrow">Jobs_</h1>

        {% if jobs %}
        <div class="Jobs">
            {% include "partials/jobs.html" with jobs=jobs show_sponsor_name="true" %}
        </div>
        {% endif %}

    </section>
{% endblock %}
