{% extends 'ui/page.html' %}

{% load static %}

{% block title %}Workshops - {{ event.extended_title }}{% endblock %}

{% block head %}
    <meta name="description" content="This year we present you only with the finest, hand-picked, locally sourced, gluten-free and organic workshops.">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Workshops - {{ event.extended_title }}" />
    <meta property="og:description" content="This year we present you only with the finest, hand-picked, locally sourced, gluten-free and organic workshops." />
{% endblock %}

{% block content %}
    <h1 class="red-dash">Workshops_</h1>

    <p>This year we present you only with the finest, hand-picked, locally
        sourced, gluten-free and organic workshops. Tickets are limited so don't
        waste time and get them while they're hot.</p>

    <p>Ticket sales start on August 2nd at 10:00 and you can buy them on
        <a href="https://www.entrio.hr/en/event/webcamp-workshops-2018-5354">Entrio</a>.</p>

    <p>All workshops take place on the 1st floor of the
        <a href="/venue/">Plaza Event Centar</a>.</p>

    <hr />

    {% for workshop in workshops %}
        {% include "workshops/partials/workshop.html" with workshop=workshop %}
        {% if not forloop.last %}
            <hr />
        {% endif %}
    {% empty %}
        <p>No workshops published yet.</p>
    {% endfor %}
{% endblock %}
