/**
 * =============================================================================
 * Visitors information
 * =============================================================================
 */

.Visitors {

    &-cta {
        text-align:center;
        font-size:0.9em;

        .Button {
            margin:0.5rem 0;
        }

        @media screen and (min-width:$bp-beta) {
            margin:2rem 0;
            font-size:0.7em;

            .Button {
                margin:0 0.5rem;
            }
        }
    }
}
